article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

html {
  background: $color-page-background;
  color: $color-text;
  font-family: $font-body;
  font-size: 62.5%;
  height: 100%;
  line-height: $line-height;
  overflow-y: scroll;
  text-size-adjust: none;
}

body {
  margin: 0;
}


