.header {
  @include devborder(green);

  display: flex;
  height: 100vh;
  margin: 0 auto;
  max-width: $maxw-site;
  min-height: 60vw;

  @include mq($bp-medium) {
    min-height: 480px;
  }

  @include mq-ratio(max) {
    height: 100vh - $himg-space;
    max-height: $maxh-header;
    min-height: inherit;
    padding-bottom: $himg-space;
  }

  @include mq-ratio() {
    align-items: center;
  }

  &__content {
    @include devborder(brown);

    box-sizing: border-box;
    padding: $gutter;
    position: relative;
    z-index: 2;
  }

  &__text {
    @include devborder(blue);

    max-width: $maxw-site - (2 * $gutter);
    min-height: 108px;
    position: relative;
    width: calc(100vw - 40px);

    @include mq(300) {
      min-height: 36vw;
    }

    @include mq($bp-medium) {
      min-height: 288px;
    }

    h1 {
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transform: translateY(10%);
    }
  }
}

.article {
  @include devborder(pink);

  box-sizing: border-box;
  max-width: $maxw-site;
  padding: $gutter;
}
