.site {
  margin: 0 auto;
  min-height: 100vh;
}

.mod {
  display: flex;
  position: relative;
  z-index: 2;

  &__content {
    box-sizing: border-box;
    max-width: $max-width;
    padding: 5vh 5% 12vh;
    position: relative;
    z-index: 2;
  }

  &__background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  &--header {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;

    p:first-child {
      margin-bottom: 5vh;
      padding-bottom: 2vh;
      position: relative;

      &::after {
        background: shade($color-white, 60);
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 50px;
      }
    }
  }

  &--main {
    align-items: center;
    background: $color-page-background;
    justify-content: center;
    min-height: 100vh;
  }
}

