main {
  box-sizing: border-box;
  margin: (80 / (1000 / 100)) + vw auto;
  max-width: 1200px;
  padding: (40 / (1000 / 100)) + vw;

  @include mq(1000) {
    margin: 80px auto;
    padding: 40px;
  }
}
