body {
  @include text-size(16, $bp-small, $bp-medium);

  background: $color-black url(../img/noise.png);
  line-height: $lh-body;
  margin: 0;
  padding: 0;

  > * {
    visibility: visible;
  }
}

// BUTTON

.buttons {
  @include devborder(purple);

  display: flex;
  flex-wrap: wrap;
  // width: 120px;

  @include mq-ratio(max) {
    flex-direction: row;
    max-width: 100px;
    width: 16vw;
  }

  li {
    opacity: 0;

    @for $i from 1 through 3 {

      &:nth-child(#{$i}) {
        transition: opacity 600ms (150ms * $i + 800ms) ease-in-out;
      }
    }

    .wf-active & {
      opacity: 1;
    }
  }
}

.button {
  background-color: $color-grey-800;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 8vw 8vw;
  border-radius: 50%;
  display: block;
  font-weight: 700;
  height: 16vw;
  line-height: $lh-title;
  margin-right: 20px;
  max-height: 100px;
  max-width: 100px;
  opacity: .6;
  overflow: hidden;
  text-indent: -9999px;
  text-transform: uppercase;
  width: 16vw;
  z-index: 1;

  .touchevents & {
    opacity: 1;
  }

  &:hover {
    opacity: 1;
    z-index: 2;
  }

  @include mq-ratio(max) {
    margin: 0 0 10px;
  }

  @include mq(500) {
    background-size: 50px 50px;
  }

  &--instagram {
    background-image: url(../svg/instagram.svg);

    .touchevents &,
    &:hover {
      background-color: #bc2a8d;
    }
  }

  &--twitter {
    background-image: url(../svg/twitter.svg);

    .touchevents &,
    &:hover {
      background-color: #00aced;
    }
  }

  &--email {
    background-image: url(../svg/envelope.svg);

    .touchevents &,
    &:hover {
      background-color: #c71610;
    }
  }
}

// TITLES

h1 {
  @include text-size(48, $bp-small, $bp-xlarge);
  @include margin-bottom(32);
  @include unselectable();
  @include fontloading();

  font-family: $font-title;
  font-weight: 400;
  line-height: $lh-title;
  text-transform: uppercase;

  .header & {
    @include text-size(48, 300, $bp-medium);

    color: transparentize($color-white, .1);
    max-width: 70vw;

    span {
      display: inline-block;
      min-width: 2vw;
      opacity: 0;
      transform: scale(.4, .8);

      @for $i from 1 through 50 {

        &:nth-child(#{$i}) {
          transition: transform 300ms ((50ms * $i)) ease-in-out, opacity 200ms ((50ms * $i)) ease-in-out;
        }
      }

      .wf-active & {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

// BODY TEXT

.article {

  p,
  ul,
  ol {
    max-width: $maxw-text;
  }

  p,
  ul,
  ol,
  figure {
    @include margin-bottom(24);
    @include fontloading();

    font-family: $font-body;
  }
}
