{% macro switcher(
  options = [
              [
                "Systeem",
                "system",
                "preference != 'light' && preference != 'dark'"
              ],
              [
                "Altijd licht",
                "light",
                "preference == 'light'"
              ],
              [
                "Altijd donker",
                "dark",
                "preference == 'dark'"
              ]
            ]
  )
%}

  <script>
    function systemPreference(val) {
      if(val == 'system' ) {
        localStorage.removeItem('theme')
      } else {
        localStorage.setItem('theme', val);
      }

      if (val === 'dark' || (val == 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    }
  </script>

  <div
    class="rounded-lg shadow-xl bg-white dark:bg-gray-800 border-2 border-gray-300 dark:border-gray-600"
    x-data="{ preference: localStorage.getItem('theme') }"
    x-init="$watch('preference', (val) => { systemPreference(val) });
  ">
    {%- for name, value, state in options -%}
      <button
        x-on:click="preference = '{{ value }}'"
        class="block text-left relative w-full font-medium cursor-pointer text-gray-500 dark:text-gray-400 hover:text-gray-600 dark:hover:text-gray-300 border-t-2 first:border-0 border-gray-300 dark:border-gray-600">
          <span
            class="block py-2 px-4"
            :class="{
              'text-pink-600 font-bold': {{ state | safe }}
            }
          ">{{ name }}</span>
        </button>
    {%- endfor -%}
  </div>

{% endmacro %}
