  {%- import "section.njk" as section -%}



<div class="mb-8 mx-auto max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl">

    {{ section.divider(style="3")}}


  <div class="prose prose-sm max-w-none dark:prose-dark opacity-75">
    This site is build with 💜,
      <a href="https://www.11ty.dev/">Eleventy</a>,
      <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>,
      <a href="https://github.com/alpinejs/alpine">Alpine.js</a>
      and

      <a href="https://tailwindcss.com/">Tailwind CSS</a>.
      The source code of this site is available on
      <a href="https://github.com/dydric/diederikdijkstra.nl">GitHub</a>
      and is hosted and updated by
      <a href="https://www.netlify.com/">Netlify</a>
      automatically after each code commit.

    The used font is the open source typeface <a href="https://rsms.me/inter/">Inter</a>.
  </div>

</fdiv>
