<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">

  <title>
    {%- if renderData.title -%}{{ renderData.title }} &mdash;{% else -%}
      {%- if title -%}{{ title }} &mdash; {% endif -%}
    {%- endif -%}{{ site.name -}}
  </title>

  <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">

  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">
  <meta name="google" content="nositelinkssearchbox">
  <meta name="google" content="notranslate">
  <meta name="generator" content="eleventy">
  <meta name="format-detection" content="telephone=no">

  <base href="{{ page.url }}">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link href="{{ site.url}}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.name }}" />

  {% if site.themeColor %}<meta name="theme-color" content="{{ site.themeColor }}">{% endif %}

  <meta property="og:url" content="{{ site.url}}{{ page.url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ site.name }}{% endif %}">
  {% if site.socialImage or featured_image -%}
  <meta property="og:image" content="{% if featured_image %}{{ featured_image }}{% else %}{{ site.socialImage }}{% endif %}" />
  {%- endif -%}
  <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:locale" content="{% if site.locale %}{{ site.locale }}{% else %}en_US{% endif %}">
  <meta property="article:author" content="{{ site.author.name }}">

  <meta name="twitter:card" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:site" content="{{ site.twitter }}">
  <meta name="twitter:creator" content="{{ site.twitter }}">
  <meta name="twitter:url" content="{{ site.url}}{{ page.url }}">
  <meta name="twitter:title" content="{% if title %}{{ title }}{% else %}{{ site.name }}{% endif %}">
  <meta name="twitter:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
  {% if site.socialImage or featured_image -%}
  <meta name="twitter:image" content="{% if featured_image %}{{ featured_image }}{% else %}{{ site.socialImage }}{% endif %}">
  {%- endif %}
  <meta name="twitter:dnt" content="on"> <!-- disallow Twitter from using your site's info for personalization purposes -->

  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
  <link rel="manifest" href="/static/favicons/site.webmanifest">
  <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg"color="#222222">
  <meta name="msapplication-TileColor" content="#222222">
  <meta name="theme-color" content="#ffffff">

  {% if site.env == 'preview' %}
    <link rel="stylesheet" href="{{ site.url }}/style.css?v={% cacheBuster %}"/>
  {% else %}
    <link rel="stylesheet" href="/style.css?v={% cacheBuster %}"/>
  {% endif %}

  <script src="/js/alpine.js?v={% cacheBuster %}"></script>
  <script>
    if (localStorage.theme === 'dark' || (localStorage.getItem("theme") === null && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark');
    }
  </script>
</head>
