{% macro covers(
  data = musiclog.2020_albums
) %}
<div class="grid gap-2 md:gap-4 grid-cols-4 lg:grid-cols-5 mb-12 lg:mb-20">

{% set number = 1 %}

{%- for i in range(0, data.items.length) -%}
  {%- set spotify = data.items[i] -%}

    {% set album %}
    <a href="{{ spotify.track.album.external_urls.spotify }}" target="_blank" rel="noopener noreferrer" class="relative block w-full transform hover:-translate-y-1 transition-all duration-300">

      <div class="absolute block bottom-0 left-0 m-1 rounded-fill bg-black bg-opacity-50 text-white font-bold leading-none text-xs lg:text-base w-6 h-6 lg:w-8 lg:h-8 rounded-full text-center">
        <span class="absolute left-50 top-50 transform -translate-x-1/2 -translate-y-1/2 leading-none">{{ number }}</span>
      </div>
      {% cloudinaryImage
        spotify.track.album.images[1].url,
        "f_auto",
        spotify.track.name + " - " + spotify.track.artists[0].name,
        "w-full rounded-lg shadow-xl"
      %}

    </a>

  {% endset %}


  {% if loop.first %}
    {% set prevAlbum = spotify.track.album.name %}
    {% set number = number + 1 %}
    {{ album | safe }}
  {% else %}

    {% if spotify.track.album.name != prevAlbum %}
      {% set prevAlbum = spotify.track.album.name %}
      {% set number = number + 1 %}
      {{ album | safe }}
    {% endif %}
  {% endif %}

  {# {% endif %} #}

{%- endfor -%}
</div>
{% endmacro %}


{% macro list(
  data = playlist
) %}

  <div class="grid divide-y-2 divide-white dark:divide-gray-900">

    {%- for i in range(0, data.items.length) -%}
      {%- set spotify = data.items[i] -%}
      {# {% if loop.index < 7 %} #}

      <div>
      <a href="{{ spotify.track.external_urls.spotify }}" target="_blank" rel="noopener noreferrer" class="group flex w-full py-2">

        <div
          class="block flex-initial flex-shrink-0 w-8 sm:w-12 m-0">
          {% cloudinaryImage
            spotify.track.album.images[1].url,
            "f_auto",
            spotify.track.name + " - " + spotify.track.artists[0].name,
            "w-full block rounded my-1"
          %}
        </div>

        <div class="flex items-center flex-wrap flex-auto px-2 sm:px-3 w-0">
            <div class="font-extrabold leading-tight text-lg md:text-xl xl:text-2xl tracking-tight w-full mb-0 text-gray-900 dark:text-gray-200">
              {{ spotify.track.name }}
            </div>
            <div class="font-medium leading-tight text-xs md:text-sm tracking-wider uppercase text-green-500 dark:text-pink-500 w-full">
              {%- for artist in spotify.track.artists -%}
                {%- if not loop.first -%}, {% endif -%}
                {{ artist.name }}
              {%- endfor -%}
            </div>

          {# {{ spotify.added_at }} #}
        </div>

      </a>
      </div>
      {# {% endif %} #}

    {%- endfor -%}
  </div>

{% endmacro %}
