<nav
  class="fixed top-0 left-0 right-0 z-50 transition duration-300 transform pt-10 lg:pt-20 pb-2 sm:pb-4 border-b border-transparent px-4"
  x-data="{ showNav: false, showPref: false, atTop: true, preference: localStorage.getItem('theme')}"
  x-init="$watch('preference', (val) => { systemPreference(val) });"
  @scroll.window="atTop = (window.pageYOffset > 30) ? false : true"
  :class="{
    'bg-transparent sm:translate-y-0' : atTop,
    'bg-white dark:bg-black bg-opacity-80 dark:bg-opacity-80 bg-blur border-gray-200 dark:border-gray-800 -translate-y-8 sm:-translate-y-6  lg:-translate-y-16' : !atTop
  }"
>

  <div class="flex items-center justify-between mx-auto max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl">

    <a href="/" tabindex="1" class="text-2xl sm:text-3xl lg:text-4xl font-extrabold leading-tight tracking-tight transition-colors duration-300 outline-none text-blue-600 text-gradient bg-gradient-to-br from-blue-400 to-purple-900 dark:from-blue-600 dark:to-purple-500 border-b-4 border-transparent focus:border-gray-300 dark:focus:border-gray-400"
    {# :class="{
      'text-blue-600 hover:text-green-600' : atTop,
      'text-green-500 dark:text-green-600 hover:text-blue-600' : !atTop
    }" #}
    >{{ site.authorName }}</a>

    <ul class="flex">
      <li class="relative ml-2">
        <button
          x-bind:tabindex=" showNav ? '-1' : '3' "
          @click="showPref = !showPref"
          @click.away="showPref = false"
          x-bind:aria-label="showPref ? 'Menu sluiten' : 'Menu openen'"
          x-bind:aria-expanded="showPref"
          class="button
          text-yellow-500 dark:text-yellow-500 border-gray-300
          focus:ring-2 ring-offset-1 ring-pink-500
          bg-white
        ">
          <svg class="icon-sun h-8 w-8 relative z-10" fill="currentColor" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
          <svg class="icon-moon h-6 w-6 m-1 relative z-10" fill="currentColor" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path></svg>
        </button>
        <div class="absolute top-100 right-0 w-36 opacity-0 transform transition-all duration-300"
          :aria-expanded="showPref"
          {# :hidden="!showPref" #}
          :class= "{
            'mt-4' : atTop,
            'mt-4 sm:mt-6' : !atTop,
            'translate-y-0 opacity-100' : showPref,
            'translate-y-8 pointer-events-none' : !showPref
          }"
        >

          <script>
            function systemPreference(val) {
              if(val == 'system' ) {
                localStorage.removeItem('theme')
              } else {
                localStorage.setItem('theme', val);
              }

              if (val === 'dark' || (val == 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
              } else {
                document.documentElement.classList.remove('dark');
              }
            }
          </script>

          {% set options = [
            [ "Systeem", "system", "preference != 'light' && preference != 'dark'" ],
            [ "Altijd licht", "light", "preference == 'light'"],
            [ "Altijd donker", "dark", "preference == 'dark'"]
          ] %}

          <div class="rounded-lg shadow-xl bg-white dark:bg-gray-800 border-2 border-gray-300 dark:border-gray-600">
            {%- for name, value, state in options -%}
              <button
                x-on:click="preference = '{{ value }}'"
                x-bind:tabindex=" showPref ? '3' : '-1' "
                class="block text-left relative w-full font-medium cursor-pointer text-gray-500 dark:text-gray-400 hover:text-gray-600 focus:text-gray-600 dark:hover:text-gray-300 dark:focus:text-gray-300 border-t-2 first:border-0 border-gray-300 dark:border-gray-600 focus:ring-2 ring-offset-4 ring-offset-pink-200 dark:ring-offset-pink-800 ring-pink-500 focus:outline-none rounded">
                  <span
                    class="block py-2 px-4"
                    :class="{
                      'text-pink-600 font-bold': {{ state | safe }}
                    }
                  ">{{ name }}</span>
                </button>
            {%- endfor -%}
          </div>


        </div>
      </li>
      <li class="relative ml-2">
        <button
          tabindex="2"
          @click="showNav = !showNav"
          @click.away="showNav = false"
          x-bind:aria-label="showNav ? 'Menu sluiten' : 'Menu openen'"
          x-bind:aria-expanded="showNav"
          class="button focus:ring-2 ring-offset-1 ring-pink-500
        ">
          <svg :class="{ 'hidden': showNav, 'block': !showNav }" class="block h-8 w-8 relative z-20" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/></svg>
          <svg :class="{ 'block': showNav, 'hidden': !showNav }" class="hidden h-8 w-8 relative z-20" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/></svg>
        </button>
        <div class="absolute top-100 right-0 w-36 opacity-0 transform transition-all duration-300"
          :aria-expanded="showNav"
          {# :hidden="!showNav" #}
          :class= "{
            'mt-4' : atTop,
            'mt-4 sm:mt-6' : !atTop,
            'translate-y-0 opacity-100' : showNav,
            'translate-y-8 pointer-events-none' : !showNav
          }">


          {% set navPages = collections.all | eleventyNavigation %}
          {% set entryUrl = page.url.split("/")[1] %}

          <ul class="navlist rounded-lg shadow-xl bg-white dark:bg-gray-800 border-2 border-gray-300 dark:border-gray-600">

            {%- for entry in navPages %}
              {% set parentKey = "" %}
              {% for entry in entry.children %}
                {% if entry.url == page.url %}
                  {% set parentKey = entry.parentKey %}
                {% endif %}
              {% endfor %}

              <li class="block relative w-full font-medium cursor-pointer border-t-2 border-gray-300 first:border-0 dark:border-gray-600">
                <a
                  x-bind:tabindex=" showNav ? '2' : '-1' "
                  href="{{ entry.url | url }}"
                  class="
                    block py-2 px-4 text-gray-500 dark:text-gray-400 hover:text-gray-600 focus:text-gray-600 dark:hover:text-gray-300 dark:focus:text-gray-300 focus:ring-2 ring-offset-4 ring-offset-pink-200 dark:ring-offset-pink-800 ring-pink-500 focus:outline-none rounded
                    {% if (entry.url == page.url) or (entry.title == parentKey) or (entry.title | lower in entryUrl) %}
                      text-pink-600 dark:text-pink-600 font-bold
                    {% endif %}
                  ">
                  {# {{ entryUrl }} - #} {{ entry.title }}
                </a>

                {# {% if (entry.url == page.url) or (entry.title == parentKey) %} #}
                  {% for entry in entry.children %}
                    {% if loop.first %}
                      <ul class="submenu">
                    {% endif %}
                      <li class="block">
                        <a
                          x-bind:tabindex=" showNav ? '2' : '-1' "
                          href="{{ entry.url | url }}"
                          class="
                            block py-2 px-4 text-gray-500 dark:text-gray-400 hover:text-gray-600 focus:text-gray-600 dark:hover:text-gray-300 dark:focus:text-gray-300 focus:ring-2 ring-offset-4 ring-offset-pink-200 dark:ring-offset-pink-800 ring-pink-500 focus:outline-none rounded
                            {% if (entry.url == page.url) %}
                              text-pink-600 dark:text-pink-600 font-bold
                            {% endif %}
                        ">
                          {{ entry.title }}
                        </a>
                      </li>
                  {% if loop.last %}
                    </ul>
                  {% endif %}
                {% endfor %}
              {# {% endif %} #}
            </li>
          {%- endfor %}
        </ul>



          {# {{ collections.all | eleventyNavigation | eleventyNavigationToHtml(
            {
              listClass: "rounded-lg shadow-xl bg-white dark:bg-gray-800 border-2 border-gray-300 dark:border-gray-600",
              listItemClass: "block relative w-full font-medium cursor-pointer border-t-2 border-gray-300 first:border-0 dark:border-gray-600",
              listItemHasChildrenClass: "nav-parent",
              anchorClass: "block py-2 px-4 text-gray-500 dark:text-gray-400 hover:text-gray-600 focus:text-gray-600 dark:hover:text-gray-300 dark:focus:text-gray-300 focus:ring-2 ring-offset-4 ring-offset-pink-200 dark:ring-offset-pink-800 ring-pink-500 focus:outline-none rounded",
              activeListItemClass: "",
              activeAnchorClass: "text-pink-600 dark:text-pink-600 font-bold",
              activeKey: eleventyNavigation.key
            }
          ) | safe }} #}
        </div>
      </li>
    </ul>
  </div>
</nav>
