{% set skills = [
  [ "💻",
    "Responsive &amp; Mobile websites",
    "Atomic Design / BEM"
  ],
  [ "💡",
    "TailwindCSS / Nunjucks / Alpine.js"
  ],
  [ "❤️",
    "JAMstack",
    "Eleventy (11ty) / Netlify"
  ],
  [ "⚛️",
    "Design Systems",
    "Styleguides / Pattern libraries "
  ],
  [ "🛠",
    "Npm / Gulp / Webpack / PostCSS / Sass"
  ],
  [ "⚡️",
    "Performance",
    'Lighthouse / <a href="https://developers.google.com/speed/pagespeed/insights/?hl=nl&url=https%3A%2F%2Fdiederikdijkstra.nl%2F&tab=desktop" target="_blank" rel="noopener noreferrer">Page speed</a>'],
  [ "👀",
    "Accessibility",
    'WCAG / <a href="https://www.digitoegankelijk.nl/" target="_blank" rel="noopener noreferrer">DigiToegankelijk</a>'],
  [ "🎨",
    "Design",
    "Figma / Sketch"
  ],
  [ "🤓",
    "GIT / Command line",
    "VSCode / Hyper / Tower"
  ]
] %}

<ul class="grid gap-2 grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
  {% for emoji, title, content in skills %}
  <li class="text-white bg-gray-800 dark:bg-blue-600 leading-tight p-4 mb-0 rounded">
      {% if title %}<span class="mb-2"><strong>{{ title | safe }}</strong></span><br>{% endif %}
      {% if content %}<span class="text-base">{{ content | safe }}</span>{% endif %}
  </li>
  {% endfor %}
</ul>
