{% macro activity (
  classes = "w-1/2 md:w-1/4 pr-4 mb-6 font-800",
  type = "",
  movingtime = "",
  distance = "",
  heartrate = "",
  activecalories = ""
) %}
<div class="{{ classes }}">
  {% if type %}
    <span class="block text-grey-600 text-sm md:text-base font-500 mb2">{{ type }}</span>
  {% endif %}
  {% if movingtime %}
  <span class="block text-lg md:text-xl">{{ movingtime }}</span>
  {% endif %}
  {% if distance %}
    {%- set workoutkm = distance | int -%}
    <span class="block text-lg md:text-xl">{{ (workoutkm / 1000) | round(2) }}km</span>
  {% endif %}
  {% if heartrate %}
    <span class="inline-block text-base font-600 my-2 mr-2">♥ {{ heartrate }}</span>
  {% endif %}
  {% if activecalories %}
    <span class="inline-block text-base font-600 my-2">💪 {{ activecalories }}</span>
  {% endif %}
</div>
{% endmacro %}
