<div class="w-full sm:w-1/2 lg:w-1/4 mb-6 pr-4">
  <a href="{{ item.url }}" class="block overflow-hidden bg-black px-4 py-2 lg:p-6 h-full border-l-4 md:border-l-0 md:border-b-4 border-lightblue-400" target="_blank" rel="noopener noreferrer">
    <span class="block text-lightblue-600 text-sm font-600 mb-2">{{ item.from  }}:</span>
    <span class="block text-grey-100 font-600 text-sm sm:text-base">{{ item.text | safe }}</span>
  </a>
</div>
