<section class="py-4 bg-black border-b border-grey-800 text-white">
  <div class="mx-auto px-8 max-w-6xl">
      <h3 class="text-xl md:text-2xl lg:text-3xl"><a href="/" class="text-white link hover:text-grey-300">{{ site.name }}</a></h3>
  </div>
</section>
