{% macro track (
  classes = "w-1/4 pr-2 md:pr-4 md:mb-4 font-800",
  url = "",
  cover = "",
  name = "",
  artist = "",
  album = ""
) %}
<a class="{{ classes }}" href="{{ url }}" target="_blank" rel="noopener noreferrer">
  {% if cover %}
    <img src="{{ cover }}" alt="{{ album }}" class="mb-2">
  {% endif %}
  {% if name %}
    <span class="hidden md:block text-base md:text-lg leading-tight">{{ name }}</span>
  {% endif %}
  {% if artist %}
    <span class="hidden md:block text-grey-600 text-sm md:text-base font-500 mb2">{{ artist }}</span>
  {% endif %}
</a>
{% endmacro %}
