{% macro tweet (
  classes = "w-full md:w-1/2 lg:w-1/3 mb-6 pr-4",
  color = 'yellow-800',
  url = "",
  created = "",
  from = "",
  text = "",
  textsize = " text-lg lg:text-xl"
) %}
<div class="{{ classes }}">
  <a href="{{ url }}" class="block bg-black px-4 py-2 lg:p-6 h-full border-l-4 md:border-l-0 md:border-b-4 border-{{ color }}" target="_blank" rel="noopener noreferrer">

    {% if created %}
    <span class="block text-grey-600 text-base font-600 mb-2">
      {{ created  | dateDisplay  }}, {{ created  | timeDisplay  }}
    </span>
    {% endif %}

    {% if from %}
    <span class="block text-{{ color }} text-sm font-600 mb-2">
      {{ from  }}:
    </span>
    {% endif %}

    <span class="block text-grey-100 font-800 {{ textsize }}">{{ text | safe }}</span>
  </a>
</div>
{% endmacro %}
