// COLORS
$color-black  : rgb(0, 0, 0);
$color-white  : rgb(255, 255, 255);

@function tint($color, $percent) {
  @return mix($color-white, $color, $percent);
}

@function shade($color, $percent) {
  @return mix($color-black, $color, $percent);
}

// MEDIA QUERIES
@mixin mq($point, $IE9: false, $query1: min, $query2: width) {
  @if $IE9 == true{
    .no-mediaqueries & {
      @content;
    }

    @media screen and (#{$query1}-#{$query2}: $point+px) {
      @content;
    }
  } @else {
    @media screen and (#{$query1}-#{$query2}: $point+px) {
      @content;
    }
  }
}

// CLEARFIX
@mixin clearfix() {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

// UNSELECTABLE
@mixin unselectable() {
  user-select: none;
}

// RESPONSIVE FONT-SIZE
@mixin text-size($title-font-size: 32, $vw-size-start: 600, $vw-size-stop: 1200, $title-margin: 18) {

  $vw-start: $vw-size-start / 100;
  $vw-stop: $vw-size-stop / 100;

  font-size: #{$title-font-size}px;
  margin-bottom: #{$title-margin}px;

  .no-mediaqueries & {
    font-size: #{ceil(($title-font-size / $vw-start) * 9)}px;
    margin-bottom: #{ceil(($title-margin / $vw-start) * 9)}px;
  }

  @include mq($vw-size-start) {
    font-size: #{$title-font-size / $vw-start}vw;
    margin-bottom: #{$title-margin / $vw-start}vw;
  }

  @include mq($vw-size-stop) {
    font-size: #{($title-font-size / $vw-start) * $vw-stop}px;
    margin-bottom: #{($title-margin / $vw-start) * $vw-stop}px;
  }
}

// ...
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
