---
layout: layouts/default.njk
title: Scrapbook
permalink: /collections/scrapbook/page-{{ pagination.pageNumber + 1 }}/
pagination:
  data: tumblr
  size: 24
---

{# eleventyNavigation:
  key: Scrapbook
  order: 3
  url: /collections/scrapbook/page-1/ #}

<div x-data="{ tab: 'ShowAll' }">

  <ol class=" mb-6"
    :class="{
        'grid gap-2 grid-cols-2 md:grid-cols-3 lg:grid-cols-4' : tab === 'ShowAll',
        '' : tab !== 'ShowAll'
      }"
  >
  {% for post in pagination.items %}
    <li class="flex items-end"
      x-show="tab === 'ShowAll'"
    >
      <a
        href="#"
        @click.prevent="tab = '{{ post.id }}'"
        class="rounded-lg overflow-hidden bg-indigo-500 block w-full">
          <img src="{{ post.thumb }}" alt="" class="w-full hover:opacity-75">
      </a>
    </li>

    <li class="flex relative z-10"
      x-show=" tab === '{{post.id }}'"
    >
      <a
        href="#"
        @click.prevent="tab = 'ShowAll'"
        @click.away="tab = 'ShowAll'"
        class="rounded-lg overflow-hidden block w-full">
          <img src="{{ post.photo }}" alt="" class="max-w-full relative z-10">
          <div class="fixed h-full w-full left-0 top-0 bottom-0 right-0 bg-black bg-opacity-75 z-0"></div>
      </a>
    </li>
  {%- endfor %}
  </ol>

  <div x-show="tab === 'ShowAll'">
  {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Vorige</a>{% endif %}
  {% if pagination.href.next %}<a href="{{ pagination.href.next }}">Volgende</a>{% endif %}
  </div>

</div>
