{# ---
layout: "layouts/default"
permalink: /collections/scrapbook/{{ tumblr.id }}/index.html
pagination:
  data: tumblr
  size: 1
  alias: tumblr
---

<img src="{{ tumblr.photo }}" class="w-full rounded-lg"> #}
