# Build
_site/
_temp/

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Mac
.DS_Store

# Lock
package-lock.json

# Logs
logs
*.log
npm-debug.log*
