// MAIN VARIABLES
$body-ID:	404;
$grid:		false;
$syntax:	false;

// POST VARIABLES
$color-white:	#ffffff;
$color-black:	#000000;

@import '../includes';

.meta {
	display: none !important;
}

.content {
	padding-top: 0 !important;
}