// MAIN VARIABLES
$body-ID: post--02;
$grid:    false;
$syntax:  true;

// POST VARIABLES
$color-white: #ffffff;
$color-black: #000000;

@import '../includes';

.highlight {
  background: tint($color-1, 40);
}

.example {
  display: none;
  background: tint($color-1, 40); // tint($color-black, 20)
  padding: 20px 2%;

  .csscalc & {
    left: calc(-20px + -2%);
    position: relative;
    width: calc(100% + 40px + 4%);
  }

  .wf-active & {
    display: block;
  }

  .wf-active .loadpage & {
    visibility: hidden;
  }

  .wf-active .done & {
    visibility: visible;
  }
}
