---
layout: layouts/default.njk
theme: theme-default
permalink: /blog/tags/
title: Tags

---
{# eleventyNavigation:
  parent: Blog
  key: Tags
  order: 2 #}

{%- import "macros/cards.njk" as card -%}

{% set tagList = [] %}
{%- set categories -%}
  {%- for post in collections.post -%}
    {%- for tag in post.data.tags -%}
      {%- if tag not in tagList -%}
        {% if
          ('all' not in tag) and
          ('nav' not in tag) and
          ('post' not in tag) and
          ('posts' not in tag) and
          ('promo' not in tag)
        %}
          {%- set tagList = (tagList.push(tag), tagList | sort ) -%}
        {% endif %}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
{%- endset -%}
{# {{ tagList | dump }} #}

<div class="border-t-2 border-b-2 border-gray-300 border-opacity-25 py-8 mb-8 text-lg">
{% for tag2 in tagList %}
  {% set tagUrl %}/tags/{{ tag2 }}/{% endset %}
  <div>
  {{ card.tag(
    tagName = tag2,
    classes = "font-bold text-xl capitalize inline-block mr-1 text-sky-900 hover:text-lavender-700 transition-colors duration-150"
  )}}
  </div>
{% endfor %}
</div>
