---
layout: layouts/default.njk
permalink: /blog/tags/{{ tag }}/
pagination:
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: true
renderData:
  title: "#{{ tag | capitalize }}"
---

<div class="border-b-2 border-gray-300 border-opacity-25 mb-8">

{%- import "macros/cards.njk" as card -%}
{% for post in collections[ tag ] | reverse %}
  {{ card.list(
    postTitle = post.data.title,
    postUrl = post.url,
    postDate = post.date,
    postTags = post.data.tags,
    customTag = post.data.customTag
  ) }}
{%- endfor %}
</div>

{# <p>See <a href="{{ '/blog/tags/' | url }}">all tags</a>.</p> #}
