doctype html
html.no-js
	include ../includes/head.jade
	body.post(class= "{{ page.bodyclass}}")
		.status
			.bar
		nav.nav
			a.name(href="/") Diederik Dijkstra
			ul.menu
				li.menu__item
					a.menu__link(href="/") Home
				li.menu__item.menu__item--rss
					a.menu__link(href="{{ '/feed.xml' | prepend: site.baseurl }}") RSS
		| {{ content }}
		include ../includes/footer.jade