doctype html
html.no-js
	include ../includes/head.jade
	body.post(class= "{{ page.bodyclass}}")
		.status
			.bar
		nav.nav
			ul.menu
				li.menu__item
					a.menu__link(href="/") Home
		| {{ content }}
		include ../includes/footer.jade