---
layout: layouts/base.njk
title: Bookmarks
intro:
---

{%- import "src/_includes/macros/layouts.njk" as layout -%}

{% set intro %}
  <h1>{{ title }}</h1>
{% endset %}

{{ layout.row(
  classes = "section--intro",
  content = intro
) }}

{% set bookmarks %}

  {% set year = '' %}
  {% set month = '' %}

  {% for item in pinboard %}

    {% set date = item.time | readableDate %}
    {% set currentyear = date.slice(6) %}
    {% set currentmonth = date.slice(3) %}

    {% if month != currentmonth %}
      {% if loop.index != 1 %}
          </div>
        </div>
      {% endif %}
        <div class="collection">
          <div class="col col--title">
            <h4>{{ currentmonth }}</h4>
          </div>
          {% set month = currentmonth %}
          <div class="col col--content">
    {% endif %}

    {% if "Instapaper" in item.tags %}
      <div class="w-full p-2 lg:px-4 mb-4 bg-card shadow-sm rounded-md border-2 border-accent-primary overflow-hidden">
        <h4 class="mb-1"><a href="{{ item.href }}" target="_blank" rel="noopener noreferrer" class="no-underline hover:underline">{{ item.description }}</a></h4>
        {% if item.extended %}<p class="mb-0 text-base">{{ item.extended }}</p>{% endif %}
        <a href="{{ item.href }}" target="_blank" rel="noopener noreferrer" class=" break-all no-underline hover:underline">
          <small class="block mt-1">{{ item.href }}</small>
        </a>
      </div>
    {% else %}
      <div class="w-full p-2 lg:px-4 mb-4 bg-card rounded-md border-2 border-card">
        <h4 class="mb-1"><a class=" text-body" href="{{ item.href }}" target="_blank" rel="noopener noreferrer">{{ item.description }}</a></h4>
        {% if item.extended %}<p class="mb-0 text-base">{{ item.extended }}</p>{% endif %}
        {%- set list1 = item.tags.split(' ') -%}
        <small class="block mt-1">{% for list in list1 %}
          <a href="https://pinboard.in/u:dydric/t:{{ list }}" target="_blank" rel="noopener noreferrer" class="no-underline hover:underline mr-2">#{{ list }}</a>
        {% endfor %}</small>
        {# {% if item.tags %}<small class="mt-1 inline-block">{{ item.tags }}</small>{% endif %} #}
      </div>
    {% endif %}
  {% endfor %}

{% endset %}

{{ layout.row(
  classes = "section--bookmarks",
  content = bookmarks
) }}
