//	STANDAARD
.article{
	margin-bottom: $margin-bottom / 2;
	border-bottom: 1px solid $color-grey-lighter;
	padding-bottom: $margin-bottom / 2;
	@include clearfix();
	
	@include mq($bp-smalltablet, true) {
		margin-bottom: $margin-bottom;
		padding-bottom: 20px;
	}

	.lt_ie9 &{
		&:before,
		&:after {
			padding: 0 !important;
			margin: 0 !important;
		}
	}

	&--first{
		border-top: 1px solid $color-grey-lighter;
		padding-top: $margin-bottom / 2;

		@include mq($bp-smalltablet, true) {
			padding-top: 20px;
		}
	}

	&--last{
		margin-bottom: $margin-bottom;
	}

	// ARTIKEL MET AFBEELDING
	&__content{
		
		&--image{

			@include mq($bp-mobile, true) {
				float: left; display: inline; 
				width: 70%;
			}
		}
	}

	&__image{
		display: block;
		width: 100%;
		max-width: 300px;
		margin: 0 auto;

		&-link{
			display: block;
			text-align: center;
			text-decoration: none;
			margin-bottom: $margin-bottom / 2;

			@include mq($bp-mobile, true) {
				float: left; display: inline;
				max-width: auto; width: 28%; margin-right: 2%;
			}
		}
	}

	&__date, &__location{
		display: block;
		color: $color-grey;
		margin-bottom: $margin-bottom / 2;
	}
}

// 
//	VOOR OPSOMMING IN SIDEBARS ZIE LIST.SCSS
//

//	DETAIL
.detail-info{
	position: relative; top: - $margin-bottom / 2;
	margin-bottom: $margin-bottom / 2;
	color: $color-grey;
	@include font-size(12);
	line-height: $font-lineheight;

	span{
		display: block;

		span{
			display: none;
		}
	}

	@include mq($bp-smalltablet, true) {
		@include font-size(14);
		
		span span{
			display: inline;
		}
	}
}