.figure{
	margin: 0 auto $margin-bottom;
	max-width: 100%;
	clear: both;

//	IMG
	&__image{
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
	
//	ONDERSCHRIFT
	&__caption{
		display: block; margin: 6px auto 0;
		color: lighten($color-text, 25);
		text-align: center;
		@include base-font();
		@include font-size(11);

		@include mq($bp-smalltablet, true){
			@include font-size(13);
		}
	}

//	UITLIJNING
	@include mq($bp-smalltablet, true) {

		&--left, &--right{
			display: inline;
			clear: none;
			max-width: 49%;
		}

		&--left{
			float: left;
			margin: 0 2% $margin-bottom 0;
		}

		&--right{
			float: right;
			margin: 0 0 $margin-bottom 2%;
		}

		&--no-margin{
			margin: 0 0 $margin-bottom;
		}
	}
}