//STANDAARD
.list{
	margin: 0 0 $margin-bottom 24px;

	&__item{
		color: lighten($color-text, 25);

		span{
			color: $color-text;
		}
	}

// LIJST VOOR ARTIKELEN EN AGENDA

	&--articles,
	&--events{
		list-style: none;
		margin: 0 0 $margin-bottom;
		border-top: 1px solid $color-grey-lighter;
		line-height: $font-lineheight-alt;

		&__item{
			border-bottom: 1px solid $color-grey-lighter;
		}
	}

	&__link{
		display: block; padding: 5px 0;
		text-decoration: none;

		&--title{
			color: $color-accent !important;
			display: block;
			margin-bottom: 5px;
		}

		&:hover .list__link--title{
			color: $color-hover !important;
		}

		&--date,
		&--location{
			display: block;
			color: $color-grey;
			@include font-size(12);
		}
	}
}