//	PARAGRAAF
.paragraph {
	margin-bottom: $margin-bottom;

	&.parahgraph--intro{
		@include base-font;
		@include font-size(16);
		color: $color-grey-dark;
	}

	&.paragraph--status {
		border: 2px solid tint($color-status-info, 10%);
		padding: 20px;
		background-color: tint($color-status-info, 80%);
		color: shade($color-status-info, 25%);
		.link {
			color: shade($color-status-info, 20%);
			&:hover {
				color: $color-hover;
			}
		}
	}
	&.status--success {
		border: 2px solid shade($color-status-ok, 25%);
		padding: 20px;
		background-color: tint($color-status-ok, 80%);
		color: shade($color-status-ok, 40%);
		.link {
			color: tint($color-status-ok, 20%);
			&:hover {
				color: $color-hover;
			}
		}
	}
	&.status--error {
		border: 2px solid tint($color-status-error, 25%);
		padding: 20px;
		background-color: tint($color-status-error, 80%);
		color: $color-status-error;
		.link {
			color: tint($color-status-error, 20%);
			&:hover {
				color: $color-hover;
			}
		}
	}

}

sub{ font-size: 80%; position: relative; top: 3px; }
sup{ font-size: 80%; position: relative; top: -3px;}