---
layout: layouts/base.njk
title: Musiclog
---

{%- set playlists = [
  [spotify.2020_06, "Jun 2020"],
  [spotify.2020_05, "Mei 2020"],
  [spotify.2020_04, "Apr 2020"],
  [spotify.2020_03, "Mar 2020"],
  [spotify.2020_02, "Feb 2020"],
  [spotify.2020_01, "Jan 2020"]
] -%}

{%- import "src/_includes/macros/layouts.njk" as layout -%}
{%- import "src/_includes/macros/items.njk" as item -%}

{% set intro %}
  <h1>{{ title }}</h1>
{% endset %}

{{ layout.row(
  classes = "section--intro",
  content = intro
) }}

{% set musiclog %}
  {% for playlist, month in playlists %}
    {% if playlist.items.length > 0 %}

      {% set tracks %}
        <div class="items">
        {%- for i in range(0, playlist.items.length)|reverse -%}
          {%- set spotify = playlist.items[i] -%}
          {{ item.track(
            name = spotify.track.name,
            artist = spotify.track.artists[0].name,
            album = spotify.track.album.name,
            link = spotify.track.external_urls.spotify,
            albumlink = spotify.track.album.external_urls.spotify,
            previewlink = spotify.track.preview_url,
            cover = spotify.track.album.images[0].url
          ) }}
        {%- endfor -%}
        </div>
      {% endset %}

      {{ layout.collection(
          title = month,
          content = tracks | safe
        )
      }}

    {% endif %}
  {% endfor %}
{% endset %}

{{ layout.row(
  classes = "section--musiclog",
  content = musiclog
) }}

{% set outro %}
  <p class="intro"><a href="/collections/musiclog/2019/">Klik hier voor de 2019 lijst</a></p>
{% endset %}

{{ layout.row(
  classes = "section--intro",
  content = outro
) }}
