/* .section--guide {
  @apply border-t-2 border-primary;
} */

.output {
  @apply relative my-6;

  &::after {

    /* @apply absolute -z-1 left-0 right-0 top-0 bottom-0; */

    /* @apply block -m-3; */

    @apply absolute left-0 right-0 top-0 -mt-3;
    @apply border-t-2 border-primary;

    content: '';

    /* @media (prefers-color-scheme: dark) {
      @apply bg-black opacity-25;
    } */
  }
}
