---
layout: default
permalink: 404.html
hidden: true
meta_title: 404
meta_description: 404 page description
body_class: 404
title: Oops!
---

{% include "shared/nav.njk" %}

<section class="pt-8 pb-16">
  <div class="mx-auto px-8 max-w-6xl pb-4">

    <h3 class="text-3xl sm:text-4xl lg:text-5xl mb-6">Sorry, we can't find that page!</h3>
    <div class="max-w-4xl text-xl md:text-2xl font-500 leading-snug mb-8">
      <a href="/" class="text-grey-300 hover:text-grey-100">Take me back to the homepage</a>
    </div>

  </div>
</div>

