---
layout: default
meta_description:
body_class: home
---

<section class="py-16 border-b border-grey-800">
  <div class="mx-auto px-8 max-w-6xl">
    <h1 class="mb-6 md:mb-10">{{ site.name }}</h1>
    <p class="text-2xl sm:text-4xl lg:text-5xl text-grey-600 font-800 leading-tight">Woont in Leeuwarden. Trotse ‘heit’ van Elin en Fedde. Vriend van Lotte. Hobby’s: wielrennen, muziek en koken. Werkt bij <a href="https://tres.nl" target="_blank" rel="noopener noreferrer" class="link text-yellow-800 hover:text-white">TRES</a>. Interesses: UX en Design Systems. 10+ jaar ervaring.</p>
    <img src="/images/home/tres.jpg" alt="" class="pt-6 sm:pt-12 mb-6">
  </div>
</section>

<section class="py-16 bg-black border-b border-grey-800">
  <div class="mx-auto px-8 max-w-6xl pb-4">
    <h2 class="mb-6">Blog</h2>
    {% include "shared/archive-by-year.njk" %}
  </div>
</section>

<section class="py-16 border-b border-grey-800">
  <div class="mx-auto pl-8 pr-4 max-w-6xl">

    <div class="flex flex-no-wrap justify-between items-end mb-6 md:mb-10 mr-4">
      <h2 class="flex-auto leading-none mb-0">Twitter</h2>
      <a href="https://twitter.com/dydric" target="_blank" rel="noopener noreferrer" class="flex-initial link bg-blue-800 hover:bg-white text-white hover:text-blue-800 font-800 rounded-full py-1 px-3 m-auto ml-6 text-sm sm:text-base">Follow me</a>
    </div>
    <h4 class="text-grey-600 mb-4 md:mb-6 mt-4 font-900">Recent:</h4>
    <div class="flex flex-wrap">
      {%- import "components/tweet.njk" as twitter -%}
      {%- for i in range(0, 6) -%}
        {%- set item = import.tweets[i] -%}

        {%- set hideClass = '' -%}
        {%- if i >= 4 -%}
          {%- set hideClass = 'hidden lg:block' -%}
        {%- endif -%}

        {{ twitter.tweet (
          classes = "w-full md:w-1/2 lg:w-1/3 mb-6 pr-4 " + hideClass,
          url = item.url,
          created = item.created,
          text = item.text
        ) }}
    {%- endfor -%}

    <h4 class="text-grey-600 mb-4 md:mb-6 mt-4 font-900">💙 Likes:</h4>
    <div class="flex flex-wrap">
    {%- for i in range(0, 4) -%}
      {%- set item = import.likes[i] -%}
      {{ twitter.tweet (
          classes = "w-full sm:w-1/2 lg:w-1/4 mb-6 pr-4",
          color = "lightblue-400",
          url = item.url,
          from = item.from,
          text = item.text,
          textsize = " text-base"
        ) }}
    {%- endfor -%}
    </div>

  </div>
</section>

<section class="py-16 bg-black border-b border-grey-800">
  <div class="mx-auto pl-8 max-w-6xl">

    <h2 class="mb-6 md:mb-10">Activiteiten</h2>
    <h4 class="text-grey-600 mb-4 md:mb-6 mt-4 font-900">Stappen:</h4>

    <div class="flex flex-no-wrap items-end mr-2 md:mr-0 mb-12 md:mb-16">
    {%- for i in range(0, 30) -%}
      {%- set item = import.health[i] -%}

      {%- set color = "yellow-800" -%}
      {%- if item.steps >= 10000 -%}
        {%- set color = "green-500" -%}
      {%- elif item.steps <= 5000 -%}
        {%- set color = "red-500" -%}
      {%- endif -%}

      <div class="w1 flex-auto box mr-2 rounded-lg bg-{{ color }}"
          style="height:{{ (item.steps / 100) | round }}px">
      </div>
    {%- endfor -%}
    </div>

    <h4 class="text-grey-600 mb-6 md:mb-8 mt-4 font-900">Workouts:</h4>
    <div class="flex flex-wrap">
      {%- import "components/activity.njk" as workout -%}
      {%- for i in range(0, 8) -%}
        {%- set item = import.workouts[i] -%}
        {{ workout.activity(
            type = item.type,
            movingtime = item.movingtime,
            distance = item.distance,
            heartrate = item.heartrate,
            activecalories = item.activecalories
        ) }}
      {%- endfor -%}
    </div>

  </div>
</section>

<section class="py-16 border-b border-grey-800">
  <div class="mx-auto pl-8 pr-6 md:pr-4 max-w-6xl">

    <div class="flex flex-no-wrap justify-between items-end mb-6 md:mb-10 mr-4">
      <h2 class="flex-auto leading-none mb-0">Muziek</h2>
      <a href="https://open.spotify.com/user/diederikdijkstra.nl?si=AhZ1Tqk8QgO1SBlhUkiqaw" target="_blank" rel="noopener noreferrer" class="flex-initial link bg-green-500 hover:bg-white text-white hover:text-green-500 font-800 rounded-full py-1 px-3 m-auto ml-6 text-sm sm:text-base">Follow me</a>
    </div>

    <h4 class="text-grey-600 font-900 mb-6 md:mb-8">Playlist: 💛</h4>

    <div class="flex flex-wrap">
      {%- import "components/track.njk" as music -%}
      {%- for i in range(0, 10) -%}
        {% set item = import.tracks[i] %}
        {%- if i <= 3 -%}
          {{ music.track(
            classes = "w-1/4 pr-2 md:pr-4 md:mb-4 font-800",
            url = item.url,
            cover = item.cover,
            name = item.name,
            artist = item.artist,
            album = item.album
          ) }}
        {% else %}
          {{ music.track(
            classes = "w-1/6 pr-2 md:pr-4 md:mb-4",
            url = item.url,
            cover = item.cover,
            album = item.album
          ) }}
        {% endif %}
      {%- endfor -%}
    </div>

  </div>
</section>
