---
layout: default
meta_description:
body_class: home
---

<section class="section section--intro">
  <div class="content">
    <h1>Diederik</h1>
    <p class="intro">Woont in Leeuwarden met Lotte, Elin en Fedde. Werkt als developer bij <a href="https://tres.nl" target="_blank" rel="noopener noreferrer" class="link">TRES</a>. Gespecialiseerd in UX/UI en Design Systems.</p>
    {# <p>Deze website gebruik ik om te experimenteren met koppelingen (API's) en nieuwe technieken. Af en toe schrijf ik daar ook wel eens een artikel over</p> #}
  </div>
</section>
{#
{{ import.instagram.data | dump }} #}

<section class="section">

  <div class="grid">

    <div class="flex flex-wrap mb-4 lg:mb-8">
    {%- for i in range(0, 12) -%}
      {%- set item = import.instagram.data[i] -%}
      <div class="w-1/3 sm:w-1/4 lg:w-1/6 p-1 flex flex-wrap items-end">
        <a href="{{ item.link }}" class="relative" target="_blank" rel="noopener noreferrer">
          <img src="{{ item.images.standard_resolution.url }}" class="w-full m-0 block relative z-0" >
          <div class="absolute bottom-0 right-0 text-right max-w-full p-1">
            {% if item.location.name %}
              <div class="font-600 p-1 text-mini leading-none relative">
                <span class="block relative z-10 max-w-full truncate text-grey-200">{{ item.location.name }}</span>
                <div class="absolute z-0 top-0 right-0 left-0 bottom-0 bg-black opacity-50 rounded-sm"></div>
              </div>
            {% endif %}
          </div>
        </a>
      </div>
    {%- endfor -%}
    </div>

    <p class="text-sm"><a href="https://www.instagram.com/dydric/" target="_blank" rel="noopener noreferrer">📸 Instagram</a></p>
  </div>

</section>


{# <section class="section section--playlist">
  <div class="content">
    <h3 class="mb-8">Luistert momenteel naar:</h3>

    <div class="flex flex-wrap mb-8">
    {%- set playListlength = import.playlist1.tracklist.length -%}
    {%- for i in range(playListlength - 25, playListlength) | reverse -%}
      {%- set item = import.playlist1.tracklist[i] -%}
      <div class="max-w-full truncate pr-2">
        <p class="inline">{{ item.title }} <span class="text-xs opacity-50 font-800">{{ item.artist }}</span></p>
      </div>
    {%- endfor -%}
    </div>

    <p>Deze playlist werk ik regelmatig bij. Je kunt hem hier ook checken: Apple Music / Spotify. Enjoy!</p>
  </div>
</section> #}

{# <section class="section section--links">
  <div class="content">
    <h3>Scrapbook</h3>
    <p>Note: These images are NOT mine, but reblogged from Tumblr.</p>
  </div>

  <div class="grid px-4 md:px-12 lg:px-16 max-w-site mb-4 lg:mb-16">

    <div class="flex flex-wrap">
      {%- for i in range(0, 120) -%}
        {%- set item = import.tumblr[i] -%}
        {%- if item.type == 'photo' -%}
          <div class="w-1/4 sm:w-1/5 lg:w-1/6 p-1 flex flex-wrap items-end">
            <img src="{{ item.photo }}" loading="lazy" class="w-full m-0 block" data-action="zoom" data-original="{{ item.photo }}">
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>

  </div>
</section> #}

{# <section class="py-16 ">
  <div class="mx-auto px-8 max-w-6xl">

    <h1 class="mb-6 md:mb-10 flex items-center">
      <div class="rounded-full overflow-hidden block border inline-block mr-4 flex-shrink-0">
        <img src="/images/home/avatar.jpg" alt="" class="block block w-16 sm:w-20 ">
      </div>
      <span class="leading-none">{{ site.name }}</span>
    </h1>


    <a href="https://twitter.com/dydric" target="_blank" rel="noopener noreferrer" class="block sm:inline-block link text-center bg-blue-800 hover:bg-blue-200 text-white hover:text-blue-800 font-800 rounded-full py-1 px-3 sm:px-6 m-auto text-xl sm:text-2xl lg:text-3xl mr-4 mb-4">Twitter</a>

    <a href="https://www.instagram.com/dydric/" target="_blank" rel="noopener noreferrer" class="block sm:inline-block link text-center bg-purple-400 hover:bg-purple-100 text-white hover:text-purple-400 font-800 rounded-full py-1 px-3 sm:px-6 m-auto text-xl sm:text-2xl lg:text-3xl mr-4 mb-4">Instagram</a>

    <a href="mailto:diederikdijkstra@me.com?subject=Hello" target="_blank" rel="noopener noreferrer" class="block sm:inline-block link text-center bg-pink-800 hover:bg-pink-200 text-white hover:text-pink-800 font-800 rounded-full py-1 px-3 sm:px-6 m-auto text-xl sm:text-2xl lg:text-3xl mr-4 mb-4">Email</a>

  </div>
</section> #}

{# <section class="py-16 bg-black border-b border-grey-800">
  <div class="mx-auto px-8 max-w-6xl pb-4">
    <h2 class="mb-6">Blog</h2>
    {% include "shared/archive-by-year.njk" %}
  </div>
</section> #}


{# <section class="py-16 border-b border-grey-800">
  <div class="mx-auto pl-8 pr-4 max-w-6xl">

    <div class="flex flex-no-wrap justify-between items-end mb-6 md:mb-10 mr-4">
      <h2 class="flex-auto leading-none mb-0">Twitter</h2>
      <a href="https://twitter.com/dydric" target="_blank" rel="noopener noreferrer" class="flex-initial link bg-blue-800 hover:bg-white text-white hover:text-blue-800 font-800 rounded-full py-1 px-3 m-auto ml-6 text-sm sm:text-base">Follow me</a>
    </div>
    <h4 class="text-grey-600 mb-4 md:mb-6 mt-4 font-900">Recent:</h4>
    <div class="flex flex-wrap">
      {%- import "components/tweet.njk" as twitter -%}
      {%- for i in range(0, 6) -%}
        {%- set item = import.tweets[i] -%}

        {%- set hideClass = '' -%}
        {%- if i >= 4 -%}
          {%- set hideClass = 'hidden lg:block' -%}
        {%- endif -%}

        {{ twitter.tweet (
          classes = "w-full md:w-1/2 lg:w-1/3 mb-6 pr-4 " + hideClass,
          url = item.url,
          created = item.created,
          text = item.text
        ) }}
    {%- endfor -%}

    <h4 class="text-grey-600 mb-4 md:mb-6 mt-4 font-900">💙 Likes:</h4>
    <div class="flex flex-wrap">
    {%- for i in range(0, 4) -%}
      {%- set item = import.likes[i] -%}
      {{ twitter.tweet (
          classes = "w-full sm:w-1/2 lg:w-1/4 mb-6 pr-4",
          color = "lightblue-400",
          url = item.url,
          from = item.from,
          text = item.text,
          textsize = " text-base"
        ) }}
    {%- endfor -%}
    </div>

  </div>
</section>

<section class="py-16 bg-black border-b border-grey-800">
  <div class="mx-auto pl-8 max-w-6xl">

    <h2 class="mb-6 md:mb-10">Activiteiten</h2>
    <h4 class="text-grey-600 mb-4 md:mb-6 mt-4 font-900">Stappen:</h4>

    <div class="flex flex-no-wrap items-end mr-2 md:mr-0 mb-12 md:mb-16">
    {%- for i in range(0, 30) -%}
      {%- set item = import.health[i] -%}

      {%- set color = "yellow-800" -%}
      {%- if item.steps >= 10000 -%}
        {%- set color = "green-500" -%}
      {%- elif item.steps <= 5000 -%}
        {%- set color = "red-500" -%}
      {%- endif -%}

      <div class="w1 flex-auto box mr-2 rounded-lg bg-{{ color }}"
          style="height:{{ (item.steps / 100) | round }}px">
      </div>
    {%- endfor -%}
    </div>

    <h4 class="text-grey-600 mb-6 md:mb-8 mt-4 font-900">Workouts:</h4>
    <div class="flex flex-wrap">
      {%- import "components/activity.njk" as workout -%}
      {%- for i in range(0, 8) -%}
        {%- set item = import.workouts[i] -%}
        {{ workout.activity(
            type = item.type,
            movingtime = item.movingtime,
            distance = item.distance,
            heartrate = item.heartrate,
            activecalories = item.activecalories
        ) }}
      {%- endfor -%}
    </div>

  </div>
</section> #}
