---
layout: default
meta_description:
robots: no
body_class: twitter
---

<section class="section section--links">
  <div class="grid">
    <div class="max-w-5xl mb-4 lg:mb-8">
      <h4 class="text-base mb-2"><a href="/" class="">Diederik</a></h4>
      <h2>/twitter</h2>
      <p class="text-sm font-800"><a href="https://www.twitter.com/dydric" target="_blank" rel="noopener noreferrer">🦩 Follow me @ Twitter</a></p>
    </div>

    <div class="flex flex-wrap mb-4 lg:mb-8">
      {%- for i in range(0, import.tweets.length) -%}
        {%- set item = import.tweets[i] -%}


        <div class="w-full border mb-2">
          <a href="{{ item.url }}" class="block p-4" target="_blank" rel="noopener noreferrer">

            {% if item.created %}
            <span class="block mb-1 text-mini">
              {{ item.created  | dateDisplay  }}, {{ item.created  | timeDisplay  }}
            </span>
            {% endif %}

            {% if item.from %}
            <span class="block text-sm font-600 mb-2">
              {{ item.from  }}:
            </span>
            {% endif %}

            <span class="block">{{ item.text | safe }}</span>
          </a>
        </div>
      {%- endfor -%}
    </div>


  </div>
</section>
