// Lists
ul,
ol {
  @include margin-bottom(2);
  list-style: none;
  padding: 0;

  li {
    @include margin-bottom(.5);
    @include padding-left(1);
    position: relative;

    &::before {
      color: $color-grey-light;
      left: 0;
      position: absolute;
      top: 0;
    }

    a {
      @include line-hover-fx();
      display: inline-block;
      position: relative;
    }
  }
}

ul {

  li {
    &::before {
      content: '—';
    }
  }
}

ol {
  counter-reset: listcounter;

  li {
    &::before {
      content: counter(listcounter) '. ';
      counter-increment: listcounter;
    }
  }
}
