<header class="header">
  <div class="header__content">
    <div class="header__text">
      <h1>ØH HELLO!<br>THIS IS ME</h1>
      <h1>THESE TWO<br>ARE GOLDEN</h1>
      <h1>EAT PASTA,<br>RIDE FASTA</h1>
      <h1>SOMEDAY I<br>MARRY HER</h1>
      <h1>ØH HELLO!<br>THIS IS ME</h1>
    </div>
    {% include header/social.html %}
  </div>
  <ul class="slider">
    {% for i in (1..4) %}
      {% include header/slide.html %}
    {% endfor %}
    {% for i in (1..1) %}
      {% include header/slide.html %}
    {% endfor %}
  </ul>
</header>