<!DOCTYPE html>
<html class="no-js">
<head>
<script>
  var host = 'diederikdijkstra.nl';
  if ((host == window.location.host) && (window.location.protocol != 'https:'))
    window.location.protocol = 'https';
</script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Diederik Dijkstra - Front-end UI developer">
<meta name="keywords" content="Diederik, Diederik Dijkstra, Front-end UI developer, Leeuwarden">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
{% include favicons.html %}
<title>{% if page.title != 'Diederik' %}{{ page.title }} &mdash; {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl }}">
<style>{% include critical.css %}</style>
<script src="{{ '/assets/js/modernizr.js' | prepend: site.baseurl }}" async></script>
<script src="{{ '/assets/js/bundle.js' | prepend: site.baseurl }}" async></script>
{% if page.mapbox %}
<script src='https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css' rel='stylesheet' />
{% endif %}
</head>
{% if page.layout == 'home'
  %}<body class="home">{%
else if page.layout == 'home-new'
  %}<body class="home--new">{%
else
  %}<body class="default">{%
endif %}
