<!doctype html>
<!--[if lt IE 7 ]> <html class="lt_ie9 lt_ie8 lt_ie7 ie6 no-js"> <![endif]-->
<!--[if IE 7 ]>    <html class="lt_ie9 lt_ie8 ie7 no-js"> <![endif]-->
<!--[if IE 8 ]>    <html class="lt_ie9 ie8 no-js"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="imagetoolbar" content="no">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<title>{% if page.title %} {{ page.title }} | {% endif %}Diederik Dijkstra</title>
	
	<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

	<link rel="stylesheet" href="/css/style.css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/js/script.min.js"></script>
	<script src="//use.typekit.net/djb4suw.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

</head>