<header class="hero">
  <svg id="duotone" viewBox="0 0 {{ page.hero.width }} {{ page.hero.height }}" preserveAspectRatio="xMidYMid slice" class="svg">
    <defs>
      <filter id="duotone-filter-hero">
        <feColorMatrix type="matrix" values="
          {% capture color2_0 %}
            {{ page.hero.colors[1][0] | divided_by: 256.0 }}
          {% endcapture %}{{ page.hero.colors[0][0] | divided_by: 256.0 | minus: color2_0}} 0 0 0 {{ page.hero.colors[1][0] | divided_by: 256.0 }}
          {% capture color2_1 %}
            {{ page.hero.colors[1][1] | divided_by: 256.0 }}
          {% endcapture %}{{ page.hero.colors[0][1] | divided_by: 256.0 | minus: color2_1}} 0 0 0 {{ page.hero.colors[1][1] | divided_by: 256.0 }}
          {% capture color2_2 %}
            {{ page.hero.colors[1][2] | divided_by: 256.0 }}
          {% endcapture %}{{ page.hero.colors[0][2] | divided_by: 256.0 | minus: color2_2}} 0 0 0 {{ page.hero.colors[1][2] | divided_by: 256.0 }}
          0 0 0 1 0"></feColorMatrix>
      </filter>
    </defs>
    <image xlink:href="assets/img/{{ page.hero.image }}" filter="url(#duotone-filter-hero)" width="{{ page.hero.width }}" height="{{ page.hero.height }}" class="image"></image>
  </svg>
</header>
