
<header><img src="img/1.jpg" class="test"/></header>
<main>
  <section>
    <h1>Diederik Dijkstra</h1>
    <h2>Front-end developer</h2>
  </section>
  <section class="blocks">
    <ul>
      <li class="instagram"><a href="https://instagram.com/dydric/" target="_blank"><span>Instagram</span></a></li>
      <li class="twitter"><a href="https://twitter.com/Dydric" target="_blank"><span>Twitter</span></a></li>
      <li class="codepen"><a href="http://codepen.io/dydric/" target="_blank"><span>Codepen</span></a></li>
      <li class="tumblr"><a href="http://dydric.tumblr.com/" target="_blank"><span>Tumblr</span></a></li>
      <li class="strava"><a href="http://www.strava.com/athletes/dydric" target="_blank"><span>Strava</span></a></li>
      <li class="github"><a href="https://github.com/dydric" target="_blank"><span>Github</span></a></li>
    </ul>
  </section>
  <section>
    <p><a user="diederikdijkstra" domain="gmail.com" href="#" class="email">diederikdijkstra<span>[at]</span>gmail<span>[dot]</span>com</a></p>
  </section>
</main>