<a class="toggle-menu" href="#"></a>
<a class="contact" href="/contact.html"></a>
		<nav class="social">
			<ul class="social-menu">
				<li class="social-menu__item social-menu__item--twitter">
					<a href="http://twitter.com/dydric" class="social-menu__item__link social-menu__item__link--twitter">Twitter</a>
				</li>
				<li class="social-menu__item social-menu__item--facebook">
					<a href="http://www.facebook.com/dydric" class="social-menu__item__link social-menu__item__link--facebook">Facebook</a>
				</li>
				<li class="social-menu__item social-menu__item--tumblr">
					<a href="http://dydric.tumblr.com" class="social-menu__item__link social-menu__item__link--tumblr">Tumblr</a>
				</li>
				<li class="social-menu__item social-menu__item--strava">
					<a href="http://www.strava.com/athletes/dydric" class="social-menu__item__link social-menu__item__link--strava">Strava</a>
				</li>
				<li class="social-menu__item social-menu__item--github">
					<a href="http://github.com/dydric" class="social-menu__item__link social-menu__item__link--github">Github</a>
				</li>
				<li class="social-menu__item social-menu__item--spotify">
					<a href="http://open.spotify.com/user/dydric" class="social-menu__item__link social-menu__item__link--spotify">Spotify</a>
				</li>
			</ul>
		</nav>