<section class="section section--intro bg-near-black white pa3">
  <div class="mw8 center ph3-m ph4-l fw8">
    <div class="mh3-l mb5">

      <h2 class="near-white">Blog:</a></h2>

        {% for post in site.posts %}
            {% assign year = post.date | date: "%Y" %}

            {% if year != prev_year %}
              <h3 class="mt4 mb1 white-50">{{year}}</h3>
            {% endif %}

              <h3 class="mt0 mb2">
              <a class="pr2" href="{{ post.url }}">{{ post.title }} {{ post.categories }}{{ post.tags }}</a>
              <span class="f5">{% assign month = post.date | date: '%m' | replace: '01', 'januari' | replace: '02', 'februari' | replace: '03', 'maart' | replace: '04', 'april' | replace: '05', 'mei' | replace: '06', 'juni' | replace: '07', 'juli' | replace: '08', 'augustus' | replace: '09', 'september' | replace: '10', 'oktober' | replace: '11', 'november' | replace: '12', 'december' %}{{ post.date | date: '%e' }}&nbsp;{{ month }}</span>
              </h3>

            {% assign prev_year = year %}
        {% endfor %}

    </div>
  </div>
</section>
