<ul class="social">
	<li class="social__item social__link--twitter"><a href="http://twitter.com/dydric">Twitter</a></li>
	<li class="social__item social__link--facebook"><a href="http://www.facebook.com/dydric">Facebook</a></li>
	<li class="social__item social__link--tumblr"><a href="http://dydric.tumblr.com">Tumblr</a></li>
	<li class="social__item social__link--strava"><a href="http://www.strava.com/athletes/dydric">Strava</a></li>
	<li class="social__item social__link--github"><a href="http://github.com/dydric">Github</a></li>
	<li class="social__item social__link--spotify"><a href="http://open.spotify.com/user/dydric">Spotify</a></li>
</ul>