<ul class="header__social">
	<li class="social__link--twitter">
		<a href="http://twitter.com" target="_blank">
			Twitter
		</a>
	</li>
	<li class="social__link--facebook">
		<a href="http://www.facebook.com/dydric" target="_blank">
			Facebook
		</a>
	</li>
	<li class="social__link--tumblr">
		<a href="http://dydric.tumblr.com" target="_blank">
			Tumblr
		</a>
	</li>
	<li class="social__link--strava">
		<a href="http://www.strava.com/athletes/dydric" target="_blank">
			Strava
		</a>
	</li>
	<li class="social__link--github">
		<a href="http://github.com/dydric" target="_blank">
			Github
		</a>
	</li>
	<li class="social__link--spotify">
		<a href="http://open.spotify.com/user/dydric" target="_blank">
			Spotify
		</a>
	</li>
</ul>