    <section class="section section--tweets bg-near-black white">
      <div>
        <div class="ml3-l">
          <h2 class="white"><a href="https://twitter.com/dydric" target="_blank" rel="noopener noreferrer" class="link white hover-near-white dim">
          Tweets:</a></h2>
          <div class="flex flex-wrap mb3 mb5-l">
          {% for tweet in site.data.tweets %}
              <div class="w-100 w-50-l mb3 pr3-l">
                <a href="{{ tweet.url }}" class="link db pa3 bg-black-70 h-100 hover-bg-black-90 bg-animate br1 bb bw1 b--gold" target="_blank" rel="noopener noreferrer">
                  <span class="db gray f7 fw3 mb2">{{ tweet.created | date: "%d-%m-%Y, %H:%M" }}</span>
                  <span class="db near-white fw6">{{ tweet.text }}</span>
                </a>
              </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </section>
