    <section class="section section--tweets bg-gold white pa3">
      <div class=" mw8 center ph3-m ph4-l">
        <h2 class="near-black"><a href="#" target="_blank" rel="noopener noreferrer" class="link near-black">🦜 Tweets:</a></h2>
        <div class="flex flex-wrap mb3 mb5-l">
        {% for tweet in site.data.tweets %}
            <div class="w-100 w-50-l mb3 pr3">
              <a href="{{ tweet.url }}" class="link db pa3 bg-white-50 h-100 hover-bg-white bg-animate" target="_blank" rel="noopener noreferrer">
                <span class="db gray f7 fw3 mb2">{{ tweet.created | date: "%d-%m-%Y, %H:%M" }}</span>
                <span class="db near-black fw8">{{ tweet.text }}</span>
              </a>
            </div>
        {% endfor %}
        </div>
      </div>
    </section>
