    <section class="section section--health bg-black white">
      <div>
        <div class="ml3-l">
          <h2 class="white">Activiteiten:</h2>

          <h3 class="white">Stappen</h3>
          <div class="flex flex-nowrap jusity-around items-end mb4 mb5-l pr3-l" style="width: 100%;">
          {% for health in site.data.health limit:30 %}
              {%- assign steps = health.steps | plus: 0 -%}
              {%- assign stepsclass = "bg-gold" -%}
              {%- if steps > 10000 -%} 
                {%- assign stepsclass = "bg-green" -%}
              {%- elsif steps < 5000 -%}
                {%- assign stepsclass = "bg-red" -%}
              {%- endif -%}
              <div class="w1 flex-auto box mr1 br2 {{ stepsclass }}" 
                {{ health.steps | divided_by: 100 | prepend: "style='height: " | append: "px'" }}>
              </div>
          {% endfor %}
          </div>

          <h3 class="white">Workouts</h3>
          <div class="flex flex-wrap mb3 mb5-l">
            {% for workout in site.data.workouts limit:8 %}
              <div class="w-50 w-25-l mb3 pr3-l">
                <span class="db white-50 f7 fw3 mb2">{{ workout.type }}</span>
                <span class="db near-white fw6">{{ workout.movingtime }}</span>
                {% if workout.distance != '' %}
                  {% assign workoutkm = workout.distance | round: 2 | divided_by: 1000 %}
                  <span class="db near-white fw6">{{ workoutkm | round: 2 | append: " km" }}</span>
                {% endif %}
                {% if workout.heartrate != '' %}
                  <span class="dib white-70 f7 fw6 mv2 mr2">♥ {{ workout.heartrate }}</span>
                {% endif %}
                {% if workout.activecalories != '' %}
                  <span class="dib white-70 f7 fw6 mv2">💪 {{ workout.activecalories }}</span>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
