---
layout: layouts/fullwidth
title: Scrapbook
permalink: /scrapbook/page-{{ pagination.pageNumber + 1 }}/
pagination:
  data: tumblr
  size: 72
---

{# eleventyNavigation:
  key: Scrapbook
  order: 3 #}

{% if not pagination.href.previous %}
<p class="-mt-6 text-lg sm:text-xl font-bold text-flamingo-600 mb-6 lg:mb-8">"Collecting things is an art form too" ✌🏻</p>
{% endif %}

<div class="fixed z-30 bottom-0 left-0 right-0 justify-center p-3 sm:p-6 hidden sm:flex pointer-events-none">

  <div class="bg-gray-800 text-flamingo-300 rounded-lg shadow-2xl p-1 sm:p-2 text-center">
    <p class="text-xs md:text-sm"><strong>Note:</strong> These images are NOT mine, but reblogged from <a href="{{ tumblr.url }}" target="_blank" rel="noopener noreferrer" class="text-flamingo-50 inline-flex items-center justify-center font-bold underline hover:no-underline pointer-events-auto">Tumblr <svg class="w-4 h-4 md:h-5 md:w-5 text-flamingo-50" viewBox="0 0 20 20" fill="currentColor">
      <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
      <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
    </svg></a>.</p>
  </div>

</div>

{% set totalpages = pagination.links | length %}
{# {% if pagination.pageNumber == 0 %}
  <p class="-mt-4 mb-8 text-gray-700 text-lg font-medium">Pagina {{ pagination.pageNumber + 1 }} van {{ totalpages }}
{% endif %} #}

<div class="grid gap-2 grid-cols-3 sm:grid-cols-4 max-w-full mb-8">
{% for item in pagination.items %}
  <div class="flex items-end">
    <a href="/scrapbook/{{ item.id }}/index.html" class="rounded-lg overflow-hidden block shadow-md hover:shadow-xl transform hover:-translate-y-1 transition-all duration-300 w-full"><img src="{{ item.thumb }}" alt="" class="w-full block lazyload"></a>
  </div>
{% endfor %}
</div>

  <div class="flex items-center justify-between">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="inline-flex items-center p-3 border border-transparent text-base leading-4 font-medium rounded-md text-champagne-900 hover:text-champagne-50 bg-champagne-100 hover:bg-champagne-600 focus:outline-none focus:border-champagne-800 focus:shadow-outline-champagne active:bg-champagne-800 transition ease-in-out duration-150 whitespace-no-wrap">Pagina&nbsp;{{ pagination.pageNumber }}</a>
  {% else %}
    <span class="text-gray-400 italic">Pagina 1</span>
  {% endif %}
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="inline-flex items-center p-3 border border-transparent text-base leading-4 font-medium rounded-md text-champagne-900 hover:text-champagne-50 bg-champagne-100 hover:bg-champagne-600 focus:outline-none focus:border-champagne-800 focus:shadow-outline-champagne active:bg-champagne-800 transition ease-in-out duration-150 whitespace-no-wrap">Pagina&nbsp;{{ pagination.pageNumber + 2 }}</a>
  {% else %}
    <span class="text-gray-400 italic">Pagina {{ totalpages }}</span>
  {% endif %}
  </div>


{# eleventyNavigation:
  key: Scrapbook
  order: 3
  url: /scrapbook/page-1/ #}

{# <div x-data="{ tab: 'ShowAll' }">

  <ol class=" mb-6"
    :class="{
        'grid gap-2 grid-cols-2 md:grid-cols-3 lg:grid-cols-4' : tab === 'ShowAll',
        '' : tab !== 'ShowAll'
      }"
  >
  {% for post in pagination.items %}
    <li class="flex items-end"
      x-show="tab === 'ShowAll'"
    >
      <a
        href="#"
        @click.prevent="tab = '{{ post.id }}'"
        class="rounded-lg overflow-hidden bg-indigo-500 block w-full">
          <img src="{{ post.thumb }}" alt="" class="w-full hover:opacity-75">
      </a>
    </li>

    <li class="flex relative z-10"
      x-show=" tab === '{{post.id }}'"
    >
      <a
        href="#"
        @click.prevent="tab = 'ShowAll'"
        @click.away="tab = 'ShowAll'"
        class="rounded-lg overflow-hidden block w-full">
          <img src="{{ post.photo }}" alt="" class="max-w-full relative z-10">
          <div class="fixed h-full w-full left-0 top-0 bottom-0 right-0 bg-black bg-opacity-75 z-0"></div>
      </a>
    </li>
  {%- endfor %}
  </ol>

  <div x-show="tab === 'ShowAll'">
  {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Vorige</a>{% endif %}
  {% if pagination.href.next %}<a href="{{ pagination.href.next }}">Volgende</a>{% endif %}
  </div>

</div> #}
