{% macro tag(
  tagName = "",
  tagclasses= "font-bold text-xs uppercase inline-block mr-1 text-sky-900 hover:text-lavender-700 transition-colors duration-150"
) %}
  <a href="/blog/tags/{{ tagName }}/" class="{{ tagclasses }}">#{{ tagName }}</a>
{% endmacro %}

{% macro tags(
  tags = "",
  classes = "font-bold text-xs uppercase inline-block mr-1 text-sky-900 hover:text-lavender-700 transition-colors duration-150"
) %}
  {%- for postTag in tags -%}
    {%- if
      ('all' not in postTag) and
      ('nav' not in postTag) and
      ('post' not in postTag) and
      ('posts' not in postTag) and
      ('promo' not in postTag)
    -%}
      {{ tag(
          tagName = postTag,
          tagclasses = classes
          ) }}
    {%- endif -%}
  {%- endfor -%}
{% endmacro %}

{% macro list(
  postTitle = "",
  postUrl = "",
  postDate = "",
  postTags = "",
  customTag = ""
) %}

  {%- set entryDate = postDate | readableDate -%}

  <div class="group relative mb-2 rounded-lg overflow-hidden border-2 border-primary hover:border-accent focus-within:border-accent bg-secondary transition-all duration-300">
    <a href="{{ postUrl }}" class="absolute z-0 block w-full h-full"></a>
    <div class="relative z-10 p-2 pointer-events-none">
      <div class="w-full text-meta font-bold text-xs text-gray-500 uppercase">
        {{ entryDate.split(" ")[0] }} {{ entryDate.split(" ")[1] }}
      </div>
      <div>
        <h3 class="md:inline font-bold text-lg sm:text-xl lg:text-2xl text-headline group-hover:underline mr-2">{{ postTitle }}</h3>
        {{ tags(
            tags = postTags,
            classes = "font-bold text-xs uppercase inline-block text-meta hover:text-link mr-2 pointer-events-auto"
          )
        }}
      </div>
    </div>
  </div>
{% endmacro %}


{% macro post(
  postTitle = "",
  postUrl = "",
  postDate = "",
  postTags = "",
  customTag = "",
  excerpt = "",
  postContent = "",
  featured_image = "",
  image_caption = "",
  hide_image = "",
  image_position = ""
) %}
  <div class="block leading-none py-4 sm:pb-2 pt-6 border-t-2 border-primary w-full ">
    <h2 class="font-extrabold leading-none text-3xl lg:text-4xl mb-2 lg:mb-4"><a href="{{ postUrl }}" class="inline-block text-headline hover:underline">{{ postTitle }}</a></h2>

    <div class="flex justify-start items-end mb-2 lg:mb-3">
      <time class="flex-initial font-medium text-sm text-meta lowercase mr-4" datetime="{{ postDate | htmlDateString }}">
    {% set isPromo = false %}
    {%- for postTag in postTags -%}
      {%- if 'promo' in postTag -%}
        {% set isPromo = true %}
      {%- endif -%}
    {%- endfor -%}
    {% if isPromo %}
      {% if customTag %}<span class="font-bold text-sm uppercase rounded-full bg-pink-500 text-pink-50 px-3 mr-4">{{ customTag }}</span>{% endif %}
    {% else %}
      {{ postDate | readableDate }}
    {% endif %}</time>


    <div class="flex-initial">{{ tags( tags = postTags ) }}</div>
    </div>
  </div>

  {% set markdownClasses = "" %}
  {% if image_position == "aside" %}
    {% set markdownClasses = "markdown--aside" %}
  {% endif %}

  <div class="markdown w-full {{ markdownClasses }}">
    {% if not hide_image %}
    {% if featured_image %}
      <div class="featured_image">
        <img src="{{ featured_image }}" alt="{{ image_caption }}" class="lazyload">
      </div>
    {% endif %}
    {% endif %}
    {% if excerpt %}
      <div>
        {% set excerptContent = excerpt | markdownify %}
        <div class="prose">{{ excerptContent | safe }}</div>
        <div class="my-6">
          <a href="{{ postUrl }}" class="text-link-alt underline font-semibold hover:no-underline hover:text-link-alt-hover">Lees verder</a>
        </div>
      </div>

    {% else %}
      <div class="prose">{{ postContent | safe }}</div>
    {% endif %}
  </div>
{% endmacro %}
