{% macro track(
  name = "",
  artist = "",
  album = "",
  link = "",
  albumlink = "",
  previewlink = "",
  cover = ""
) %}

<div class="item item--track{% if previewlink != null %} item--has-audio{% endif %}">
  <div class="album">
    {% if cover -%}
    <a href=" {{ albumlink }}" target="_blank" rel="noopener noreferrer" tabindex="-1">
      <img src="{{ cover }}" alt="" loading="lazy" class="">
      {%- if previewlink != null %}
      <div class="js-audio">
        <audio src="{{ previewlink }}"></audio>
        <button tabindex="-1"></button>
      </div>
      {%- endif %}
    </a>
    {%- endif %}
  </div>
  <div class="text">
    <h4><a href=" {{ link }}" target="_blank" rel="noopener noreferrer">{{ name }}</a></h4>
    <p><strong>{{ artist }}</strong> <small>{{ album }}</small></p>
  </div>
</div>

{% endmacro %}
