{% macro row(
  classes = "",
  content = ""
) %}
<section class="section{% if classes %} {{ classes }}{% endif %}">
  <div class="content">
    {{ content | safe }}
  </div>
</section>
{% endmacro %}

{% macro collection(
  title = "",
  content = ""
) %}

<div class="collection">
  <div class="col col--title">
    <h4>{{ title }}</h4>
  </div>
  <div class="col col--content">
    {{ content | safe }}
  </div>
</div>
{% endmacro %}

{% macro output(
  title = "",
  content = "",
  beforeContent = "",
  afterContent = "",
  code = false
) %}
  {% if title %}
    <h4>{{ title }}</h4>
  {% endif %}
  {% if content %}
  <div class="output{% if title %} output--{{ title | replace(' ', '-') | lower }}{% endif %}">
    {% if beforeContent %}{{ beforeContent | safe }}{% endif %}
    {{ content | safe }}
    {% if afterContent %}{{ afterContent | safe }}{% endif %}
  </div>
  {% endif %}
  {% if code %}
    {% highlight "html" %}{{ content | safe }}{% endhighlight %}
  {% endif %}
{% endmacro %}
