nav.band.band--blog
  //- h3 Blog:
  //- ul
  //-   | {% for post in site.posts %}
  //-   li
  //-     a(href="{{ post.url | prepend: site.baseurl }}")
  //-       | #[+showdate("post")] #[br] #[strong {{ post.title }}]
  //-   | {% endfor %}

  | {% for category in site.categories %}
  h3 {{ category[0] }}
  ul
    | {% for post in category[1] %}
    li #[+showdate("post")] #[br]
      a(href="{{ post.url | prepend: site.baseurl }}")
        | #[strong {{ post.title }}]
    | {% endfor %}
  | {% endfor %}
