// BREAKPOINTS
$bp-mobile		: 480;
$bp-smalltablet	: 600;
$bp-tablet		: 768;
$bp-desktop		: 1024;
$bp-widescreen	: 1200;

// COLORS
$color-bg		: #89fad0;
$color-txt		: #642ab6;

// TYPOGRAFIE
$font-family	: 'adelle-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-code		: Monaco, Consolas, "Lucida Console", monospace;
