// GRID
$grid-columns: 12;
$max-width: 1800;

// TYPOGRAPHY
$font-family: 	'adelle-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-code: 	Monaco, Consolas, 'Lucida Console', monospace;

// COLORS
@if ($body-ID == home or $body-ID == 404) {

	$color-1: #89fad0;
	$color-2: #642ab6;

} @elseif $body-ID == post--01 {

	$color-1: #f6ea8c;
	$color-2: #343b99;

} @elseif $body-ID == post--02 {

	$color-1: #fdbfdf;
	$color-2: #642ab6;

}
