---
layout: page.njk
title: 'Fijne deuntjes'
description: Spotify playlist die ik elke week vul met 25 verse versjes. Luister en abonneer direct via <a class="link" href="https://sptfy.com/deuntjes" target="_blank" rel="noopener noreferrer">https://sptfy.com/deuntjes</a>. 🎧
permalink: '/fijne-deuntjes/'
eleventyNavigation:
  parent: Voor de leuk
  key: Fijne deuntjes
  order: 1
---

{% cloudinaryImage
  site.url + "/static/images/uploads/fijne-deuntjes1.gif",
  "f_auto,c_fill,g_faces:auto,w_960",
  "Making a playlist is a delicate art",
  "",
  "960",
  ""
%}

{% cloudinaryImage
  site.url + "/static/images/uploads/fijne-deuntjes2.gif",
  "f_auto,c_fill,g_faces:auto,w_960",
  "It's like writing a love letter, but better in a way.",
  "",
  "960",
  ""
%}

<section>
  <h2>Laatste editie:</h2>
  {%- import "music.njk" as music with context -%}
  {{ music.list() }}
</section>


