---
layout: page.njk
title: 'Handige Linkjes'
description:
permalink: '/handige-linkjes/'
eleventyNavigation:
  parent: Voor de leuk
  key: Handige linkjes
  order: 4
---

<section>
  <ul>
  {% for item in feed.items %}
    <li class="mb-4 lg:mb-8">
      <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a><br>
      {% if item.content %}<span>{{ item.content }}</span>{% endif %}
    </li>
  {% endfor %}
  </ul>
</section>
