---
layout: page.njk
title: 'Leuke Linkjes'
description:
permalink: '/leuke-linkjes/'
eleventyNavigation:
  parent: Voor de leuk
  key: Leuke linkjes
  order: 4
---

<section>
  <ul>
  {% for item in feed.items %}
    <li>
      <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a><br>
      {% if item.content %}<span>{{ item.content }}</span>{% endif %}
    </li>
  {% endfor %}
  </ul>
</section>
