---
layout: page.njk
title: '🐤 Leuke tweetjes'
description: Mijn laatste Twitter likes op een rijtje. Dit overzicht is nog wel heel erg in ontwikkeling. Superfun om de twitterapi leeg te trekken :)
permalink: '/vind-ik-leuks/page-{{ pagination.pageNumber + 1 }}/'
pagination:
  data: twitterfavs
  size: 20
eleventyNavigation:
  parent: Voor de leuk
  key: Leuke tweetjes
  order: 3
---

{% set totalpages = pagination.links | length %}
{%- import "twitter.njk" as twitter with context -%}

<section>
  <ul class="grid gap-4 md:grid-cols-2 ">

  {% for item in pagination.items %}

    <li class="mb-0 h-full bg-white dark:bg-gray-800 border-2 border-gray-300 dark:border-gray-600 dark:text-white rounded relative pb-16">

      {% set url = "https://twitter.com/dydric/status/" + item.id_str %}
      {% set urlText = "Tweet" %}

      {# {% if item.entities.urls[0].expanded_url %}
        {% set url = item.entities.urls[0].expanded_url %}
        {% set urlText = "Link" %}
      {% endif %} #}

      {% if item.quoted_status %}

        <div class="bg-gray-100 dark:bg-gray-700 border-2 border-gray-300 dark:border-gray-600 mx-4 mt-4 rounded relative">
        {{ twitter.media(
          mediaItems = item.quoted_status.extended_entities.media
        ) }}

          <div class="p-2">
            {# <span class="text-sm xl:text-base font-bold block mb-2">{{ item.quoted_status.created_at | fullDate }}</span> #}
            <p class="text-sm xl:text-base">
              {# <a href="https://twitter.com/{{ item.quoted_status.user.screen_name }}" class="capitalize underline hover:no-underline font-medium" target="_blank" rel="noopener noreferrer">{{ item.quoted_status.user.name }}</a>:  #}
              <span class="tweetText">{{ item.quoted_status.full_text | tweetText | safe }}</span>
            </p>
          </div>

          {# <div class="absolute left-0 right-0 bottom-0 p-2 text-right text-xs xl:text-sm font-bold">
            <div class="flex justify-between">
              <div class="flex items-center text-pink-600">
                <svg class="w-4 h-4 block mr-1" fill="currentColor" stroke="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="0" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
                <span class="leading-none relative mt-px">{{ item.quoted_status.favorite_count }}</span>
              </div>
            </div>
          </div> #}

        </div>
      {% endif %}

      {{ twitter.media(
        mediaItems = item.extended_entities.media
      ) }}

        {#
          {% set lastWordFromTweet = item.text.lastIndexOf(" ") %}
          {% set tweetWithoutLink =  item.text.substring(0, item.text.lastIndexOf(" "))
          {% set linkfromTweet = item.text.split(" ").pop() %}
        #}

      <div class="p-4 w-full">
        <span class="text-sm xl:text-base font-bold block mb-2">{{ item.created_at | fullDate }}</span>
        {% if item.full_text | tweetText | safe != "" %}
          <p class="text-base xl:text-lg"><a href="https://twitter.com/{{ item.user.screen_name }}" class="capitalize underline hover:no-underline font-medium" target="_blank" rel="noopener noreferrer">{{ item.user.name }}</a>: <span class="tweetText">{{ item.full_text | tweetText | safe }}</span></p>
        {% endif %}
      </div>

      <div class="absolute left-0 right-0 bottom-0 p-4 text-right text-sm xl:text-base font-bold">
        <div class="flex justify-between">
          <a href="/vind-ik-leuks/{{ item.id }}/index.html" class="flex items-center text-pink-600">
            <svg class="w-6 h-6 block mr-1" fill="currentColor" stroke="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="0" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
            <span class="leading-none relative mt-px">{{ item.favorite_count }}</span>
          </a>
          <a href="{{ url }}" class="underline hover:no-underline text-blue-500 mt-px" target="_blank" rel="noopener noreferrer">{{ urlText }}</a>
        </div>
      </div>
    </li>

    {# {% for media in item.extended_entities.media %}
      {{ media | dump }}
    {% endfor %} #}

  {% endfor %}
  </ul>
</section>

{% if pagination.href.first != pagination.href.last %}

  {% set buttonClasses = "button mx-1" %}

  {% if pagination.items %}
  <nav aria-labelledby="pagination">
    <ol class="flex justify-between -mx-1 ">
      <li class="flex-initial flex-shrink-0 w-1/8 hidden sm:block">
        {% if page.url != pagination.href.first %}
          <a href="{{ pagination.href.first }}" class="{{ buttonClasses }}"><span>#1</span></a>
        {% endif %}
      </li>
      <li class="flex-initial w-4/12 sm:w-2/8">
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" class="{{ buttonClasses }}"><span>Vorige</span></a>
        {% endif %}
      </li>
      <li class="flex-auto justify-center items-center mx-1 flex w-4/12 sm:w-2/8">
        {%- for pageEntry in pagination.pages %}
          {% if page.url == pagination.hrefs[ loop.index0 ] %}
            <span class="text-sm sm:text-base whitespace-nowrap text-gray-600 dark:text-gray-200">
              Pagina {{ loop.index }} van {{ pagination.pages.length }}
            </span>
          {% endif %}
        {%- endfor %}
      </li>
      <li class="flex-initial w-4/12 sm:w-2/8">
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}" class="{{ buttonClasses }}"><span>Volgende</span></a>
        {% endif %}
      </li>
      <li class="flex-initial flex-shrink-0 w-1/8 hidden sm:block">
        {% if page.url != pagination.href.last %}
          <a href="{{ pagination.href.last }}" class="{{ buttonClasses }}"><span>#{{ pagination.pages.length }}</span></a>
        {% endif %}
      </li>
    </ol>
  </nav>
  {% endif %}
{% endif %}
