---
layout: page.njk
title: 'Spotify'
description: user&#58; <a href="https://open.spotify.com/user/diederikdijkstra.nl" class="underline hover:no-underline" target="_blank" rel="noopener noreferrer">diederikdijkstra.nl</a>
permalink: '/spotify/'
---

  <section>
    <h2>Topnummers van deze maand</h2>
    <p class="mb-4 lg:-mt-2">Daar zitten natuurlijk ook wat favorieten van de kinderen tussen 😉.</p>

    {%- import "music.njk" as music with context -%}
      <div class="grid divide-y-2 divide-gray-600 rounded bg-gray-800 dark:bg-black p-4" >

    {% for track in spotify.toptracks %}
      {{ music.track(
          index = loop.index,
          albumCoverUrl = track.album.images[1].url,
          trackName = track.name,
          trackArtists = track.artists,
          spotifyLink = track.external_urls.spotify,
          audioUrl = track.preview_url
      ) }}
    {% endfor %}
    </div>
  </section>

  <section>
    <h2>Topartiesten</h2>
    <p class="mb-4 lg:-mt-2">Overzicht van de laatste 6 maanden.<br>Ook hier een paar opvallende artiesten die ik niet direct kan verklaren 😘.</p>

    <div class="relative left-1/2 transform -translate-x-1/2 w-screen max-w-screen-2xl px-4">
    <ul class="grid grid-cols-5 sm:grid-cols-6 md:grid-cols-7 lg:grid-cols-8 xl:grid-cols-9 gap-2 grid-flow-row-dense relative">
    {% for artist in spotify.topartists %}

      {% set highlighted = ['The Black Keys', 'The War On Drugs', 'Ben Howard'] %}
      {% set classes = '' %}
      {% if artist.name in highlighted %}
        {% set classes = 'col-span-2 row-span-2 spotify-artist--highlighted' %}
      {% endif %}

      {% set artistUrl = artist.uri | replace("spotify:", "https://open.spotify.com/") | replace("artist:", "artist/") %}


      <li class="mb-0 {{ classes }}">
        <a href="{{ artistUrl }}" target="_blank" rel="noopener noreferrer" class="spotify-artist-link group rounded overflow-hidden shadow-md hover:shadow-xl block h-full hover:opacity-100 transition-shadow duration-100">
          <div class="text-white bg-black bg-opacity-75 text-2xl md:text-3xl lg:text-4xl xl:text-5xl leading-none font-extrabold p-2 m-2 hidden sm:block max-w-full absolute left-0 bottom-0 rounded opacity-0 group-hover:opacity-100 z-20 pointer-events-none">{{ artist.name }}</div>
          <div class="color-filter h-full w-full">
            <img src="{{ artist.images[1].url }}" width="{{ artist.images[1].width }}" height="{{ artist.images[1].height }}" class="object-cover h-full w-full" loading="lazy" alt="artiest: {{ artist.name }}">
          </div>
        </a>
      </li>
    {% endfor %}
    </ul>
    </div>
  </section>

  {% set newGenres = [] %}
    {% for artist in spotify.topartists %}
      {% for genre in artist.genres %}
        {% if genre not in newGenres %}
          {% set genres = (newGenres.push(genre), newGenres) %}
        {% endif %}
      {% endfor %}
    {% endfor %}

  <section>
    <h2>Genres</h2>
    <ul class="flex flex-wrap justify-start -ml-1">
      {% for genre in newGenres %}
        <li class="mr-1 mb-1 flex-auto text-center max-w-xs">
        <a href="https://open.spotify.com/search/genre%3A{{ genre | urlencode }}/tracks" class="bg-black text-white p-3 rounded-lg leading-none block no-underline text-lg hover:bg-blue-600 hover:opacity-100" target="_blank" rel="noopener noreferrer">{{ genre }}</a></li>
      {% endfor %}
    </ul>
  </section>


  <section>
    <h2>Playlists</h2>
    <ul class="flex flex-wrap -mx-1">
    {% for playlist in spotify.playlists.items %}
    {% if not 'Fijne deuntjes No' in playlist.name %}

      <li class="w-full sm:w-1/2 md:w-full mb-0 relative px-1 pb-2">
        <a href="{{ playlist.external_urls.spotify }}" target="_blank" rel="noopener noreferrer" class="bg-black p-4 rounded overflow-hidden hover:opacity-100 hover:bg-blue-600 no-underline flex flex-col md:flex-row h-full md:h-auto ">
          <div class="flex-initial w-full md:w-32 mb-4 md:mb-0 md:mr-4 flex-shrink-0">
            <img src="{{ playlist.images[0].url }}" width="{{ playlist.images[0].width }}" height="{{ playlist.images[0].height }}" class="w-full" loading="lazy">
          </div>
          <div class="text-white flex-auto">
            <span class="text-white text-lg sm:text-xl lg:text-2xl leading-tight font-extrabold block no-underline">{{ playlist.name }}</span>
            <span class="hidden md:block text-base font-normal leading-normal mt-2">{{ playlist.description | safe }}</span>
          </div>
        </a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </section>


