extends post.jade

block variables
	- var layout = 'post'
	- var title = 'Je hebt helemaal geen $#@%**** CMS nodig'
	- var bodyclass = 'post--01'

block content
	p.intro Er is namelijk een prima alternatief: <span>Static Sites!</span>
	
	p Wilde je vroeger een site online zetten die alleen uit HTML en CSS bestond, dan was je erg beperkt. Tegenwoordig is dit veel makkelijker door de komst van <a href="https://staticsitegenerators.net/">Static Site Generators</a>. Veruit de meest gebruikte is <a href="http://jekyllrb.com/">Jekyll</a> en de populariteit neemt alleen maar toe. Dat is ook niet zo gek, aangezien er veel voordelen zijn ten opzichte van een dynamische site met CMS.

	p ​Static site's zijn <strong>snel te ontwikkelen</strong> en <strong>precies naar wens te bouwen</strong> en in te richten. Ze zijn <strong>niet aan een database gekoppeld</strong> en er zijn <strong>geen beperkingen van een CMS</strong> waar je rekening mee moet houden. In plaats van de site zo (om) te bouwen dat het door de CMS beheerd kan worden, kies je nu voor een oplossing op maat waardoor <strong>beheer veel simpeler</strong> is en de <strong>focus ligt op elementen die echt belangrijk zijn</strong>. Je hebt geen last van een onduidelijke CMS structuur met allerlei workarounds of functies die je nooit gebruikt. En omdat er puur HTML, CSS en JS wordt gegenereerd, zijn static sites <strong>makkelijk te optimaliseren</strong> en <strong>laden ze snel</strong> doordat er (onder andere) geen database koppelingen nodig zijn. <strong>Hosting van static sites is ook veel goedkoper</strong>. Jekyll sites kunnen gemakkelijk via Github Pages (gratis) of Amazon S3 gehost worden. Maar check ook zeker <a href="http://netlify.com">Netlify.com</a>, een hosting service voor static websites. En als de static site eenmaal online staat, heb je veel minder kans dat deze offline raakt. <strong>Een static site is veel stabieler</strong>. Bijvoorbeeld op piekmomenten met enorme aantallen bezoekers, maar ook tegen bugs/errors en hacks.

	figure.figure.figure--left.fx1
		a.figure__link(href="https://www.google.nl/trends/2014/")
			img(src="/img/google-trends-2014.jpg" alt="")
			figcaption Google Trends 2014

	figure.figure.figure--right.fx1
		a.figure__link(href="http://contribute.barackobama.com")
			img(src="/img/obama-campagne.jpg" alt="")
			figcaption Obama Campagne

	p Hierboven staan twee voorbeelden van gigantische "static-site" projecten die al weer even geleden zijn ontwikkeld. Google heeft voor het jaaroverzicht gebruik gemaakt van een eigen generator (Goro), maar <a href="https://developers.google.com/web/fundamentals/">Web Fundamentals</a> bijvoorbeeld (ook van Google) is gebouwd met behulp van Jekyll. Net zoals de Obama Campagne. Meer info over dit project is te vinden in dit <a href="http://kylerush.net/blog/meet-the-obama-campaigns-250-million-fundraising-platform/">"$250 million fundraising platform"</a> artikel.

	p Static sites worden dus al enige tijd voor 'serieuze' projecten ingezet. Ze zitten nu echter in een stroomversnelling. Ze worden <strong>in rap tempo steeds meer mainstream</strong>. Website's van (grote) bedrijven zoals <a href="https://nest.com/">Nest</a> en <a href="http://mailchimp.com/">Mailchimp</a> zijn gemaakt met behulp van static site generators. Maar ook bedrijven als Nike en Netflix maken er al veelvuldig gebruik van. <strong>De snelle groei van Static Site's is vooral te danken aan de komst van de build-tools Gulp en Grunt</strong>. Hierdoor kunnen developers snel en gemakkelijk ontwikkelen. Hier zal ik later in een ander artikel verder op in gaan.

	p Om contentbeheer toegankelijk te maken voor klanten (of teams) zijn er platformen ontwikkeld waarmee (de content van) static-site's beheerd kunnen worden. De populairste zijn op dit moment <a href="http://cloudcannon.com/">Cloudcannon</a> en <a href="https://www.contentful.com/">Contentful</a>. Maar ook <a href="http://pooleapp.com/">PooleApp</a>, waarmee je dynamische content kunt plaatsen en ophalen, kan interessant zijn om in te zetten.

	blockquote.fx2 That being said, static website generators will continue to grow in capability and popularity. The infrastructure and ecosystem will keep maturing. And as the tools improve, we’ll see developers push the limit of what can be done with static websites.
		cite via <a href="http://www.smashingmagazine.com/2015/11/modern-static-website-generators-next-big-thing/">Smashing Magazine.com</a>

	p Natuurlijk is het (nog) niet voor elk project geschikt, maar je kunt er eigenlijk niet meer om heen. Static sites hebben zich al enige jaren bewezen. Ze worden zo snel doorontwikkeld dat ze een vaste waarde zijn en nóg meer gaan worden. Wat denk jij? Zijn static sites de toekomst?

	//- .button
	//- 	a(href="https://twitter.com/intent/tweet?screen_name=Dydric&text=%40Dydric%20http%3A%2F%2Fdiederikdijkstra.nl%2F2015%2F11%2F01%2Fje-hebt-helemaal-geen-cms-nodig.html%20%23ddblog01") Reageer via Twitter
