section
	h1 {{ page.title }}
	include ../includes/date.jade
	.content
		p.paragraph Ik heb m'n homepage een tijdje geleden - voor de zoveelste keer - maar weer eens aangepast naar een nieuwe vormgeving. Het stelt (nog) niet zo veel voor en 't kan ook nog alle kanten op gaan aangezien ik altijd aan het experimenteren ben en deze website inmiddels al wel 101 keer is veranderd. Dat houdt het leuk en fris en is ook nog eens erg leerzaam.

		p.paragraph Ik heb alle code verhuisd naar 
			a(href="https://github.com/dydric/dydric.github.io") github
			| en daar wordt deze site nu ook gehost. Als CMS gebruik ik 
			a(href="http://jekyllrb.com") Jekyll
			| . Ik had Jekyll al eens eerder uitgeprobeerd, maar liep toen tegen allerlei beperkingen aan. Nu denk ik dat Jekyll _perfect_ is als basis. Helemaal na de presentatie
			a(href='http://bit.ly/ssg-hollywood') STATIC SITES GO ALL HOLLYWOOD
			| van Phil Hawskworth op Fronteers15.

		p.paragraph Ik ben momenteel bezig om artikelen (**daar zijn ze weer**) te integreren. Vandaar ook even dit bericht :) Verder heb ik voor nu eigenlijk weinig meer te vermelden. Leuk dat je even langs kwam en kom zeker nog eens terug.

		//- | {% highlight ruby %}
		//- | def show
		//- |   @widget = Widget(params[:id])
		//- |   respond_to do |format|
		//- |     format.html # show.html.erb
		//- |     format.json { render json: @widget }
		//- |   end
		//- | end
		//- | {% endhighlight %}

		//- | {% highlight scss %}
		//- | body {
		//- |   color: $color-black;
		//- | }
		//- | {% endhighlight %}
