.paging{
	@include clearfix();
	margin: 0 0 $margin-bottom;
	text-align: right;

	&__item{
		display: inline-block;
		list-style: none;

		a, span{
			display: block; padding: 0 3px 2px; margin: 0 2px 2px 0;
			text-decoration: none; font-weight: normal
		}

		a:hover{
			text-decoration: underline;
		}

		span{
			color: $color-grey;
		}

		&--current {

			a {
				padding: 0 8px 2px;
				color: $color-white; 
				background: $color-accent;
				cursor: default;
				text-decoration: none;
			}
		}

		&--jump{
			padding: 0 3px;
			font-weight: normal;
			color: $color-grey;
		}

		&--previous, &--next{
			display: none;

			@include mq($bp-smalltablet, true) {
				display: inline-block;
				
				.sidebar &{
					display: none;
				}
			}
		}
	}
}