//	BREADCRUMB

	#breadcrumb{
		margin: 0 auto $margin-bottom;
		color: $grijs;
		@include font-size(11);
		span{
			display: none;
		}
		a{
			color: $grijs;
			text-decoration: none;
			&:hover{
				color: $donkergrijs;
			}
		}
		
		@include mq($mobile, false){
			max-width: 400px;
		}
		@include mq($smalltablet, true){
			max-width: inherit;
			@include font-size(13);
			span{
				display: inline;
			}
		}
	}

//	SEARCH

	#search{
		background: lighten($lichtergrijs, 5);
		height: 50px;
		//display: none;
		overflow: hidden;
		
		@include mq($desktop, true){
			margin: 0 $gutter;
		}
		
		
		form{
			margin: 0 auto;
			display: block;
			height: 50px; max-width: 600px; 
			padding: 0;
			
			div.searchinput{
				position: relative; overflow: hidden;
				background: $wit;
				display: block;
				border: 1px solid $lichtgrijs;
				margin: 10px;
				height: 28px;
				
				input{
					float: left;
					display: inline;
					outline: none;
					border: none;
					
					&.zoeken{
						background: $wit;
						border: 0; outline: none;
						font-family: $font;
						@include font-size(14);
						height: 24px; width: 100%;
						padding: 2px 2px 2px 5px;
						margin: 0;
						color: $donkergrijs;

						.lt_ie9 &{
							line-height: 24px;
						}
						
						@include mq($smalltablet, true){
							@include font-size(16);
						}
					}
				}
				
				button{
					position: absolute; right: 0; top: 0;
					background: $wit;
					border: 0; outline: 0;
					width: 28px; height: 26px;
					padding: 0; margin: 0;
					@include opacity(50);
					cursor: pointer;
					color: $grijs;
					@include font-size(14);
					
					&:hover, &:focus{
						@include opacity(100);
						color: $grijs;
					}
					.lt_ie9 &{
						top: 2px;
					}
				}
			}
		}
	}

//	COOKIE-BAR

	#cookie-bar {
		position: fixed; bottom: 0; left: 0; z-index: 100;
		width: 100%; padding: 10px 0;
		background: $zwart;
		background: rgba(0,0,0,0.8);
		color: $wit;
		display: none;
	
		#cookie-bar-text {
			max-width: 960px;
			margin: 0 auto;
			text-align: center;
			@include font-size(13);
			//background: red;
			p{
				display: inline-block;
				margin: 0 $gutter;
				.lt_ie9 &{
					display: inline;
				}
			}
			a {
				color: $wit;
				text-decoration: underline;
				&:hover{
					color: $lichtergrijs;
				}
			}
			#cookie-bar-close {
				background: $wit;
				padding: 5px 20px;
				margin: 10px auto 0;
				color: $zwart;
				text-decoration: none;
				@include rounded(2px);
				display: block;
				max-width: 260px;
				&:hover {
					background: $lichtergrijs;
				}
			}
			
			
			@include mq($tablet, true){
				#cookie-bar-close{
					display: inline;
				}
			}
			
		}
	}

