	html {
		font-size : 62.5%;
		height: 100%; overflow-y: scroll;
		-webkit-font-smoothing: antialiased;
		-webkit-overflow-scrolling : touch;
		-webkit-tap-highlight-color : rgba(0,0,0,0.1);
		-webkit-text-size-adjust : 100%;
		-ms-text-size-adjust : 100%;
		background-color: $bodycolor;
		//min-height: 100%;
	}

	body{
		color: $textcolor;
		font-family: $font;
		line-height: $lineheight;
		@include font-size(16);
		//height: 100%;
		@include mq($smalltablet, false) {
			@include font-size(18);
		}
		@include mq($tablet, true) {
			@include font-size(20);
		}
	}

//	HEADER

	.header{
		//float: left; display: block;
		text-align: center;
		margin: 0; padding: 0;
		width: 100%;
		.default &{
			// min-height: 100%;
		}
	}
	
		.header__logo{
			//position: absolute; left: 50%; top: 20px;
			display: inline-block;
			height: 60px; width: 60px;
			text-indent: -9999px;
			margin: 2em auto 3em auto;
			@include opacity(10);
			@include retina-sprite(logo);
		}
		
		.header__title{
			font-family: $titel;
			line-height: 0.8;
			font-weight: normal;
			color: $donkerdergrijs;
			@include font-size(80);
			margin-bottom: .2em;
			text-transform: uppercase;
			letter-spacing: 0;
			clear: both;
			.post &{
				@include font-size(36);
			}
			@include mq($smalltablet, false) {
				@include font-size(100);
				.post &{
					@include font-size(48);
				}
			}
			@include mq($tablet, false) {
				@include font-size(120);
				.post &{
					@include font-size(64);
				}
			}
			@include mq($desktop, false) {
				@include font-size(140);
				.post &{
					@include font-size(80);
				}
			}
			@include mq($widescreen, true) {
				@include font-size(160);
				.post &{
					@include font-size(100);
				}
			}
		}
		
		.header p{
			max-width: 24em;
			margin: 0 auto 1em;
		}

		.header__social{
			list-style: none;
			margin-bottom: 2em;
			li{	
				display: inline-block;
				margin: 0 .2em;
				a{
					@include font-size(14);
					color: $lichtgrijs;
					text-decoration: none;
					border-bottom: 0;
					@include mq($tablet, false) {
						@include font-size(16);
					}
					@include mq($desktop, false) {
						@include font-size(18);
					}
					@include mq($widescreen, true) {
						@include font-size(20);
					}
				}
			}
		}
		
		.social__link--twitter a:hover  {color: #2290bf;}
		.social__link--facebook a:hover {color: #3b5998;}
		.social__link--tumblr a:hover   {color: #2c4762;}
		.social__link--strava a:hover   {color: #fc4c02;}
		.social__link--github a:hover   {color: #cacaca;}
		.social__link--spotify a:hover  {color: #b4d612;}

	ul.posts{
		clear: both;
		margin: 0; padding: 0;
		border-top: 1px solid $lichtgrijs;
		list-style: none;
		display: none;
		li{
			border-bottom: 1px solid $lichtgrijs;
			a{
				color: $grijs;
			}
		}
	}

//	MAIN

.main{
	clear: both;
	max-width: 1200px;
	margin: 3em 1em;
	padding-bottom: 3em;
	@include mq($mobile, false){
		margin: 3em 2em;
	}
	@include mq($tablet, false){
		margin: 3em;
	}
	@include mq($widescreen, true){
		margin: 3em auto;
	}
}

p, ul, ol, table, figure, pre{
	margin: 0 auto 1em;
	@include mq($smalltablet, false){
		max-width: 500px;
	}
	@include mq($tablet, true){
		max-width: 600px;
	}
}

.main > p:first-child{
	color: darken($textcolor, 10);
	@include font-size(18);
	@include mq($smalltablet, false) {
		@include font-size(20);
	}
	@include mq($tablet, true) {
		@include font-size(24);
	}
}

.main > a{
	color: $accent;
	text-decoration: none;
	border-bottom: 1px solid $accent;
	&:hover, &:active{
		color: $hoveraccent;
		border-bottom: 1px solid $accent;
	}
}