<script>
  var host = '{{site.enforce_ssl}}';
  if ((host == window.location.host) && (window.location.protocol != 'https:'))
    window.location.protocol = 'https';
</script>
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
    {# {% if site.ENV == 'production' or site.ENV == 'online' %}
      {% set css %}{% include "css/app.compiled.css" %}{% endset %}
      <style>
        {{ css | safe }}
      </style>
    {% else %}
    <link rel="stylesheet" href="/static/app.compiled.css">
    {% endif %} #}
    <link rel="stylesheet" href="/static/app.compiled.css">
  </head>
  <body>
    <div class="site">
      {% include "partials/header.njk" %}
      <main class="main">
        {{ content | safe }}
      </main>
    </div>
    <canvas class="noise"></canvas>
  </body>
  <script src="//twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>
  <script src="/static/app.bundled.js"></script>
</html>
