<script>
  var host = '{{site.enforce_ssl}}';
  if ((host == window.location.host) && (window.location.protocol != 'https:'))
    window.location.protocol = 'https';
</script>
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
    {# {% if site.ENV == 'production' or site.ENV == 'online' %}
      {% set css %}{% include "css/app.compiled.css" %}{% endset %}
      <style>
        {{ css | safe }}
      </style>
    {% else %}
    <link rel="stylesheet" href="/static/app.compiled.css">
    {% endif %} #}
    <link rel="stylesheet" href="/static/app.compiled.css">
  </head>
  <body>
    <div class="site">
      <header class="header">
        <section class="header__title">
          <h3>{{ site.author }} <span class="hidden">v{{ site.version}}</span></h3>
          <a href="#" class="lg:hidden js-toggleMenu">menu</a>
        </section>
        {% include "partials/navigation.njk" %}
      </header>
      <main class="main">
        {{ content | safe }}
      </main>
    </div>
  </body>
  <script src="//twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>
  <script src="/static/app.bundled.js"></script>
</html>
