<!DOCTYPE html>
<script>
  var host = '{{site.enforce_ssl}}';
  if ((host == window.location.host) && (window.location.protocol != 'https:'))
    window.location.protocol = 'https';
</script>
{# {%- set entryUrl = page.url.split("/")[1] -%}
<html lang="{% if "blog" in entryUrl %}nl{% else %}en{% endif %}"> #}
<html{% if site.lang %} lang="{{ site.lang }}"{% endif %}>
  {% include "partials/head.njk" %}
  <body class="bg-gray-900">

  <div
    x-data="{ showNav: false, atTop: true, isPreload: true }"
    @scroll.window="isPreload = (window.pageYOffset > 1) ? false : false"
  >
    {% include "partials/header-fullwidth.njk" %}

    <div class="max-w-screen-xl px-4 md:px-6 mx-auto flex flex-wrap sm:flex-no-wrap pt-16 sm:pt-20">
      {% block content %}
        <div class="flex-auto flex-grow-0 py-6 sm:py-16 w-full min-w-0 mt-3">
           {# {% include "partials/alert.njk" %} #}

          {% if renderData.title or title %}
            <h1 class="font-extrabold leading-none text-4xl lg:text-5xl mb-8 text-sky-200">
              {{ renderData.title or title }}
            </h1>
          {% endif %}
          <div class="max-w-full">
            {{ content | safe }}
          </div>
        </div>
      {% endblock %}
    </div>
  </div>

  {# {% include "partials/footer.njk" %} #}

  </body>
  <script src="//twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>
  <script>twemoji.parse(document.body);</script>
</html>
