<!DOCTYPE html>
<script>
  var host = '{{site.enforce_ssl}}';
  if ((host == window.location.host) && (window.location.protocol != 'https:'))
    window.location.protocol = 'https';
</script>
<html
  {% if site.lang %} lang="{{ site.lang }}"{% endif %}
  {% if theme %} class="{{ theme }}"{% endif %}
  data-theme="system"
>
  {% include "partials/head.njk" %}
  <body class="bg-primary text-body">

  {% block content %}
    {{ content | safe }}
  {% endblock %}

  </body>
  <script src="//twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>
  <script>twemoji.parse(document.body);</script>
</html>
