<script>
  var host = '{{site.enforce_ssl}}';
  if ((host == window.location.host) && (window.location.protocol != 'https:'))
    window.location.protocol = 'https';
</script>
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
    <link rel="stylesheet" href="/static/app.compiled.css">
  </head>
  <body>

    <div class="site">
      <header class="header">
        <section class="header__title">
          <h3>{{ site.author }} <span class="hidden">v{{ site.version}}</span></h3>
          <a href="#" class="lg:hidden js-toggleMenu">menu</a>
        </section>
        {% include "partials/navigation.njk" %}
      </header>
      <main class="main">
        <section class="section">
          <div class="content">
            <article class="mb-8">
              <h1 class="font-bold text-5xl leading-tight mb-2">{{ title }}</h1>
              <time datetime="{{ post.date }}" class="mb-2 block text-base opacity-50">
                {{ date | readableDate }}
              </time>

              {% if tags %}
                <ul class="tags mb-8">
                {% set comma = joiner() %}
                {% for item in tags %}
                  {%- if item != "post" -%}
                    <li>
                      <a href="/category/{{ item }}" class="button">{# {{ comma() }} #} #{{ item | capitalize }}</a>
                    </li>
                  {%- endif -%}
                {% endfor %}
                </ul>
              {% endif %}

              {% if featured_image %}
              <figure class="max-w-3xl">
                <img src="{{ featured_image }}" alt="{{ image_caption }}" loading="lazy">
                {% if image_caption %}
                  <figcaption class="text-center text-sm italic mt-2 mb-8">{{ image_caption }}</figcaption>
                {% endif %}
              </figure>
              {% endif %}

              <div class="max-w-xl">
                {% if excerpt %}
                  <p>{{ excerpt | safe }}
                {% endif %}

                {{ content | safe }}
              </div>
            </article>
          </div>
        </section>
      </main>
    </div>

  </body>
  <script src="//twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>
  <script src="/static/app.bundled.js"></script>
</html>
