<!doctype html>
<html lang="nl" class="min-h-full antialiased">
<head>
  {% include "shared/head.njk" %}
</head>
<body class="min-h-full text-lg bg-grey-900 text-white leading-normal inter {{ body_class }}">
  {{ content | safe }}
  {% include "shared/foot.njk" %}
</body>
</html>
