---
layout: layouts/default.njk
theme: theme-default
permalink: /
eleventyNavigation:
  key: Home
  order: 1
---

{# renderData:
  title: "{{ site.author.name }}" #}

{% macro family(
  name = "lotte",
  color = "lavender"
) %}<span class="inline relative" x-data="{open: false}" :class="{'z-20': open}">
  <button
    @click="open = !open"
    @click.away="open = false"
    class="font-bold leading-none p-0 focus:outline-none border-0 appearance-none border-b-4 border-{{ color }}-400 border-opacity-50 hover:border-{{ color }}-300">
      {{ name | capitalize }}
  </button><span
    x-show="open"
    x-transition:enter="transition ease-in duration-150"
    x-transition:enter-start="opacity-0 transform scale-90"
    x-transition:enter-end="opacity-100 transform scale-100"
    x-transition:leave="transition ease-out duration-500"
    x-transition:leave-start="opacity-100 transform scale-100"
    x-transition:leave-end="opacity-0 transform scale-50"
    class="absolute left-50 top-50 w-24 h-24 max-w-none -m-12 rounded-full shadow select-none pointer-events-none bg-{{ color }}-200 block"
  ><img
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="/static/images/home/{{ name }}.png"
      alt="afbeelding van {{ name | capitalize }}"
      class="lazyload"
  ></span>
</span>
{% endmacro %}

<p class="text-headline font-bold text-3xl lg:text-4x l mb-12 leading-tight md:leading-normal md:-mt-1">

  {{ site.author.name }}
  woont in Leeuwarden met
  {{ family(name = "lotte") }},
  {{ family(name = "elin", color = "flamingo") }}&nbsp;en

  {{ family(name = "fedde", color = "sky") }}.

  Werkt als developer bij TRES. Gespecialiseerd in UX/UI en Design Systems.

</p>

<h2 class="text-subheadline font-bold leading-none text-xl lg:text-2xl mt-8 mb-5 text-cool-gray-700 text-opacity-75">
  ⚔️ Tools &amp; Skills:
</h2>

{% set skills = [
  ["💻", "Responsive &amp; Mobile websites", "Atomic Design / BEM"],
  ["💡", "TailwindCSS / Nunjucks / Alpine.js"],
  ["❤️", "JAMstack", "Eleventy (11ty) / Netlify"],
  ["⚛️", "Design Systems", "Styleguides / Pattern libraries "],
  ["🛠", "Npm / Gulp / Webpack / PostCSS / Sass"],
  ["⚡️", "Performance", 'Lighthouse / <a href="https://developers.google.com/speed/pagespeed/insights/?hl=nl&url=https%3A%2F%2Fdiederikdijkstra.nl%2F&tab=desktop" class="inline-flex items-center justify-center underline hover:no-underline" target="_blank" rel="noopener noreferrer">Page speed <svg class="mx-1 h-4 w-4 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
              <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
              <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
            </svg></a>'],
  ["👀", "Accessibility", 'WCAG / <a href="https://www.digitoegankelijk.nl/" class="inline-flex items-center justify-center underline hover:no-underline" target="_blank" rel="noopener noreferrer">DigiToegankelijk <svg class="mx-1 h-4 w-4 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
              <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
              <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
            </svg></a>'],
  ["🎨", "Design", "Figma / Sketch"],
  ["🤓", "GIT / Command line", "VSCode / Hyper / Tower"]
] %}

<ul class="grid grid-cols-1 gap-2 md:gap-4 sm:grid-cols-2 lg:grid-cols-3 mb-12">
{% for emoji, title, content in skills %}
  <li class="col-span-1 flex items-stretch rounded-md overflow-hidden">
    <div class="bg-accent-secondary flex-shrink-0 flex items-center justify-center w-10 sm:w-12 text-center text-2xl leading-5 font-medium py-2 md:py-3 rounded-md"><span class="relative" style="left: -1px">{{ emoji }}</span></div>
    <div class="flex-1 px-3 py-1 flex flex-col items-center justify-center flex-wrap">
      {% if title %}<span class="text-headline text-base leading-5 block font-bold w-full">{{ title | safe }}</span>{% endif %}
      {% if content %}<span class="text-subheadline text-sm leading-5 block font-medium w-full">{{ content | safe }}</span>{% endif %}
    </div>
  </li>
{% endfor %}
</ul>

<h2 class="text-subheadline font-bold leading-none text-xl lg:text-2xl mb-2 mt-8 text-cool-gray-700 text-opacity-75">
  💼 Werk:
</h2>
<p class="mb-5 text-sm md:text-base font-medium">Actiefoto's van Diederik aan het 'werk' bij <a href="https://tres.nl" class="inline-flex items-center justify-center font-bold underline hover:no-underline" target="_blank" rel="noopener noreferrer">TRES <svg class="w-4 h-4 md:h-5 md:w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
              <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
              <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
            </svg></a>.</p>

<div class="sm:flex mb-12 lg:mb-20 overflow-hidden rounded-lg shadow-2xl">
  <div class="flex-initial sm:w-1/3">
    {# <img
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="/static/images/home/tres2_small.jpg"
      alt=""
      class="lazyload w-full"
    > #}
    {% Image "./_site/static/images/tres2.jpg", "Ik bij TRES #1" %}
  </div>
  <div class="flex-initial sm:w-2/3">
      {# <img
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="/static/images/home/tres_small.jpg"
      alt=""
      class="lazyload w-full"
    > #}
    {% Image "./_site/static/images/tres.jpg", "Ik bij TRES #2" %}
  </div>
</div>

<h2 class="text-subheadline font-bold leading-none text-xl lg:text-2xl mt-8 mb-2 text-cool-gray-700 text-opacity-75">
  🎧 Favorieten:
</h2>
<p class="mb-5 text-sm md:text-base font-medium">Geen dag zonder muziek. Dit zijn de meest recente tracks die ik heb toegevoegd aan de playlist: <a class="inline-flex items-center justify-center font-bold underline hover:no-underline" href="https://open.spotify.com/playlist/0phr7QOeXCConRswu3ZEtv?si=kR9kU9DlQ9efEU6Hera_ww" target="_blank" rel="noopener noreferrer">Musiclog Shortlist <svg class="w-4 h-4 md:h-5 md:w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
              <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
              <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
            </svg></a>.</p>
<div class="grid gap-2 grid-cols-3 md:grid-cols-6 max-w-sm md:max-w-full mb-12 lg:mb-20">
{# {%- for i in range(0, spotify_now.items.length) | reverse -%} #}

{%- for i in range(0, spotify_now.items.length) | reverse -%}
  {%- set spotify = spotify_now.items[i] -%}
  {% if loop.index < 7 %}
  <div>
    <a href="{{ spotify.track.external_urls.spotify }}" target="_blank" rel="noopener noreferrer" class="rounded-lg overflow-hidden block shadow-md hover:shadow-xl transform hover:-translate-y-1 transition-all duration-300">
    <img
      class="w-full lazyload"
      src="{{ spotify.track.album.images[2].url }}"
      data-src="{{ spotify.track.album.images[1].url }}"
      alt="'{{ spotify.track.name }}' - {{ spotify.track.artists[0].name }}"
    >
    </a>
  </div>
  {% endif %}

{%- endfor -%}
</div>

{% set postTitle = "Laatste berichten:" %}

{%- if collections.post.length > 3 -%}
  {%- set postCount = 4 -%}
  {# {% set postTitle = "Laatste " + postCount + " berichten:" %} #}
  {% set postTitle = "Laatste berichten:" %}
{%- endif -%}

{%- import "macros/cards.njk" as card -%}

<h2 class="text-subheadline font-bold leading-none text-xl lg:text-2xl mt-8 mb-5 text-cool-gray-700 text-opacity-75">
  🗞 {{ postTitle }}
</h2>

<div class="grid gap-2 lg:grid-cols-2 md:max-w-xl lg:max-w-full mb-6">
{% for post in collections.post | reverse %}
  {% if loop.index < (postCount + 1) %}
    <div class="bg-secondary border-2 border-primary hover:border-accent shadow-none hover:shadow-lg rounded-lg p-4 flex flex-row items-center flex-wrap transition-all duration-300 relative">
      <a href="{{ post.url }}" class="newscardtitle w-full py-2 font-bold leading-none text-xl text-headline hover:underline">{{ post.data.title }}</a>
      <div class="w-full flex-initial self-end relative z-20 pointer-events-none">
        <div class="w-full font-bold text-xs text-gray-500 uppercase py-2">{{ post.date | readableDate }}</div>
        <div class="">
          {{ card.tags(
              tags = post.data.tags,
              classes = "font-bold text-xs uppercase inline-block mr-1 text-lavender-700 hover:text-lavender-50 transition-colors duration-150 bg-flamingo-50 hover:bg-lavender-800 rounded px-2 py-1 pointer-events-auto"
            )
          }}
        </div>
      </div>
    </div>
  {% endif %}
{%- endfor -%}
</div>

{# <div class="border-b-2 border-gray-300 border-opacity-25 mb-4">
{% for post in collections.post | reverse %}
  {%- if collections.post.length > 3 -%}
    {% if loop.index < (postCount + 1) %}
      {{ card.list(
        postTitle = post.data.title,
        postUrl = post.url,
        postDate = post.date,
        postTags = post.data.tags,
        customTag = post.data.customTag
      ) }}
    {% endif %}
  {% else %}
    {{ card.list(
      postTitle = post.data.title,
      postUrl = post.url,
      postDate = post.date,
      postTags = post.data.tags,
      customTag = post.data.customTag
    ) }}
  {% endif %}
{%- endfor %}
</div> #}

{%- if collections.post.length > 3 -%}
  <div class="flex items-center flex-wrap justify-between mb-12">
    <a href="/blog/page-1" class="inline-flex items-center p-3 text-base leading-4 font-medium rounded-md text-button hover:text-button-hover bg-button hover:bg-button-hover focus:outline-none transition ease-in-out duration-150 mr-4">Blog</a>
    <div class="flex-auto py-3">
      <a href="{{ site.archive_url }}" class="text-sm text-meta hover:text-link transition ease-in-out duration-150 truncate">Archief &rarr;</a>
    </div>
  </div>

{% endif %}


{% set twitter = [] %}

{%- for favorite in favorites -%}
  {%- set twitter = (twitter.push(favorite), twitter) -%}
{%- endfor -%}

{%- for tweet in tweets -%}
  {%- set twitter = (twitter.push(tweet), twitter) -%}
{%- endfor -%}

<h2 class="text-subheadline font-bold leading-none text-xl lg:text-2xl mt-8 mb-2 text-cool-gray-700 text-opacity-75">
  🐥 Twitter:
</h2>
<p class="mb-5 text-sm md:text-base font-medium">Mijn laatste (re)tweets en likes. Ga je daar lekker op, dan is het handiger om me even te <a class="inline-flex items-center justify-center font-bold underline hover:no-underline" href="https://twitter.com/intent/follow?screen_name=dydric" target="_blank" rel="noopener noreferrer">volgen <svg class="w-4 h-4 md:h-5 md:w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
  <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
  <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
</svg></a>.</p>

<div class="grid gap-2 md:grid-cols-2 lg:grid-cols-3 max-w-full mb-12 lg:mb-20">
{% for tweet in twitter | sort(true, true, 'epoch') %}
  {% if loop.index < 7 %}
<a href="{{ tweet.url }}" class="relative text-sm text-gray-600 font-normal bg-sky-50 hover:bg-sky-100 p-4 pb-2 rounded-md flex flex-row items-stretch flex-wrap transition-all duration-300 border-2 border-sky-100 hover:border-sky-500 hover:shadow-lg" target="_blank" rel="noopener noreferrer">

  {% if tweet.media[0].media_url_https %}
    <div class="absolute top-0 left-0 z-20 bg-cover bg-center bg-no-repeat w-12 h-12 m-4 rounded" style="background-image: url({{ tweet.media[0].media_url_https }})"></div>
  {% endif %}

  {% if tweet.type == "favorite" %}
    <div class="absolute right-0 bottom-0 p-1 rounded-full bg-white h-8 w-8 text-center text-xl shadow-lg transform -translate-x-2 -translate-y-2">
      <span class="relative h-6 w-6 inline-block" style="left: -1px">❤️</span>
    </div>
  {% endif %}

  <div {% if tweet.media[0].media_url_https %}class="pl-16"{% endif %}>
    {% if tweet.type == "favorite" %}
      {% if tweet.user.name %}
        @{{ tweet.user.name }}:
      {% endif %}
    {% endif %}
    {{ tweet.text }}
  </div>

  <div class="w-full flex-initial self-end mt-2 font-bold text-xs uppercase py-2">
    <span class="text-gray-600">{{ tweet.epoch | epochDate }}</span>
  </div>
</a>
  {% endif %}
{% endfor %}
</div>

<h2 class="text-subheadline font-bold leading-none text-xl lg:text-2xl mt-8 mb-2 text-cool-gray-700 text-opacity-75">
  ✨ Inspiratie:
</h2>
<p class="mb-5 text-sm md:text-base font-medium">Tot slot nog wat verzamelde afbeeldingen (reblogs) uit mijn <a class="inline-flex items-center justify-center font-bold underline hover:no-underline" href="/scrapbook/page-1" >scrapbook</a> voor je dagelijkse portie inspiratie. Have fun! 😘</p>
{# <div class="grid gap-2 grid-cols-3 lg:grid-cols-6 max-w-lg lg:max-w-full"> #}
<div class="flex">
{% for item in tumblr %}
  {% if loop.index < 6 %}
    <div
      class="flex-auto flex items-end mr-2
              {% if loop.index == 4 %}hidden sm:flex{% endif %}
              {% if loop.index == 5 %}hidden lg:flex{% endif %}
            ">
      <a href="/scrapbook/{{ item.id }}/index.html" class="rounded-lg overflow-hidden block shadow-md hover:shadow-xl transform hover:-translate-y-1 transition-all duration-300">
        <img src="{{ item.thumb }}" alt="Scrapbook image {{ loop.index }}" class="max-h-56 w-auto lazyload">
      </a>
    </div>
  {% endif %}
{% endfor %}
</div>
