include ../includes/mixins.jade

doctype html
html.post.no-js
  include ../includes/head.jade
  body
    .site
      nav.band.band--nav
        | {% for category in page.categories %}
        p #[a(href="/") Diederik] / {{ category }}
        | {% endfor %}
      article.band.band--content
        h1 {{page.title}}
        span.meta #[+showdate("page")] #[+readingtime()]
        | {{ content }}
    include ../includes/foot.jade
