doctype html
html.no-js
  include ../includes/head.jade
  body.post(class= "{{ page.bodyclass}}")
    .status
      .bar
    nav.nav
      a.name(href="/") Diederik Dijkstra
      ul.menu
        | {% if page.bodyclass == 'offline' %}
        li.menu__item
          a.menu__link.menu__item--retry(href="#") Probeer opnieuw
        | {% else %}
        li.menu__item
          a.menu__link(href="/") Home
        li.menu__item.menu__item--rss
          a.menu__link(href="{{ '/feed.xml' | prepend: site.baseurl }}") RSS
        | {% endif %}
    section
      h1 {{page.title}}
      span.meta
        | {% assign month = page.date | date: '%m' | replace: '01', 'januari' | replace: '02', 'februari' | replace: '03', 'maart' | replace: '04', 'april' | replace: '05', 'mei' | replace: '06', 'juni' | replace: '07', 'juli' | replace: '08', 'augustus' | replace: '09', 'september' | replace: '10', 'oktober' | replace: '11', 'november' | replace: '12', 'december' %}
        | {{ page.date | date: '%e' }}&nbsp;{{ month }}&nbsp;{{ page.date | date: '%Y' }}
      .content
        | {{ content }}
    include ../includes/footer.jade
