---
layout: page.njk
title: 'Archief'
permalink: '/{{ site.rootCollections}}/archive/'
eleventyNavigation:
  parent: Blog
  key: Archief
  order: 1
---

{# <div class="font-serif grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-2 mb-8 lg:mb-12 font-semibold text-sm sm:text-base md:text-lg">

  {% for item in collections.tagList-%}
    {%- if item not in site.filterTags -%}
      <a href="/{{ site.rootCollections}}/tags/{{ item }}/" class="rounded-md p-2 bg-blue-400 dark:bg-blue-800 text-white hover:underline">#{{ item }}</a>
    {% endif -%}
  {%- endfor -%}
</div> #}

<section>
  <ul>
  {%- set page = 0 -%}
  {% for post in collections.posts %}

    {% if post.date.getTime() <= site.dateNow %}

      {%- set itemsperpage = site.itemsPerPage -%}

      {%- if (loop.index - 1) % itemsperpage == 0 -%}
        {%- set page = page + 1 -%}
      {%- endif -%}
      {%- set url = "/blog/page-" + page -%}

      {%- if (loop.index - 1) % itemsperpage != 0 -%}
        {%- set url = url + "#" + post.data.title | slug -%}
      {%- endif -%}

    <li{% if post.data.hide %} class="hidden-post"{% endif %}>
      <a href="{{ url }}">{{ post.data.title }}</a>
      <time datetime="{{ post.date.toISOString() }}">{{ post.date | fullDate }}</time>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</section>


