---
layout: page.njk
title: 'Archief'
permalink: '/{{ site.rootCollections}}/archive/'
eleventyNavigation:
  parent: Blog
  key: Archief
  order: 1
---

{%- import "section.njk" as section -%}


<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-2 mb-8 lg:mb-12 font-semibold text-sm sm:text-base md:text-lg">

  {% for item in collections.tagList-%}
    {%- if item not in site.filterTags -%}
      <a href="/{{ site.rootCollections}}/tags/{{ item }}/" class="rounded-md p-2 bg-blue-400 dark:bg-blue-800 text-white hover:underline">#{{ item }}</a>
    {% endif -%}
  {%- endfor -%}
</div>

{% set archive %}
<div class="grid divide-y-2 divide-blue-300 dark:divide-purple-600 divide-opacity-50 dark:divide-opacity-50">
{% for post in collections.posts %}
  <div class="py-2">
    <h3 class="text-xl md:text-2xl xl:text-3xl leading-none font-bold tracking-tight text-gray-900 dark:text-gray-50">
      <a href="{{ post.url }}" class="hover:underline">{{ post.data.title }}</a>
    </h3>
    <time datetime="{{ post.date.toISOString() }}" class="text-green-500 dark:text-pink-500 font-semibold">{{ post.date | fullDate }}</time><br>
    {# {% for tag in post.data.tags -%}{%- if tag not in site.filterTags %}
      <a href="/{{ site.rootCollections}}/tags/{{ tag }}/" class="font-medium text-sm text-blue-400  hover:underline">#{{ tag }}</a>
    {% endif -%}{%- endfor -%} #}
  </div>
{% endfor %}
</div>
{% endset %}

{{ section.fullbleed(
  bgClasses = "bg-gradient-to-br from-green-50 to-blue-100 dark:from-purple-800 dark:to-pink-800 opacity-50",
  content = archive
)}}

