---
layout: page.njk
title: ''
permalink: '/{{ site.rootCollections}}/page-{{ pagination.pageNumber + 1 }}/'
eleventyNavigation:
  key: Blog
  order: 2
pagination:
  data: collections.posts
  size: 5
  reverse: false
---

{%- import "article.njk" as article with context -%}

{% for post in pagination.items %}
{{ article.article(
    postType = post.data.type,
    postTitle = post.data.title,
    postDate = post.date,
    postHideTitle = post.data.hide_title,
    postUrl = post.url,
    postTags = post.data.tags,
    postImage = post.data.thumbnail,
    bodyContent = post.templateContent,
    postLinks = post.data.link,
    postGallery = post.data.gallery
  ) }}
{% endfor %}

{% if pagination.href.first != pagination.href.last %}

    {# flex items-center justify-center p-2 lg:py-3 mx-1 rounded-lg #}


  {% set buttonClasses = "button mx-1" %}

  {% if pagination.items %}
  <nav role="navigation" aria-label="pagination">
    <ol class="flex justify-between -mx-1 ">
      <li class="flex-initial flex-shrink-0 w-1/8 hidden sm:block">
        {% if page.url != pagination.href.first %}
          <a href="{{ pagination.href.first }}" class="{{ buttonClasses }}" aria-label="Ga naar eerste pagina"><span>#1</span></a>
        {% endif %}
      </li>
      <li class="flex-initial w-4/12 sm:w-2/8">
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" class="{{ buttonClasses }}" aria-label="Ga naar vorige pagina"><span>Vorige</span></a>
        {% endif %}
      </li>
      <li class="flex-auto justify-center items-center mx-1 flex w-4/12 sm:w-2/8">
        {%- for pageEntry in pagination.pages %}
          {% if page.url == pagination.hrefs[ loop.index0 ] %}
            <span class="text-sm sm:text-base whitespace-nowrap text-gray-600 dark:text-gray-200">
              Pagina {{ loop.index }} van {{ pagination.pages.length }}
            </span>
          {% endif %}
        {%- endfor %}
      </li>
      <li class="flex-initial w-4/12 sm:w-2/8">
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}" class="{{ buttonClasses }}" aria-label="Ga naar volgende pagina"><span>Volgende</span></a>
        {% endif %}
      </li>
      <li class="flex-initial flex-shrink-0 w-1/8 hidden sm:block">
        {% if page.url != pagination.href.last %}
          <a href="{{ pagination.href.last }}" class="{{ buttonClasses }}" aria-label="Ga naar laatste pagina"><span>#{{ pagination.pages.length }}</span></a>
        {% endif %}
      </li>
    </ol>
  </nav>
  {% endif %}
{% endif %}
