---
layout: page.njk
title: 'Blog'
permalink: '/{{ site.rootCollections}}/page-{{ pagination.pageNumber + 1 }}/'
eleventyNavigation:
  key: Blog
  order: 2
pagination:
  data: collections.posts
  size: 5
  reverse: false
---

{%- import "section.njk" as section -%}

{% set cyc = cycler("order-first", "order-last") %}

{% for post in pagination.items %}

{% set content %}
<div class="lg:flex lg:flex-nowrap lg:justify-center lg:items-center lg:relative lg:left-1/2 lg:transform lg:-translate-x-1/2 lg:w-screen lg:max-w-6xl lg:px-8">

  {% if post.data.featured_image %}
    <a href="{{ post.url }}" class="featured_image lg:flex-auto lg:w-1/2 lg:px-4 {{ cyc.next() }}">
      {% cloudinaryImage
          site.url + post.data.featured_image  ,
          "f_auto,c_fill,g_faces:auto,w_680",
          "afbeelding van " + post.data.title,
          "block w-full rounded-lg"
      %}
    </a>
  {% endif %}

  <div class="py-4 lg:p-4 lg:flex-auto lg:w-1/2 max-w-3xl">
    <h2 class="text-2xl md:text-3xl xl:text-4xl leading-none font-bold tracking-tight text-gray-900 dark:text-gray-50 mb-1 xl:mb-2">
      <a href="{{ post.url }}" class="hover:underline">{{ post.data.title }}</a>
    </h2>
    <time datetime="{{ post.date.toISOString() }}" class="text-gray-500 dark:text-gray-400 text-sm md:text-base block">{{ post.date | fullDate }}</time>

      {% if post.data.excerpt %}
        <div class="prose md:prose-lg dark:prose-dark max-w-none mt-2">
          {{ post.data.excerpt | safe | toHTML | safe }}
        </div>
      {% elif post.templateContent.length >= 200 %}
        <div class="prose md:prose-lg dark:prose-dark max-w-none mt-2">
          {{ post.templateContent | safe | excerpt }}
        </div>
      {% endif %}

    {% if post.data.tags %}
    <div class="mt-2">
      {% for tag in post.data.tags -%}{%- if tag not in site.filterTags %}
        <a href="/{{ site.rootCollections}}/tags/{{ tag }}/" class="font-medium text-sm md:text-base text-blue-400 hover:underline md:mr-1 xl:mr-2">#{{ tag }}</a>
      {% endif -%}{%- endfor -%}
    </div>
    {% endif %}
  </div>
</div>
{% endset %}

{{ section.fullbleed(
  bgClasses = "bg-gradient-to-br from-green-100 to-yellow-100 dark:from-purple-800 dark:to-blue-800 opacity-50",
  content = content
)}}

{% endfor %}

{% if pagination.href.first != pagination.href.last %}

    {# flex items-center justify-center p-2 lg:py-3 mx-1 rounded-lg #}


  {% set buttonClasses = "button mx-1" %}

  {% if pagination.items %}
  <nav aria-labelledby="pagination" class="mt-8">
    <ol class="flex justify-between -mx-1 ">
      <li class="flex-initial flex-shrink-0 w-1/8 hidden sm:block">
        {% if page.url != pagination.href.first %}
          <a href="{{ pagination.href.first }}" class="{{ buttonClasses }}"><span>#1</span></a>
        {% endif %}
      </li>
      <li class="flex-initial w-4/12 sm:w-2/8">
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" class="{{ buttonClasses }}"><span>Vorige</span></a>
        {% endif %}
      </li>
      <li class="flex-auto justify-center items-center mx-1 flex w-4/12 sm:w-2/8">
        {%- for pageEntry in pagination.pages %}
          {% if page.url == pagination.hrefs[ loop.index0 ] %}
            <span class="text-sm sm:text-base whitespace-nowrap text-gray-600 dark:text-gray-200">
              Pagina {{ loop.index }} van {{ pagination.pages.length }}
            </span>
          {% endif %}
        {%- endfor %}
      </li>
      <li class="flex-initial w-4/12 sm:w-2/8">
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}" class="{{ buttonClasses }}"><span>Volgende</span></a>
        {% endif %}
      </li>
      <li class="flex-initial flex-shrink-0 w-1/8 hidden sm:block">
        {% if page.url != pagination.href.last %}
          <a href="{{ pagination.href.last }}" class="{{ buttonClasses }}"><span>#{{ pagination.pages.length }}</span></a>
        {% endif %}
      </li>
    </ol>
  </nav>
  {% endif %}
{% endif %}
