---
layout: page.njk
title: ''
permalink: '/{{ site.rootCollections}}/page-{{ pagination.pageNumber + 1 }}/'
eleventyNavigation:
  key: Blog
  order: 2
pagination:
  data: collections.posts
  size: 5
  reverse: false
---

{% for post in pagination.items %}
  <article class="post" id="{{ post.data.title | slug }}">
    <time datetime="{{ post.date.toISOString() }}">{{ post.date | fullDate }}</time>
    <h1>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h1>
    <div>
      {% if post.data.tags %}
        {% for tag in post.data.tags -%}
          {%- if tag not in site.filterTags %}
            <a href="/{{ site.rootCollections}}/tags/{{ tag }}/" class="tag">#{{ tag }}</a>
          {% endif -%}
        {%- endfor -%}
      {% endif %}
    </div>
    {% if post.data.thumbnail %}
      {% cloudinaryImage
        site.url + post.data.thumbnail  ,
        "f_auto,c_fill,g_faces:auto,w_896",
        "afbeelding van " + title,
        "block max-w-full mx-auto rounded"
      %}
    {% endif %}
    {{ post.templateContent | safe }}
  </article>
{% endfor %}

{% if pagination.href.first != pagination.href.last %}

    {# flex items-center justify-center p-2 lg:py-3 mx-1 rounded-lg #}


  {% set buttonClasses = "button mx-1" %}

  {% if pagination.items %}
  <nav aria-labelledby="pagination">
    <ol class="flex justify-between -mx-1 ">
      <li class="flex-initial flex-shrink-0 w-1/8 hidden sm:block">
        {% if page.url != pagination.href.first %}
          <a href="{{ pagination.href.first }}" class="{{ buttonClasses }}"><span>#1</span></a>
        {% endif %}
      </li>
      <li class="flex-initial w-4/12 sm:w-2/8">
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" class="{{ buttonClasses }}"><span>Vorige</span></a>
        {% endif %}
      </li>
      <li class="flex-auto justify-center items-center mx-1 flex w-4/12 sm:w-2/8">
        {%- for pageEntry in pagination.pages %}
          {% if page.url == pagination.hrefs[ loop.index0 ] %}
            <span class="text-sm sm:text-base whitespace-nowrap text-gray-600 dark:text-gray-200">
              Pagina {{ loop.index }} van {{ pagination.pages.length }}
            </span>
          {% endif %}
        {%- endfor %}
      </li>
      <li class="flex-initial w-4/12 sm:w-2/8">
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}" class="{{ buttonClasses }}"><span>Volgende</span></a>
        {% endif %}
      </li>
      <li class="flex-initial flex-shrink-0 w-1/8 hidden sm:block">
        {% if page.url != pagination.href.last %}
          <a href="{{ pagination.href.last }}" class="{{ buttonClasses }}"><span>#{{ pagination.pages.length }}</span></a>
        {% endif %}
      </li>
    </ol>
  </nav>
  {% endif %}
{% endif %}
