---
layout: page.njk
title: Developer
description: Website's maken als beroep. Daar droomde ik vroeger van. Inmiddels werk ik al meer dan 10 jaar als (Front-end) developer bij <a class="link" href="https://tres.nl" target="_blank" rel="noopener noreferrer"><strong>TRES</strong></a>.
permalink: /developer/
---

{% block content %}

  <section>
    <h2>⚔️ Tools &amp; Skills</h2>
    <p>Hier ben ik het liefst mee bezig:</p>
    {% include "../includes/skills.njk" %}
  </section>

  <section>
    <h2>💼 Werk</h2>
    <p>Actiefoto's van mij aan het 'werk' bij <strong><a href="https://tres.nl" target="_blank" rel="noopener noreferrer">TRES</a></strong>.</p>
    <div class="relative mt-2 lg:mt-4 ">
      <div class="sm:flex overflow-hidden rounded max-w-full">
        <div class="flex-initial sm:w-1/3">
          {% cloudinaryImage
            site.url + "/static/images/tres2.jpg",
            "f_auto,c_fill,g_faces:auto,w_1280",
            "Diederik hangt in een Chesterfield stoel",
            "",
            "1280",
            "960"
          %}
        </div>
        <div class="flex-initial sm:w-2/3">
          {% cloudinaryImage
            site.url + "/static/images/tres.jpg",
            "f_auto,c_fill,g_faces:auto,w_1280",
            "Diederik bij TRES in overleg",
            "",
            "1280",
            "960"
          %}
        </div>
      </div>
    </div>
    <p>Met trots gewerkt aan oplossingen voor onderstaande opdrachtgevers:</p>
    <h3 class="mt-2">Windesheim, Buckaroo, Wagenborg, AZ 🏆, sc&nbsp;Heerenveen, FC&nbsp;Groningen, Feyenoord, BGDD, Relatieplanet 🏆, Fritom <span class="text-blue-600">en vele anderen</span>.</h3>
  </section>

  {%- import "section.njk" as section with context -%}
  {{ section.contact() }}

{% endblock %}
