---
layout: page.njk
title: 'Fijne deuntjes'
description: Elke week verse versjes. https://sptfy.com/deuntjes. 🎧
permalink: '/fijne-deuntjes/'
eleventyNavigation:
  key: Fijne deuntjes
  order: 3
---

{%- import "section.njk" as section -%}
{%- import "music.njk" as music with context -%}

{{ section.fullbleed(
  content = music.list()
)}}



