---
layout: page.njk
permalink: /image/{{ tumblr.id }}/index.html
pagination:
  data: tumblr
  size: 1
  alias: tumblr
---

<div x-data="{ enLarge: false }">

  <div @click="enLarge = !enLarge"
    class="fixed left-0 top-0 bottom-0 right-0 opacity-10 bg-cover bg-center filter-blur pointer-events-none"
    style="background-image: url('{{tumblr.photo}}');"
    :class="
        { 'opacity-100 bg-contain z-50 bg-no-repeat filter-none bg-gray-100 dark:bg-gray-900 pointer-events-auto cursor-pointer': enLarge },
        { 'filter-blur opacity-10 bg-cover': !enLarge }
      "
    >
  </div>

  <div class="flex flex-wrap items-center justify-center relative z-10 w-screen left-1/2 transform -translate-x-1/2 px-4">
    <div class="relative h-full flex items-center">
      <button
        @click="enLarge = !enLarge"
        @keydown.window.space="enLarge = !enLarge"
        class="absolute z-20 right-0 top-0 left-0 bottom-0 w-full h-full bg-transparent focus:outline-none border-0"
      >
      </button>
      <img
        src="{{ tumblr.photo }}"
        class="lazyload max-w-full mx-auto rounded-lg relative z-10 shadow-2xl"
        alt="Tumblr image">
    </div>

    <div class="sticky bottom-8 text-center z-30 self-end w-full pt-4 sm:pt-8 pointer-events-none">
      <div class="bg-blue-600 bg-opacity-75 text-white font-bold rounded p-4 mx-auto inline-block text-center bg-blur">
        <div class="opacity-75">
          <p class="text-xs md:text-sm"><strong>Note:</strong> This image is NOT mine, but reblogged from <a href="{{ tumblr.url }}" target="_blank" rel="noopener noreferrer" class="pointer-events-auto">Tumblr</a>.</strong><br>Tips: 1) use arrow keys to navigate. 2) Click image to enlarge (spacebar).</p>
        </div>
      </div>
    </div>
  </div>

</div>

{% set buttonClasses = "button" %}

{% if pagination.href.next %}
  <div
    class="fixed z-30 right-0 top-1/2 transform -translate-y-1/2 p-3 pr-6 mb-3"
    x-data="{ keydown: false }"
    x-init="
      $watch('keydown', value => {
        if(keydown) {
          window.location.href = '{{ pagination.href.next }}';
        }
      });
    "
  >
    <a
      href="{{ pagination.href.next }}"
      @keydown.window.arrow-right="keydown = true"
      class="{{ buttonClasses }}"><span>&rarr;</span></a>
  </div>
  {% endif %}

  {% if pagination.href.previous%}
  <div
    class="fixed z-30 left-0 top-1/2 transform -translate-y-1/2 p-3 pl-6 mb-3"
    x-data="{ keydown: false }"
    x-init="
      $watch('keydown', value => {
        if(keydown) {
          window.location.href = '{{ pagination.href.previous }}';
        }
      });
    ">
    <a
      href="{{ pagination.href.previous}}"
      @keydown.window.arrow-left="keydown = true"
      class="{{ buttonClasses }}"><span>&larr;</span></a>
  </div>
  {% endif %}
