---
layout: page.njk
permalink: /image/{{ tumblr.id }}/index.html
pagination:
  data: tumblr
  size: 1
  alias: tumblr
---

<div x-data="{ enLarge: false }" x-init ="
  $watch('enLarge', value => {
    if(enLarge) {
      window.location.hash = 'fullscreen'
    } else {
      window.location.hash = 'normal'
    }
  });
  if (window.location.hash == '#fullscreen') {
    enLarge = true;
  }
">

  <div @click="enLarge = !enLarge"
    class="fixed left-0 top-0 bottom-0 right-0 opacity-10 bg-cover bg-center filter-blur pointer-events-none"
    style="background-image: url('{{tumblr.photo}}');"
    :class="
        { 'opacity-100 bg-contain z-50 bg-no-repeat filter-none bg-gray-100 dark:bg-gray-900 pointer-events-auto cursor-pointer': enLarge },
        { 'filter-blur opacity-10 bg-cover': !enLarge }
      "
    >

    <div class="fixed bottom-8 text-center z-30 self-end w-full pt-4 sm:pt-8 pointer-events-none"
      x-data="{ gotoIndex : false }"
      x-init="
        $watch('gotoIndex', value => {
          if(gotoIndex) {
            index = '';

            if (window.location.search) {
              urlParams = new URLSearchParams(window.location.search);
              index = Math.ceil(urlParams.get('index') / 60);
              window.location.href = '/mooie-plaatjes/page-' + index + '/';
            } else {
              window.location.href = '/mooie-plaatjes/page-1/';
            }
          }
        });
      "
    >
      <button class="button font-bold mx-auto bg-blur pointer-events-auto px-4"
        @click="gotoIndex = true"
        @keydown.window.backspace="gotoIndex = true"
      >
        <strong>Terug naar overzicht</strong>
      </button>
    </div>
  </div>

  <div class="flex flex-wrap items-center justify-center relative z-10 w-screen left-1/2 transform -translate-x-1/2 px-4">
    <div class="relative h-full flex items-center">
      <button
        @click="enLarge = !enLarge"
        @keydown.window.space="enLarge = !enLarge"
        class="absolute z-20 right-0 top-0 left-0 bottom-0 w-full h-full bg-transparent focus:outline-none border-0"
      >
      </button>
      <img
        src="{{ tumblr.photo }}"
        class="lazyload max-w-full mx-auto rounded-lg relative z-10 shadow-2xl"
        alt="Tumblr image">
    </div>

    <div class="sticky bottom-8 text-center z-30 self-end w-full pt-4 sm:pt-8 pointer-events-none"
      x-data="{ gotoIndex : false }"
      x-init="
        $watch('gotoIndex', value => {
          if(gotoIndex) {
            index = '';

            if (window.location.search) {
              urlParams = new URLSearchParams(window.location.search);
              index = Math.ceil(urlParams.get('index') / 60);
              window.location.href = '/mooie-plaatjes/page-' + index + '/';
            } else {
              window.location.href = '/mooie-plaatjes/page-1/';
            }
          }
        });
      "
    >
      <button class="button font-bold mx-auto bg-blur pointer-events-auto px-4"
        @click="gotoIndex = true"
        @keydown.backspace="gotoIndex = true"
      >
        <strong>Terug naar overzicht</strong>
      </button>
    </div>

    <div class="opacity-50 text-center pt-4">
      <p class="text-xs md:text-sm"><strong>Note:</strong> This image is NOT mine, but reblogged from <a href="{{ tumblr.url }}" target="_blank" rel="noopener noreferrer" class="pointer-events-auto">Tumblr</a>.</strong><br>Tips: 1) use arrow keys to navigate. 2) Click image to enlarge (spacebar).</p>
    </div>
  </div>

</div>

{% set buttonClasses = "button cursor-pointer" %}

{% if pagination.href.next %}
  <div
    class="fixed z-50 right-0 top-1/2 transform -translate-y-1/2 p-3 pr-6 mb-3"
    x-data="{ gotoNext: false }"
    x-init="
      $watch('gotoNext', value => {
        if(gotoNext) {
          hash = '';
          nextIndex = '';

          if (window.location.hash == '#fullscreen') {
            hash = '#fullscreen';
          }

          if (window.location.search) {
            urlParams = new URLSearchParams(window.location.search);
            nextIndex = parseFloat(urlParams.get('index')) + 1;
            window.location.href = '{{ pagination.href.next }}?index=' + nextIndex + hash;
          } else {
            window.location.href = '{{ pagination.href.next }}' + hash;
          }
        }
      });
    "
  >
    <button
      @click="gotoNext = true"
      @keydown.window.arrow-right="gotoNext = true"
      class="{{ buttonClasses }}">
      <span>&rarr;</span>
    </button>
  </div>
  {% endif %}

  {% if pagination.href.previous%}
  <div
    class="fixed z-50 left-0 top-1/2 transform -translate-y-1/2 p-3 pl-6 mb-3"
    x-data="{ gotoPrev: false }"
    x-init="
      $watch('gotoPrev', value => {
        if(gotoPrev) {
          hash = '';
          if (window.location.hash == '#fullscreen') {
            hash = '#fullscreen';
          }

          if (window.location.search) {
            urlParams = new URLSearchParams(window.location.search);
            prevIndex = parseFloat(urlParams.get('index')) - 1;
            window.location.href = '{{ pagination.href.previous }}?index=' + prevIndex + hash;
          } else {
            window.location.href = '{{ pagination.href.previous }}' + hash;
          }
        }
      });
    ">
    <button
      @click="gotoPrev = true"
      @keydown.window.arrow-left="gotoPrev = true"
      class="{{ buttonClasses }}">
      <span>&larr;</span>
    </button>
  </div>
  {% endif %}
