---
layout: default.njk
title: ''
permalink: /index.html
eleventyNavigation:
  key: Home
  order: 1
---

{% block content %}

  <section>
    <h1>Diederik woont in Leeuwarden met Lotte, Elin en Fedde.
      Werkt als <a href="/developer/" class="link">developer</a> bij TRES. Wielerliefhebber. Kan geen dag zonder muziek.</h1>
  </section>

  <section>
    <h2>Laatste berichten:</h2>
    <ul>
      {%- set latestposts = collections.posts | limit(3) -%}
      {%- for post in latestposts %}
      <li>
        {% set url = "/blog/page-1" -%}
        {%- if loop.index > 1 -%}
          {%- set url = url + "#" + post.data.title | slug -%}
        {%- endif -%}
        <a href="{{ url }}">{{ post.data.title }}</a>
        <time datetime="{{ post.date.toISOString() }}">{{ post.date | fullDate }}</time>
      </li>
      {%- endfor %}
    </ul>
  </section>

  <section>
    <h2>Voor de leuk:</h2>
    <ul>
      <li>
        <a href="/fijne-deuntjes/">
        Fijne deuntjes</a><br>
        <span>Playlist met elke week verse versjes. Direct naar de playlist via: <a href="https://sptfy.com/deuntjes" target="_blank" rel="noopener noreferrer">https://sptfy.com/deuntjes</a>. 🎧</span>
      </li>
      <li>
        <a href="/mooie-plaatjes/page-1/">Mooie plaatjes</a><br>
        <span>Het internet staat vol met mooie afbeeldingen. Ik verzamel Leuke prentjes ter inspiratie. Elke dag (automatisch) bijgewerkt. Gewoon voor de leuk</span>
      </li>
    </ul>
  </section>

  {%- import "section.njk" as section with context -%}
  {{ section.contact() }}

{% endblock %}
