---
layout: default.njk
title: ''
permalink: /index.html
eleventyNavigation:
  key: Home
  order: 1
---

{% block content %}

  <section>
    <div class="sm:flex justify-start items-start">
      <div class="sm:flex-auto sm:w-1/2 relative z-10 sm:mt-16">
        <h1 class="mb-8 sm:-mr-24">Diederik woont in Leeuwarden met Lotte, Elin en Fedde. Werkt als <a href="/developer/" class="link">developer</a> bij TRES. Wielerliefhebber. Kan geen dag zonder muziek.</h1>
      </div>
      <div class="color-filter max-w-lg block rounded-sm overflow-hidden sm:flex-auto sm:w-1/2 relative z-0">
      {% cloudinaryImage
        site.url + "/static/images/home/diederik.jpg",
        "f_auto,c_fill,g_faces:auto,w_960",
        "Foto van Diederik",
        "",
        "960",
        ""
      %}
      </div>
    </div>
  </section>

  <section>
    <h2>Laatste berichten:</h2>

    <ul>
      {%- set latestposts = collections.posts | limit(25) -%}
      {%- for post in latestposts %}

      {%- if not index -%}
        {%- set index = 1 -%}
        {%- set page = 0 -%}
      {%- endif -%}

      {%- if index <= 3 and not post.data.hide -%}
      <li>

        {%- set itemsperpage = site.itemsPerPage -%}

        {%- if (loop.index - 1) % itemsperpage == 0 -%}
          {%- set page = page + 1 -%}
        {%- endif -%}
        {%- set url = "/blog/page-" + page -%}

        {%- if (loop.index - 1) % itemsperpage != 0 -%}
          {%- set url = url + "#" + post.data.title | slug -%}
        {%- endif -%}

        <a href="{{ url }}">{{ post.data.title }}</a>
        <time datetime="{{ post.date.toISOString() }}">{{ post.date | fullDate }}</time>
      </li>
      {%- set index = index + 1 -%}
      {%- endif -%}

      {%- endfor %}
    </ul>
  </section>

  <section>
    <h2>Voor de leuk:</h2>
    <ul>
      <li>
        <a href="/fijne-deuntjes/">Fijne deuntjes</a><br>
        <span>Spotify playlist die ik elke week vul met 25 verse versjes. Luister en abonneer direct via: <a href="https://sptfy.com/deuntjes" target="_blank" rel="noopener noreferrer">https://sptfy.com/deuntjes</a>. 🎧</span>
      </li>
      <li>
        <a href="/mooie-plaatjes/page-1/">Mooie plaatjes</a><br>
        <span>Het internet staat vol met mooie afbeeldingen. Leuk als inspiratie en veel beter dan door die instagramfeed te scrollen de hele tijd. Wordt elke dag (automatisch) bijgewerkt. Gewoon voor de leuk.</span>
      </li>
    </ul>
  </section>

  {%- import "section.njk" as section with context -%}
  {{ section.contact() }}

{% endblock %}
