---
layout: page.njk
title: 'Playlist'
description: Dit zijn tracks die ik momenteel veel beluister. Deze playlist wordt regelmatig bijgewerkt. 🎧
permalink: '/playlist/'
eleventyNavigation:
  key: Playlist
  order: 3
---

{%- import "section.njk" as section -%}
{%- import "music.njk" as music with context -%}

{{ section.fullbleed(
  content = music.list()
)}}



