---
layout: page.njk
title: 'Playlist'
description: Voor mij geen dag zonder muziek. Onderstaande playlist is een mixtape van muziek die ik momenteel veel beluister. Alles kan! Ik denk niet in hokjes. Deze playlist wordt regelmatig bijgewerkt. 🎧
permalink: '/playlist/'
eleventyNavigation:
  key: Playlist
  order: 3
---

{%- import "section.njk" as section -%}
{%- import "music.njk" as music with context -%}

{{ section.fullbleed(
  content = music.list()
)}}



