---
layout: page.njk
title: Scrapbook
description: Collecting things is an art form too ✌🏻
permalink: /scrapbook/page-{{ pagination.pageNumber + 1 }}/
pagination:
  data: tumblr
  size: 60
eleventyNavigation:
  key: Scrapbook
  order: 4
---

{% set totalpages = pagination.links | length %}
{# {% if pagination.pageNumber == 0 %}
  <p class="-mt-4 mb-8 text-gray-700 text-lg font-medium">Pagina {{ pagination.pageNumber + 1 }} van {{ totalpages }}
{% endif %} #}

{%- import "section.njk" as section -%}

{% set scrapbook %}
<div class="relative left-1/2 transform -translate-x-1/2 w-screen max-w-screen-2xl px-8">

  <div class="grid gap-2 grid-cols-3 sm:grid-cols-4 xl:grid-cols-5 max-w-full mb-8">
  {% for item in pagination.items %}
    <div class="flex items-end">
      <a href="/scrapbook/{{ item.id }}/index.html" class="rounded-lg overflow-hidden block shadow-md hover:shadow-xl transform hover:-translate-y-1 transition-all duration-300 w-full"><img src="{{ item.thumb }}" alt="" class="w-full block lazyload"></a>
    </div>
  {% endfor %}
  </div>

  <div class="sticky bottom-8 text-center pointer-events-none">

    <div class="bg-white bg-opacity-75 dark:bg-black dark:bg-opacity-75 rounded-lg shadow-xl p-4 mx-auto inline-block text-center bg-blur">
      <div class="prose prose-sm max-w-none dark:prose-dark opacity-75">
        <p class="text-xs md:text-sm"><strong>Note:</strong> These images are NOT mine, but reblogged from <a href="{{ tumblr.url }}" target="_blank" rel="noopener noreferrer" class="pointer-events-auto">Tumblr</a>.</p>
      </div>
    </div>

  </div>

</div>

{% endset %}

{{ section.fullbleed(
  bgClasses = "bg-gradient-to-br from-yellow-100 to-blue-200 dark:from-green-800 dark:to-blue-800 opacity-50",
  content = scrapbook
)}}

{% if pagination.href.first != pagination.href.last %}

  {% set buttonClasses = "button mx-1" %}

  {% if pagination.items %}
  <nav aria-labelledby="pagination" class="mt-8">
    <ol class="flex justify-between -mx-1 ">
      <li class="flex-initial flex-shrink-0 w-1/8 hidden sm:block">
        {% if page.url != pagination.href.first %}
          <a href="{{ pagination.href.first }}" class="{{ buttonClasses }}"><span>#1</span></a>
        {% endif %}
      </li>
      <li class="flex-initial w-4/12 sm:w-2/8">
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" class="{{ buttonClasses }}"><span>Vorige</span></a>
        {% endif %}
      </li>
      <li class="flex-auto justify-center items-center mx-1 flex w-4/12 sm:w-2/8">
        {%- for pageEntry in pagination.pages %}
          {% if page.url == pagination.hrefs[ loop.index0 ] %}
            <span class="text-sm sm:text-base whitespace-nowrap text-gray-600 dark:text-gray-200">
              Pagina {{ loop.index }} van {{ pagination.pages.length }}
            </span>
          {% endif %}
        {%- endfor %}
      </li>
      <li class="flex-initial w-4/12 sm:w-2/8">
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}" class="{{ buttonClasses }}"><span>Volgende</span></a>
        {% endif %}
      </li>
      <li class="flex-initial flex-shrink-0 w-1/8 hidden sm:block">
        {% if page.url != pagination.href.last %}
          <a href="{{ pagination.href.last }}" class="{{ buttonClasses }}"><span>#{{ pagination.pages.length }}</span></a>
        {% endif %}
      </li>
    </ol>
  </nav>
  {% endif %}
{% endif %}
