---
layout: page.njk
title: 'Tag'
permalink: '/{{ site.rootCollections}}/tags/{{ tag }}/'
pagination:
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: true
  filter:
    - all
    - nav
    - blog
    - post
    - posts
    - tagList
    - postFeed
renderData:
  title: 'Tagged: {{ tag | capitalize }}'
---

  {# {% for item in collections.tagList-%}
    {%- if item not in site.filterTags -%}
      <a
        href="{% if tag == item %}/blog/archive/{% else %}/{{ site.rootCollections}}/tags/{{ item }}/{% endif %}" class="rounded-md p-2 text-white hover:underline {% if tag == item %}flex justify-between items-center bg-green-400 dark:bg-purple-600{% else %} bg-blue-400  dark:bg-blue-800  {% endif %}"><span>#{{ item }}</span> {% if tag == item %}<span class="no-underline text-white"><svg class="w-5 h-5 md:w-6 md:h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
</svg></span>{% endif %}</a>
    {% endif -%}
  {%- endfor -%} #}

<section>
  <ul>
  {% for post in collections[ tag ] | reverse %}
    {% if post.date.getTime() <= site.dateNow %}
      {%- set itemsperpage = site.itemsPerPage -%}
      {%- set page = (loop.index / itemsperpage) | int + 1 -%}
      {%- set url = "/blog/page-" + page -%}

      {%- if (loop.index - 1) % itemsperpage != 0 -%}
        {%- set url = url + "#" + post.data.title | slug -%}
      {%- endif -%}
    <li{% if post.data.hide %} class="small-post"{% endif %}>
      <a href="{{ url }}">{{ post.data.title }}</a>
      <time datetime="{{ post.date.toISOString() }}">{{ post.date | fullDate }}</time>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</section>
