---
layout: page.njk
title: Voor de leuk
permalink: /voor-de-leuk/
eleventyNavigation:
  key: Voor de leuk
  order: 3
---

  <section>
    <ul>
      <li>
        <a href="/fijne-deuntjes/">Fijne deuntjes</a><br>
        <span>Spotify playlist die ik elke week vul met 25 verse versjes. Luister en abonneer direct via: <a href="https://sptfy.com/deuntjes" target="_blank" rel="noopener noreferrer">https://sptfy.com/deuntjes</a>. 🎧</span>
      </li>
      <li>
        <a href="/mooie-plaatjes/page-1/">Mooie plaatjes</a><br>
        <span>Het internet staat vol met mooie afbeeldingen. Leuk als inspiratie en veel beter dan door die instagramfeed te scrollen de hele tijd. Wordt elke dag (automatisch) bijgewerkt. Gewoon voor de leuk.</span>
      </li>
    </ul>
  </section>
