.color-filter {
  @apply relative;

  img {
    @apply rounded-sm;
    filter: brightness(0.9) contrast(1.4) grayscale(1);

    .dark & {
      filter: brightness(0.8) contrast(1.4) grayscale(1) opacity(.8);
    }
  }

  &:after{
    @apply absolute block top-0 left-0 h-full w-full rounded-sm;
    @apply bg-blue-600;

    content: '';
    mix-blend-mode: screen;
  }

  &:hover {
    img {
      filter: none;
    }

    &:after {
      @apply opacity-0;
    }
  }
}




