.notes {
  /* font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; */

  h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    @apply inline;
  }

  ul li {
    &::before {
      @apply pr-2;

      content: '-';
    }
  }

  a {
    @apply underline font-bold;

    &:hover {
      @apply no-underline;
    }
  }
}
