h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-extrabold text-headline leading-tight;
}

h1 {
  @apply text-4xl mb-2;

  @screen sm {
    @apply text-5xl;
  }
}

h2 {
  @apply text-3xl mb-4;

  @screen sm {
    @apply text-4xl;
  }
}

h3 {
  @apply text-2xl mb-1;

  @screen sm {
    @apply text-3xl;
  }
}

h4 {
  @apply text-xl mb-1;

  @screen sm {
    @apply text-2xl;
  }

  a {
    @apply no-underline;

    &:hover {
      @apply underline;
    }
  }
}

/* h2 {
  @apply text-2xl pt-2;
} */
