// $max-width:               920px;

// Media-Queries

// $size-xs:                 320;
// $size-s:                  500;
$size-m:                  480;
// $size-l:                  800;
// $size-xl:                 1000;
// $size-xxl:                1600;

// Typography
// $line-height:             2;

// Fonts
$font-serif:              'Source Serif Pro', serif;
$font-code:               'Source Code Pro', monospace;

@import 'colors';
