@function tint($color, $percent) { @return mix($color-white, $color, $percent); }

@function shade($color, $percent) { @return mix($color-black, $color, $percent); }

$grey-tones:
  #ffffff, #f4f4f4, #d2d2d2, #bdbdbd, #9e9e9e,
  #757575, #616161, #424242, #2c2c2c, #000000;

$color-white:    nth($grey-tones, 1);
$color-grey-100: nth($grey-tones, 2);
$color-grey-200: nth($grey-tones, 3);
$color-grey-300: nth($grey-tones, 4);
$color-grey-400: nth($grey-tones, 5);
$color-grey-500: nth($grey-tones, 6);
$color-grey-600: nth($grey-tones, 7);
$color-grey-700: nth($grey-tones, 8);
$color-grey-800: nth($grey-tones, 9);
$color-black:    nth($grey-tones, 10);
