// Breakpoints
$bp-xsmall:    400;
$bp-small:     600;
$bp-medium:    800;
$bp-large:     1000;
$bp-xlarge:    1200;
$bp-xxlarge:   1400;

// Layout
$maxw-site:    1240px;
$maxw-text:    840px;

// Home: Header / Slider
$maxh-header:  800px;
$himg-space:   20vh;

// Margins
$gutter: 20px;
