---
layout: layouts/default.njk
theme: theme-default
title: Blog
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 2
---

{% if description %}<p class="-mt-4 mb-8 text-gray-700 text-lg font-medium">{{ description }}</p>{% endif %}


{% set tagList = [] %}
{%- set categories -%}
  {%- for post in collections.post -%}
    {%- for tag in post.data.tags -%}
      {%- if tag not in tagList -%}
        {% if
          ('all' not in tag) and
          ('nav' not in tag) and
          ('post' not in tag) and
          ('posts' not in tag) and
          ('promo' not in tag)
        %}
          {%- set tagList = (tagList.push(tag), tagList | sort ) -%}
        {% endif %}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
{%- endset -%}
{# {{ tagList | dump }} #}


<ul class="flex flex-wrap mb-4">
{% for tag in tagList %}
  <li class="mr-2">
    <a href="/blog/tags/{{ tag }}" class="font-bold text-xs uppercase block text-lavender-700 hover:text-lavender-50 transition-colors duration-150 bg-flamingo-50 hover:bg-lavender-800 rounded px-2 py-1 pointer-events-auto mb-2">#{{ tag }}</a>
  </li>
{% endfor %}
</ul>

<div class="mb-8">
  {%- import "macros/cards.njk" as card -%}
  {% for post in collections.post | reverse %}

    {%- set year = post.date | readableDate -%}
    {%- set year = year.split(" ")[2] -%}

    {% if loop.first %}
      <h2 class="text-headline font-bold text-base sm:text-lg lg:text-xl mb-2">{{ year }}</h2>
      {% set prevYear = year %}
      <div class="grid gap-2 sm:grid-cols-2 mb-2">
    {% else %}
      {% if year != prevYear %}
        </div>
        <h2 class="text-headline font-bold text-base sm:text-lg lg:text-xl mb-2 pt-2">{{ year }}</h2>
        {% set prevYear = year %}
        <div class="grid gap-2 sm:grid-cols-2 mb-2">
      {% endif %}
    {% endif %}

    {# {% if post.data.featured_image %}
      {{ post.data.featured_image }}
    {% endif %} #}

    {# {% if post.data.featured_image %}
    {% Thumb "./_site" + post.data.featured_image, post.data.title %}
    {% endif %} #}

    {{ card.list(
      postTitle = post.data.title,
      postUrl = post.url,
      featured_image = post.data.featured_image,
      image_caption = post.data.image_caption,
      postDate = post.date,
      postTags = post.data.tags,
      customTag = post.data.customTag,
      excerpt = post.data.excerpt,
      postContent = post.templateContent
    ) }}
  {%- endfor %}
  </div>
</div>

  <div class="">
  {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}" class="inline-flex items-center p-3 border border-transparent text-base leading-4 font-medium rounded-md text-champagne-900 hover:text-champagne-50 bg-champagne-100 hover:bg-champagne-600 focus:outline-none focus:border-champagne-800 focus:shadow-outline-champagne active:bg-champagne-800 transition ease-in-out duration-150">Vorige</a>{% endif %}
  {% if pagination.href.next %}<a href="{{ pagination.href.next }}" class="inline-flex items-center p-3 border border-transparent text-base leading-4 font-medium rounded-md text-champagne-900 hover:text-champagne-50 bg-champagne-100 hover:bg-champagne-600 focus:outline-none focus:border-champagne-800 focus:shadow-outline-champagne active:bg-champagne-800 transition ease-in-out duration-150">Volgende</a>{% endif %}
  </div>
