{%- for post in collections.blog -%}

  {%- set year = post.date | yearDisplay -%}
  {%- if year != prev_year -%}
    <h4 class="text-grey-600 mb-2 mt-4 md:mt-6 font-900">{{year}}</h4>
  {%- endif -%}

  <h4 class="mb-2">
    <a class="pr-4 text-yellow-800 hover:text-white" href="{{ post.url }}">{{ post.data.title }}</a>
    <span class="block md:inline text-base md:text-xl whitespace-no-wrap">{{ post.date | dateDisplay }}</span>
  </h4>

  {%- set prev_year = post.date | yearDisplay -%}
{%- endfor -%}
