<script src="//twemoji.maxcdn.com/2/twemoji.min.js?11.2"></script>

{% if helpers.environment == "development" %}
<script src="/assets/javascript/script.js"></script>
{% else %}
<script src="/assets/javascript/script.min.js"></script>
{% endif %}
