
<strong>Sort by date</strong><br>
{%- for post in collections.recipes -%}
  <a href="{{ post.url }}">{{ post.data.title }}</a><br>
{%- endfor -%}

<br>
<strong>Sort by name</strong></br>
{%- for post in collections.recipesAsc -%}
  <a href="{{ post.url }}">{{ post.data.title }}</a><br>
{%- endfor -%}

