
<strong>Sort by date</strong><br>
{%- for post in collections.recipes -%}
  {{ post.data.title }}<br>
{%- endfor -%}

<br>
<strong>Sort by name</strong></br>
{%- for post in collections.recipesAsc -%}
  {{ post.data.title }}<br>
{%- endfor -%}



{# {{ collections.recipes | dump }} #}



