body {
  @apply font-normal bg-body text-body;

  @screen md {
    @apply text-lg;
  }

  @apply bg-fixed bg-cover bg-center bg-no-repeat;

  @screen md {

    /* background-image: url(); */

    /* &::after {
      @apply fixed left-0 top-0 right-0 bottom-0 block z-0;
      @apply bg-white opacity-75;

      content: '';

      @media (prefers-color-scheme: dark) {
        @apply bg-black opacity-50;
      }
    } */
  }
}
