.card {
  @apply relative;
  @apply flex items-start w-full overflow-hidden;
  @apply mb-2;

  @screen lg {
    @apply mb-4;
  }

  > div {
    @apply relative z-10;

    img {
      @apply relative;

      &:hover {
        @apply opacity-75;

        transform: scale(.95);
      }
    }
  }

  &:hover {

    &::after {
      @apply opacity-0;
    }
  }
}
