---
layout: layouts/default
theme: theme-default
title: Notities
hideFooter: true
permalink: /notes/
eleventyNavigation:
  parent: Blog
  key: Notities
  order: 1
pagination:
  data: notes
  size: 500
---

<div class="notes border-b-2 border-primary mb-8 leading-relaxed text-base md:text-lg">
{%- for item in pagination.items -%}

  {%- set date = item.date | readableNoteDate -%}

  {%- set note -%}
    {%- if item.type == "link" -%}
      <a href="{{ item.link_url }}" target="_blank" rel="noopener noreferrer">{{ item.link_title }}<svg class="inline-block w-4 h-4 md:h-5 md:w-5 ml-1 opacity-50" viewBox="0 0 20 20" fill="currentColor">
        <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
        <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
      </svg></a>{# {%- if item.link_excerpt -%}{{ item.link_excerpt }}{%- endif -%} #}{%- if item.body -%}: {{ item.body | safe }}{%- endif -%}
    {%- elif item.type == "audio" -%}
      <img src="{{ item.audio_cover }}" class="inline-block w-6 h-6 md:w-8 md:h-8 lg:w-10 lg:h-10 align-middle rounded-md">
      <a href="{{ item.audio_link }}" target="_blank" rel="noopener noreferrer">{{ item.audio_artist }} - {{ item.audio_track}}<svg class="inline-block w-4 h-4 md:h-5 md:w-5 ml-1 opacity-50" viewBox="0 0 20 20" fill="currentColor">
        <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
        <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
      </svg></a>{% if item.body %}: {{ item.body | safe }}{% endif %}
    {%- else -%}
      {% if item.image %}
        <div>
        {% cloudinaryImage
          item.image ,
          "f_auto,c_thumb,g_faces:auto,w_768",
          "notes afbeelding van " + date,
          "inline-block w-96 my-1 max-w-full rounded-lg shadow-xl"
        %}
        </div>
      {% endif %}
      {{ item.body | safe }}
    {%- endif -%}

    {%- if item.tags -%}
      {%- for tag in item.tags -%}
        <span class="opacity-75 text-sm font-bold uppercase text-menu-link px-1"> &nbsp;#{{ tag }}</span>
      {%- endfor -%}
    {%- endif -%}

  {%- endset -%}

  {%- if loop.first -%}
      {%- set prevDate = date -%}
    <div class="border-t-2 border-primary py-1 my-1">
      <div>
        <strong class="text-accent-primary text-sm whitespace-no-wrap uppercase">{{ date }}</strong>
      </div>
      {{ note | safe }}
    </div>
  {%- else -%}
    {%- if date != prevDate -%}
      {%- set prevDate = date -%}
      <div class="border-t-2 border-primary py-1 my-1">
        <div>
          {# <span class="text-accent-secondary px-2">&bull;</span> #}
          <strong class="text-accent-primary text-sm whitespace-no-wrap uppercase">{{ date }}</strong>
        </div>
        {{ note | safe }}
      </div>
    {%- else -%}
      {# <span class="text-accent-secondary px-2">&bull;</span> #}
      <div class="border-t-2 border-dashed border-primary py-1 my-1">
        {{ note | safe }}
      </div>
    {%- endif -%}
  {%- endif -%}

{%- endfor -%}
</div>
