head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(http-equiv="imagetoolbar" content="no")
	meta(name="description" content="Diederik Dijkstra - Front end developer")
	meta(name="keywords" content="Diederik")
	meta(name="format-detection" content="telephone=no")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
	title {{ page.title }}
	| {% if page.body-ID %}
	link(href="/css/posts/{{ page.body-ID }}.css", rel="stylesheet")
	| {% else %}
	link(href="{{ '/css/style.css' | prepend: site.baseurl }}", rel="stylesheet")
	| {% endif %}
