mixin block(platform)
	li(class= platform)
		a(href="{{ site." + [platform] + "_url }}", target="_blank")
			span= platform

header
	img.fx2(src="img/1.jpg")
main
	section
		h1 {{ site.title }}
		h2 {{ site.description }}
	section.blocks.fx1
		ul
			+block("instagram")
			+block("twitter")
			+block("codepen")
			+block("tumblr")
			+block("strava")
			+block("github")
	section
		p
			a.email(user="diederikdijkstra", domain="gmail.com", href="#") diederikdijkstra<span>[at]</span>gmail<span>[dot]</span>com