---
layout: layouts/base.njk
title: Musiclog 2019
---

{%- set playlists = [
  [spotify.2019_12, "Dec 2019"],
  [spotify.2019_11, "Nov 2019"],
  [spotify.2019_10, "Oct 2019"],
  [spotify.2019_09, "Sep 2019"],
  [spotify.2019_08, "Aug 2019"],
  [spotify.2019_07, "Jul 2019"],
  [spotify.2019_06, "Jun 2019"],
  [spotify.2019_05, "May 2019"],
  [spotify.2019_04, "Apr 2019"],
  [spotify.2019_03, "Mar 2019"],
  [spotify.2019_02, "Feb 2019"],
  [spotify.2019_01, "Jan 2019"]
] -%}

{%- import "src/_includes/macros/section.njk" as section -%}
{%- import "src/_includes/macros/items.njk" as item -%}


{% set intro %}
  <h1>{{ title }}</h1>
  <div class="max-w-4xl">
    <p class="text-2xl lg:text-3xl font-medium md:font-bold"><a href="https://open.spotify.com/playlist/0U2gEvXyHaY67UPObHltWl?si=8AP3-qlESwaSoxabPhiyCQ" target="_blank" rel="noopener noreferrer">Luister de complete afspeellijst op Spotify</a></p>
  </div>
{% endset %}

{{ section.row(
  classes = "section--intro",
  content = intro
) }}

{% set musiclog %}
  {% for playlist, month in playlists %}
    {% if playlist.items.length > 0 %}

      {% set tracks %}
        <div class="items">
        {%- for i in range(0, playlist.items.length)|reverse -%}
          {%- set spotify = playlist.items[i] -%}
          {{ item.track(
            name = spotify.track.name,
            artist = spotify.track.artists[0].name,
            album = spotify.track.album.name,
            link = spotify.track.external_urls.spotify,
            albumlink = spotify.track.album.external_urls.spotify,
            previewlink = spotify.track.preview_url,
            cover = spotify.track.album.images[0].url
          ) }}
        {%- endfor -%}
        </div>
      {% endset %}

      {{ section.collection(
          title = month,
          content = tracks | safe
        )
      }}

    {% endif %}
  {% endfor %}
{% endset %}

{{ section.row(
  classes = "section--musiclog",
  content = musiclog
) }}
