---
layout: layouts/base.njk
---

{%- set playlists = [
  [spotify.2019_12, "December"],
  [spotify.2019_11, "November"],
  [spotify.2019_10, "Oktober"],
  [spotify.2019_09, "September"],
  [spotify.2019_08, "Augustus"],
  [spotify.2019_07, "Juli"],
  [spotify.2019_06, "Juni"],
  [spotify.2019_05, "Mei"],
  [spotify.2019_04, "April"],
  [spotify.2019_03, "Maart"],
  [spotify.2019_02, "Februari"],
  [spotify.2019_01, "Januari"]
] -%}

<section class="section">
  <div class="content">

    <h1 class="font-bold text-5xl">Music Log</h1>

    {%- import "src/_includes/partials/macros/track.njk" as spotify -%}

    {% for playlist, month in playlists %}
      {% if playlist.items.length > 0 %}

        {% set track %}
          {%- for i in range(0, playlist.items.length)|reverse -%}
            {%- set item = playlist.items[i] -%}
            {{ spotify.track(
              name = item.track.name,
              artist = item.track.artists[0].name,
              album = item.track.album.name,
              link = item.track.external_urls.spotify,
              albumlink = item.track.album.external_urls.spotify,
              previewlink = item.track.preview_url,
              cover = item.track.album.images[0].url
            ) }}
          {%- endfor -%}
        {% endset %}

        <div class="flex flex-wrap md:flex-no-wrap border-b-2 border-theme-color-3 mb-4 ">
          <div class="flex-initial flex-shrink-0 self-start w-full md:w-1/5 md:sticky top-0 py-3 md:pt-6 md:pb-12">
            <h4 class="truncate font-bold text-xl lg:text-2xl text-theme-color-5">{{ month }}</h4>
          </div>
          <div class="flex-auto py-6 md:mt-2">
            {{ track | safe }}
          </div>
        </div>
        {% endif %}
      {% endfor %}

  </div>
</section>
