---
layout: layouts/base.njk
title: Musiclog 2019
---

{%- set playlists = [
  [spotify.2019_12, "December"],
  [spotify.2019_11, "November"],
  [spotify.2019_10, "Oktober"],
  [spotify.2019_09, "September"],
  [spotify.2019_08, "Augustus"],
  [spotify.2019_07, "Juli"],
  [spotify.2019_06, "Juni"],
  [spotify.2019_05, "Mei"],
  [spotify.2019_04, "April"],
  [spotify.2019_03, "Maart"],
  [spotify.2019_02, "Februari"],
  [spotify.2019_01, "Januari"]
] -%}

{%- import "src/_includes/macros/section.njk" as section -%}
{%- import "src/_includes/macros/track.njk" as spotify -%}


{% set intro %}
  <h1>{{ title }}</h1>
  <div class="max-w-4xl">
    <p class="text-2xl lg:text-3xl font-medium md:font-bold"><a href="https://open.spotify.com/playlist/0U2gEvXyHaY67UPObHltWl?si=8AP3-qlESwaSoxabPhiyCQ" target="_blank" rel="noopener noreferrer">Luister de complete afspeellijst op Spotify</a></p>
  </div>
{% endset %}

{{ section.row(
  classes = "section--intro",
  content = intro
) }}

{% set musiclog %}
  {% for playlist, month in playlists %}
    {% if playlist.items.length > 0 %}

      {% set track %}
        {%- for i in range(0, playlist.items.length)|reverse -%}
          {%- set item = playlist.items[i] -%}
          {{ spotify.track(
            name = item.track.name,
            artist = item.track.artists[0].name,
            album = item.track.album.name,
            link = item.track.external_urls.spotify,
            albumlink = item.track.album.external_urls.spotify,
            previewlink = item.track.preview_url,
            cover = item.track.album.images[0].url
          ) }}
        {%- endfor -%}
      {% endset %}

      {{ section.collection(
          title = month,
          content = track | safe
        )
      }}

    {% endif %}
  {% endfor %}
{% endset %}

{{ section.row(
  classes = "section--musiclog",
  content = musiclog
) }}
