{% include header.html %}
<body class="index">
	<div class="instagram"></div>
	<a href="#" class="light"><i class="fa fa-lightbulb-o"></i></a>
	<div class="header">
		{% include logo.html %}
		<div class="header__content">
			<h1 class="header__title">Diederik</h1>
			<p><span><em>'Heit'</em> van Elin en Fedde, ervaren front-end developer gespecialiseerd in CSS3 en HTML5. Momenteel werkzaam bij <a href="http://www.tres.nl">TRES</a>.</span></p>
			{% include social.html %}
		</div>
		<!--<a href="#" class="header__link"><i class="fa fa-arrow-circle-down"></i></a>-->
	</div>

	<div class="default" style="display: none">
		

		{{ content }}
	</div>


{% include footer.html %}