{% include head.html %}
<div class="site">

  <header class="mod mod--header">
    <div class="mod__content">
      <p>{{site.description}}</p>
      <h1>{{site.title}}</h1>
      {% if page.social %}
      <ul class="social">
      {% for item in page.social %}
        <li><a href="{{ item[1] }}" target="_blank">{{ item[0] }}</a></li>
      {% endfor %}
      </ul>
      {% endif %}
    </div>
  </header>

  {% if page.photoset %}
  <aside class="ps rellax" data-rellax-speed="2">
    {% for images in page.photoset %}
      <div class="ps__img ps__img--{{ forloop.index }} lazyload" data-bgset="
      {% for image in images %}
        {{ image[1].small }} [(max-width: 600px)] |
        {{ image[1].medium }} [(max-width: 1000px)] |
        {{ image[1].large }}
      {% endfor %}
      " data-sizes="auto"></div>
    {% endfor %}
  </aside>
  {% endif %}

  <main class="mod mod--main">
    <div class="mod__content">
      {{ content }}
    </div>
  </main>

</div>
{% include foot.html %}
