{% include header.html %}
<body class="post">

<header class="header">
	<a href="/" class="header__logo">logo</a>
	{% if page.image %}<img src="{{ page.image }}" />{% endif %}
	<h1 class="header__title">{{page.title}}</h1>
</header>

<main class="main">
{{ content }}
</main>

{% if page.previous %}
	{% if page.previous.designs == nil %}
		<a href="{{ page.previous.url }}" id="readMore">
			<span class="{{ page.previous.bgcolour }}">Vorige bericht</span>
			<h2>{{ page.previous.title }}</h2>
		</a>
	{% endif %}
{% endif %}

{% include footer.html %}