{% include head.html %}

<div class="site site--year">

  <main class="mod mod--year mod--year--intro">
    <div class="mod__bgtxt">
      <div class="mod__bgtxt__wrapper">
        <h1 class="year-title">{{ page.title }}</h1>
      </div>
    </div>
    <div class="mod__content">
      <h3>{{ content }}</h3>
    </div>
  </main>

  {% if page.strava.month %}
  <main class="mod mod--year mod--year--cycling">
    <div class="mod__content">
      <h1>Wielrennen</h1>
      {% assign distance = 0 %}
      {% assign rides = 0 %}
      {% assign time = 0 %}
      {% assign distance_list = "" | split: ", " %}
      {% for strava in page.strava.month %}
        {% assign distance = distance | plus: strava.distance %}
        {% assign rides = rides | plus: strava.rides %}
        {% assign time = time | plus: strava.time %}
        {% assign distance_list = distance_list | push: strava.distance %}
      {% endfor %}
      {% assign longest = distance_list | sort | last %}
      {% assign longest = longest | times: 1.0 %}
      <h3>Totaal: {{ distance | append: "km" }} - {{ rides | append: " ritten"}} - {{ time | append: " uur" }}</h3>
      Gemiddelde afstand per rit: <strong>{{ distance | divided_by: rides | append: "km" }}</strong><br />
      Gemiddelde snelheid: <strong>{{ distance | divided_by: time | append: "km/h" }}</strong>
    </div>
    <div class="mod__background">
      <div class="bars-chart__wrapper">
        <ul class="bars-chart">
          {% for strava in page.strava.month %}
          <li>
            <!--{{ strava.distance | append: "km" }} - {{ strava.rides }} - {{ strava.time  | append: "h" }}-->
            <div
              class="bars-chart__month"
              style="height: {{ strava.distance | divided_by: longest | times: 100 | round }}%">
              {% if strava.distance != 0 %}
                <span>{{ strava.distance }}</span>
              {% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>
        {% assign n = longest | divided_by: 100 | round %}
        {% for num in (0...n) %}
        <div
          class="bars-chart__ruler bars-chart__ruler-{{ num }}"
          style="bottom: {{ num | divided_by: longest | times: 10000 | round }}%">
        </div>
      {% endfor %}
      </div>
    </div>
  </main>
  {% endif %}

  <main class="mod mod--year mod--year--music">
    <div class="mod__content">
      <h2>Muziek</h2>
      {% if page.music.albums %}
      <h4>Albums</h4>
      <ul>
      {% for album in page.music.albums %}
        <li>
          <img src="{{ album.cover_image }}" alt="{{ album.title }}" class="lazyload">
          <a href="{{ album.spotify_url }}" target="_blank">{{ album.artist }} - {{ album.title }}</a>
        </li>
      {% endfor %}
      </ul>
      {% endif %}
      {% if page.music.songs %}
      <h4>Songs</h4>
      {% for song in page.music.songs %}
        <li>
          <a href="{{ song.spotify_url }}" target="_blank">{{ song.artist }} - {{ song.title }}</a>
        </li>
      {% endfor %}
      {% endif %}
    </div>
  </main>

  <main class="mod mod--main">
    <div class="mod__content">
      <ul>
      {% for highlight in page.highlights.description %}
        <li>{{ highlight | markdownify }}</li>
      {% endfor %}
      </ul>
    </div>
  </main>

</div>
{% include foot.html %}
