---
layout: layouts/base.njk
title: Design Guide
---

{%- import "src/_includes/macros/section.njk" as section -%}

{{ section.row(
  content = "<h1>" + title + "</h1>"
) }}

<style>
  .output--headings * {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>

{% set headings %}
<h1>H1. Lorem ipsum dolor sit amet consectetur adipiscing elit</h1>
<h2>H2. Lorem ipsum dolor sit amet consectetur adipiscing elit</h2>
<h3>H3. Lorem ipsum dolor sit amet consectetur adipiscing elit</h3>
<h4>H4. Lorem ipsum dolor sit amet consectetur adipiscing elit</h4>
<h5>H5. Lorem ipsum dolor sit amet consectetur adipiscing elit</h5>
{% endset %}

{{ section.row(
  classes = "section--guide",
  content = section.output(
              title = "Headings",
              content = headings,
              code = true
            )
) }}

{% set bodytext %}
<p>Lorem ipsum <a href="#">dolor</a> sit amet <strong>consectetur</strong> <em>adipiscing</em> elit duis leo mattis elementum dictum aliquet integer dis, nunc ligula magna curabitur platea imperdiet rhoncus maecenas pulvinar commodo.</p>
{% endset %}

{{ section.row(
  classes = "section--guide",
  content = section.output(
              title = "Bodytext",
              content = bodytext,
              beforeContent = '<div class="max-w-xl">',
              afterContent = '</div>',
              code = true
            )
) }}

{% set intro %}
<p class="mb-4 text-2xl lg:text-3xl font-medium md:font-bold">Lorem ipsum <a href="#">dolor</a> sit amet consectetur adipiscing elit duis leo mattis elementum dictum aliquet integer dis, nunc ligula magna curabitur platea imperdiet rhoncus maecenas pulvinar commodo.</p>
{% endset %}

{{ section.row(
  classes = "section--guide",
  content = section.output(
              title = "Introduction",
              content = intro,
              code = true
            )
) }}

{% set unorderedlist %}
<ul>
  <li>Lorem ipsum dolor sit amet consectetur adipiscing</li>
  <li>Lorem ipsum dolor sit amet consectetur adipiscing</li>
  <li>Lorem ipsum dolor sit amet consectetur adipiscing</li>
</ul>
{% endset %}

{{ section.row(
  classes = "section--guide",
  content = section.output(
              title = "Unordered list",
              content = unorderedlist,
              beforeContent = '<div class="max-w-xl">',
              afterContent = '</div>',
              code = true
            )
) }}

{% set orderedlist %}
<ol>
  <li>Lorem ipsum dolor sit amet consectetur adipiscing</li>
  <li>Lorem ipsum dolor sit amet consectetur adipiscing</li>
  <li>Lorem ipsum dolor sit amet consectetur adipiscing</li>
</ol>
{% endset %}

{{ section.row(
  classes = "section--guide",
  content = section.output(
              title = "Ordered list",
              content = orderedlist,
              beforeContent = '<div class="max-w-xl">',
              afterContent = '</div>',
              code = true
            )
) }}

<style>
.section--example, .section--example .content{ border: 2px dashed #999; }
</style>

{% set rows %}
{{ section.row(
  classes = "section--example",
  content = "&nbsp;"
) }}
{% endset %}

{{ section.row(
  classes = "section--guide",
  content = section.output(
              title = "Rows",
              content = rows,
              code = true
            )
) }}


