---
layout: layouts/base.njk
title: Design Guide
---

{%- import "src/_includes/macros/section.njk" as section -%}

{{ section.row(
  content = "<h1>" + title + "</h1>"
) }}

{% set headings %}
<div class="output">
  <h1 class="truncate">H1. Lorem ipsum dolor sit amet consectetur adipiscing elit</h1>
  <h2 class="truncate">H2. Lorem ipsum dolor sit amet consectetur adipiscing elit</h2>
  <h3 class="truncate">H3. Lorem ipsum dolor sit amet consectetur adipiscing elit</h3>
  <h4 class="truncate">H4. Lorem ipsum dolor sit amet consectetur adipiscing elit</h4>
  <h5 class="truncate">H5. Lorem ipsum dolor sit amet consectetur adipiscing elit</h5>
</div>
{% endset %}

{{ section.row(
  classes = "section--guide",
  content = "<h4>Headings</h4>" + headings
) }}

{% set bodytext %}
<div class="output">
  <div class="max-w-xl">
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit duis leo mattis elementum dictum aliquet integer dis, nunc ligula magna curabitur platea imperdiet rhoncus maecenas pulvinar commodo congue pretium eget facilisi. Taciti tempor id rutrum adipiscing arcu mus nascetur vulputate dis, imperdiet montes tortor phasellus auctor quam egestas feugiat, velit vestibulum sit himenaeos purus massa duis sagittis. Cubilia justo nunc ipsum lectus magna pellentesque parturient purus proin, nec elit molestie malesuada laoreet dictumst rutrum enim fringilla mattis, hendrerit sagittis vehicula dictum pretium consequat felis metus. Viverra tincidunt habitasse at natoque vestibulum porttitor lectus mattis sapien, odio elit integer sed cras auctor sociis. Lacus est cum accumsan sagittis massa metus urna, leo varius vulputate lorem ullamcorper lacinia, vivamus laoreet sollicitudin pharetra adipiscing tempus.</p>
  </div>
</div>
{% endset %}

{{ section.row(
  classes = "section--guide",
  content = "<h4>Bodytext</h4>" + bodytext
) }}

<!-- ROWS -->
<style>
.section--example, .section--example .content{ border: 2px dashed #999; }
</style>
{{ section.row(
  classes = "section--example",
  content = "Example"
) }}
