$grid-columns: 12;
$max-width: 1800;

.grid {
	@include clearfix();
	margin: 0;
	position: relative;
	z-index: 1;

	// @include mq($max-width) {
	// 	margin: 0 auto;
	// }

	// @include mq($bp-tablet) {
	// 	left: 5vw;
	// 	margin: 0;
	// 	position: absolute;
	// 	right: 5vw;

		&-fixed {
			left: 5vw;
			margin: 0;
			position: fixed;
			right: 5vw;
		}
	// }

	// @include mq(1320) {
	// 	left: 50%;
	// 	margin-left: -600px;
	// 	right: auto;
	// 	width: 1200px;
	// }

	@for $i from 2 through 10 {
		&-#{$i} { 
			z-index: $i;
		}
	}
}

// COLUMS
.col {
	// background: $color-grey-lighter;
	@include clearfix();
	display: inline;
	float: left;
	text-align: center;
	width: 100%;

	@include mq(800) {

		@for $i from 1 through $grid-columns {
			&-m-#{$i} { 
				width: 100% / $grid-columns * $i;
			}

			&-offset-m-#{$i} { 
				margin-left: 100% / $grid-columns * $i;
			}
		}

		&-m-hide {
			display: none;
		}
	}

	@include mq(1200, true) {
		@for $i from 1 through $grid-columns {
			&-l-#{$i} { 
				width: 100% / $grid-columns * $i;
			}

			&-offset-l-#{$i} { 
				margin-left: 100% / $grid-columns * $i;
			}
		}

		&-l-hide {
			display: none;
		}
	}

	@for $i from 1 through $grid-columns {
		&-s-#{$i} { 
			width: 100% / $grid-columns * $i;
		}

		&-offset-s-#{$i} { 
			margin-left: 100% / $grid-columns * $i;
		}
	}

	&-s-hide {
		display: none;
	}
}
