header {
	left: 0;
	opacity: 0;
	padding: 10vw;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 0;

	@include mq(500) {
		padding: 50px;
	}

	.done & {
		opacity: 1;
		transition: opacity 600ms;
	}

	img {
		display: block;
		margin: 0 auto;
		max-width: 400px;
		min-width: 180px;
		opacity: .8;
		width: 50%;
	}

	.touch & {
		position: absolute;

		img {
			opacity: 1;
		}
	}
}

main {
	left: 0;
	padding: 247px 20px 100px;
	position: relative;
	right: 0;
	top: 0;
	z-index: 1;

	@include mq(550) {
		padding-top: 45%;
	}

	@include mq(1100) {
		padding-top: 495px;
	}
}

.post {
	padding: 100px 20px;

	.content {
		line-height: 1.8;
		margin: 0 auto;
		max-width: 1600px;
		padding: 80px 2% 30px;
		text-align: left;
	}
}

.posts {
	@extend %text;
	border-top: 1vw solid transparentize($color-txt, .9);
	list-style: none;
	margin-bottom: 50px;
	padding-bottom: 50px;

	@include mq(550) {
		border-top: 5px solid transparentize($color-txt, .9);
	}
}

.post__link {
	@include text-size(18, 600, 1200, 30);
	border-bottom: 1vw solid transparentize($color-txt, .9);
	font-weight: 700;
	padding: .5em 0;
	transition: transform 300ms cubic-bezier(.75, -.5, 0, 1.75);

	@include mq(550) {
		border-bottom: 5px solid transparentize($color-txt, .9);
	}

	span {
		@include text-size(14, 600, 800, 0);
		display: block;
		font-weight: 400;
		padding-bottom: .3em;
	}

	&:hover {
		transform: translateZ(0) scale(1.05);
	}
}

