header {
	left: 0;
	opacity: 0;
	padding: 10vw;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 0;

	@include mq(500) {
		padding: 50px;
	}

	.done & {
		opacity: 1;
		transition: opacity 600ms;
	}

	img {
		display: block;
		margin: 0 auto;
		max-width: 400px;
		min-width: 180px;
		opacity: .8;
		width: 50%;
	}

	.touch & {
		position: absolute;

		img {
			opacity: 1;
		}
	}
}

main {
	left: 0;
	padding: 247px 20px 100px;
	position: relative;
	right: 0;
	top: 0;
	z-index: 1;

	@include mq(550) {
		padding-top: 45%;
	}

	@include mq(1100) {
		padding-top: 495px;
	}
}

.post {
	padding: 100px 20px;

	.content {
		line-height: 1.8;
		margin: 0 auto;
		max-width: 640px;
		padding: 80px 0 30px;
		text-align: left;
	}
}
