.nav {
  @include text-size(15, 600, 800, 0);
  background: $color-1;
  border: 2px solid $color-2;
  box-shadow: 0 6px 0 -2px transparentize($color-2, .8);
  left: 10px;
  line-height: 1.2;
  margin-top: 15px;
  position: absolute;
  right: 10px;
  top: 0;
  transform: translateY(-100px);
  transition: transform 300ms ease-in-out;
  z-index: 100;

  .done & {
    transform: translateY(0);

    &.nav-up {
      transform: translateY(-100px);
    }

    &.nav-down {
      transform: translateY(0);
    }
  }

  .name {
    display: inline;
    float: left;
    font-weight: 700;
    padding: .5em 1em;
  }

  .menu {
    @include clearfix();
    display: inline;
    float: right;
    padding: 0;
    margin: 0;

    &__item {
      display: inline;
      float: left;
    }

    &__link {
      background: $color-1;
      border-left: 2px solid $color-2;
      display: block;
      padding: .5em 1em;

      &:hover {
        background: shade($color-1, 5);
      }
    }
  }

  @include mq(800) {
    box-shadow: 0 10px 0 -2px transparentize($color-2, .8);
    left: 20px;
    margin-top: 20px;
    right: 20px;

    .no-touch & {
      position: fixed;
    }
  }

  @include mq(1240) {
    left: 50%;
    margin-left: -600px;
    right: auto;
    width: 1190px;
  }
}
