{% extends '../layouts/default.njk' %}

{% block content %}

{% if renderData.title or title %}
  <h1>{% if renderData.title %}{{ renderData.title }}{% else %}{{ title }}{% endif %}</h1>
{% endif %}

{% if description %}
  <section>
    <p>{{ description | toHTML | safe  }}</p>
  </section>
{% endif %}

{% if content %}
  <div class="mt-12">
    {{ content | safe }}
  </div>
{% endif %}

{% endblock %}
