{% extends '../layouts/default.njk' %}

{% block content %}

  {%- import "article.njk" as article with context -%}
  {{ article.article(
    postType = type,
    postTitle = title,
    postDate = page.date,
    postHideTitle = hide_title,
    postUrl = "",
    postTags = tags,
    postImage = thumbnail,
    bodyContent = content,
    postLinks = link,
    postGallery = gallery
  ) }}

{% endblock %}
