* {
  @include font-size(1.1);
  line-height: 2;

  &::selection {
    background: $color-accent-1;
  }
}

strong {
  @include md('**');
  font-weight: bold;
}

em,
i {
  @include md('_');
  font-style: italic;
}

del {
  @include md('~', true);
  color: $color-grey-light;
  padding: 0 .8em;
  text-decoration: line-through;
}


dfn {
  font-style: italic;
}

mark {
  @include padding(0, .2);
  background: $color-accent-1;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

small {
  @include line-height(.5);
  font-size: 80%;
}

.uppercase {
  letter-spacing: .1em;
  text-transform: uppercase;
}

.meta {
  color: $color-grey-light;
  display: block;

  .post & {
    @include margin-bottom(2);
  }
}

@import 'headings',
        'blockquote',
        'links',
        'images',
        'svg',
        'lists',
        'forms',
        'tables',
        'embed',
        'hr';
