body {
  @include font-size(1.6);
  line-height: $line-height;
}

.content {
  box-sizing: border-box;
  flex: 1;
  margin: 20px auto 0;
  max-width: $max-width;
  padding: 30vh 5% 20vh;

  @include mq($size-l) {
    padding: 30vh 40px 20vh;
  }

  > *:not(:first-child) {
    margin: 4rem 0 0;
  }
}

p {
  margin: 0;
}

::selection {
  background: $color-accent-1;
  color: $color-black;
}

strong {
  color: tint($color-text, 50);
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

del {
  color: $color-grey;
  text-decoration: line-through;
}


dfn {
  font-style: italic;
}

mark {
  background: $color-accent-1;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

small {
  font-size: 80%;
}

.uppercase {
  letter-spacing: .1em;
  text-transform: uppercase;
}

.meta {
  opacity: .5;
}

@import 'headings',
        'blockquote',
        'links',
        'images',
        'svg',
        'lists',
        'forms',
        'tables',
        'embed',
        'hr';
