blockquote {
  @include margin(2, 0);
  @include md-before('>');
  @include padding(.5, 1);
  background: $color-text !important;
  border-left: .3rem solid $color-accent-1;
  box-sizing: border-box;
  color: $color-grey-lighter;
  font-weight: bold;

  cite {
    @include font-size(1);
    font-style: normal;
    font-weight: 400;
    margin-left: .5rem;

    a {
      color: $color-grey-lighter;
      font-weight: normal;
    }
  }
}
