// Headings
@each $heading, $properties in $headings {
  #{$heading} {
    @include line-height(1.2);
    @include margin-bottom(nth($properties, 3));
    @include margin-top(nth($properties, 2));
    color: $color-headings;

    body:not(.home--new) & {
      @include md-before(#{nth($properties, 1)});
    }
  }
}

h1 {

  + h2 {
    @include margin-top(1);
  }

  + .meta {
    position: relative;
    top: -.5rem;
  }
}

h2 + h3,
h3 + h4,
h4 + h5 {
  @include margin-top(.5);
}
