img {
  border: 0;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.figure {
  color: $color-text;
  left: 50%;
  margin: 0 auto 2em;
  max-width: 1600px;
  position: relative;
  text-align: center;
  transform: translateX(-50%);
  width: 100vw;

  a {
    border: 0;
    color: $color-text;
    display: inline-block;

    &:hover {
      figcaption {
        opacity: 1;
      }
    }
  }
}

figcaption {
  display: inline-block;
  font-size: 90%;
  margin-bottom: 0;
  opacity: .5;
  text-align: center;
}

// .lazyloading {
//   position: relative;
//   overflow: hidden;
//   background: yellow;

//   &::before {
//     border: 1px solid $color-white;
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     display: block;
//     content: '';
//     width: 10px;
//     height: 10px;
//     transform: translate(-50%, -50%);
//     z-index: 3;
//   }
// }
