img {
  border: 0;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.figure {
  color: $color-text;
  left: 50%;
  margin: 0 auto 2em;
  max-width: 1600px;
  position: relative;
  text-align: center;
  transform: translateX(-50%);
  width: 100vw;

  a {
    border: 0;
    color: $color-text;
    display: inline-block;

    &:hover {
      figcaption {
        opacity: 1;
      }
    }
  }
}

figcaption {
  display: inline-block;
  font-size: 90%;
  margin-bottom: 0;
  opacity: .5;
  text-align: center;
}

