// Links
a {
  background-color: transparent;
  color: $color-links;
  text-decoration: none;
  position: relative;
  padding-bottom: 1px;
  border-bottom: 1px solid shade($color-white, 60);

  &:active,
  &:hover {
    outline: 0;
    border-bottom-color: $color-accent-1;
  }

  // External links
  // &:not([href*='diederikdijkstra.nl']):not([href^='#']):not([href^='/']) {
  //   position: relative;
  //   padding-right: 1em;

  //   &::before {
  //     color: $color-accent-1;
  //     content: '\2192';
  //   }
  // }

}
