// Links
a {
  background-color: transparent;
  color: $color-links;
  text-decoration: none;

  &:active,
  &:hover {
    outline: 0;
  }

  // External links
  // &:not([href*='diederikdijkstra.nl']):not([href^='#']):not([href^='/']) {
  //   position: relative;
  //   padding-right: 1em;

  //   &::before {
  //     color: $color-accent-1;
  //     content: '\2192';
  //   }
  // }

  .meta & {
    color: $color-grey-light;
    transition: color 300ms;

    &:hover {
      color: $color-grey;
    }
  }

  p > &:not(.btn),
  blockquote &,
  .band:not(.band--nav):not(.band--blog):not(.band--commits) li > &, {
    @include line-hover-fx();
    font-weight: 700;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    z-index: 2;
  }
}

// BUTTON
.btn {
  @include padding(.4, 1);
  background-color: $color-text;
  color: $color-body;
  display: inline-block;
  font-weight: 700;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .2rem;
  transition: transform 300ms ease-in-out;
  z-index: 2;

  .home &:first-of-type {
    @include margin-bottom(1);
  }

  &::after {
    background: $color-accent-1;
    bottom: 0;
    content: '';
    height: .2rem;
    left: 0;
    position: absolute;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 300ms ease-in-out;
    width: 100%;
    z-index: -1;
  }

  &:hover {
    transform: scale(1.1);

    &::after {
      transform: scaleY(1);
    }
  }

  + .btn {
    @include margin-left(2);
  }
}
