// Lists
.l-content ul,
.l-content ol {
  list-style: none;
  padding: 0;

  li {
    position: relative;

    &::before {
      color: $color-grey-light;
      left: 0;
      position: absolute;
      top: 0;
    }

    a {
      display: inline-block;
      position: relative;
    }
  }
}



// .l-content ol {
//   counter-reset: listcounter;

//   li {
//     &::before {
//       content: counter(listcounter) '. ';
//       counter-increment: listcounter;
//     }
//   }
// }
