//  COMPASS
	@import "compass";
	@import "utilities/retina-sprites";
	
	@import "mixins";
	@import "variables";

//	VARIABLES

	$bodycolor 		: #033649;
	$textcolor 		: #E8DDCB;
	$headercolor 	: #CDB380;
	$titlecolor 	: #F4F4F2;

//	STYLING

	body{
		color: $textcolor;
		background-color: $bodycolor;
	}

	.header__title{
		color: $headercolor;
	}

	h2, h3, h4, h5, h6{
		color: $titlecolor;
	}

	.header__title{
		color: $headercolor; 
	}

	.main{

		a{
			color: red;
			border-bottom: 1px solid $accent;
				&:hover, &:active{
					color: red;
					border-bottom: 1px solid red;
				}
		}
	}

	

