.bars-chart {
  @include unselectable();
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 2;

  &__wrapper {
    height: 0;
    left: 50%;
    margin: 30vh 0 0;
    max-width: 1280px;
    padding-bottom: 70vh;
    position: relative;
    transform: translateX(-50%);
    width: 80vw;
  }

  &__ruler {
    background: $color-white;
    display: block;
    height: 1px;
    left: 50%;
    opacity: .05;
    position: absolute;
    transform: translateX(-50%);
    width: 100vw;
    z-index: 1;

    &-0 {
      z-index: 3;
    }
  }

  li {
    flex: 1 1 auto;
    margin: 0 1px 0 0;
    position: relative;

    &:first-child {

      &::before {
        background: $color-white;
        bottom: 0;
        content: '';
        height: 100vh;
        left: -1px;
        opacity: .05;
        position: absolute;
        width: 1px;
        z-index: 1;
      }
    }

    &::after {
      background: $color-white;
      bottom: 0;
      content: '';
      height: 100vh;
      opacity: .05;
      position: absolute;
      right: -1px;
      width: 1px;
      z-index: 1;
    }

    div {
      bottom: 1px;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      width: 100%;

      &::after {
        // background: $color-accent-1;
        background: linear-gradient(135deg, $color-accent-1 0%, shade($color-accent-1, 35) 100%);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: 1;
      }

      span {
        bottom: 1vh;
        color: $color-black;
        cursor: default;
        display: none;
        font-size: 1.6vw;
        font-weight: bold;
        left: 0;
        opacity: .15;
        padding-top: 3px;
        position: absolute;
        right: 0;
        text-align: center;
        z-index: 2;

        @include mq($size-m) {
          display: block;
        }

        @include mq($size-xl) {
          @include font-size(1.6);
        }
      }
    }
  }
}
