<footer class="py-6 md:pb-12">

  <div class="max-w-screen-xl px-4 md:px-6 mx-auto text-xs md:text-sm font-light opacity-90">
    This site is build with 💜,
      <a href="https://www.11ty.dev/" class="underline hover:opacity-75" target="_blank" rel="noopener noreferrer">Eleventy</a>,
      <a href="https://mozilla.github.io/nunjucks/" class="underline hover:opacity-75" target="_blank" rel="noopener noreferrer">Nunjucks</a>,
      <a href="https://github.com/alpinejs/alpine" class="underline hover:opacity-75" target="_blank" rel="noopener noreferrer">Alpine.js</a>
      and

      <a href="https://tailwindcss.com/" class="underline hover:opacity-75" target="_blank" rel="noopener noreferrer">Tailwind CSS</a>.
      The source code of this site is available on
      <a href="https://github.com/dydric/diederikdijkstra.nl" class="underline hover:opacity-75" target="_blank" rel="noopener noreferrer">GitHub</a>
      and is hosted and updated by
      <a href="https://www.netlify.com/" class="underline hover:opacity-75" target="_blank" rel="noopener noreferrer">Netlify</a>
      automatically after each code commit.

    The used font is the open source typeface <a href="https://rsms.me/inter/" class="underline hover:opacity-75" target="_blank" rel="noopener noreferrer">Inter</a>.
  </div>

</footer>
