<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="theme-color" content="{{ site.meta_data.theme_color }}">
  <base href="{{ page.url }}">

  <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">

  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">
  <meta name="google" content="nositelinkssearchbox">
  <meta name="google" content="notranslate">

  <meta name="generator" content="eleventy">
  <meta name="format-detection" content="telephone=no">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <title>
    {% if renderData.title %}{{ renderData.title }} &mdash; {% endif %}
    {% if title %}{{ title }} &mdash; {% endif %}
    {{ site.title }}
  </title>

  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
  <link rel="manifest" href="/static/favicons/site.webmanifest">
  <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg"color="#222222">
  <meta name="msapplication-TileColor" content="#222222">
  <meta name="theme-color" content="#ffffff">

  <!-- Links to information about the author(s) of the document -->
  <link rel="author" href="humans.txt">

  <!-- Facebook Open Graph meta -->
  <meta property="og:url" content="{{ site.url}}{{ page.url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}">
  {% if site.meta_data.default_social_image or featured_image -%}
  <meta property="og:image" content="{% if featured_image  %}{{ featured_image }}{% else %}{{ site.meta_data.default_social_image }}{% endif %}" />
  {%- endif %}
  <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="en_US">
  <meta property="article:author" content="{{ site.author.name }}">

  <!-- Twitter Open Graph meta -->
  <meta name="twitter:card" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:site" content="{{ site.meta_data.twitter }}">
  <meta name="twitter:creator" content="{{ site.meta_data.twitter }}">
  <meta name="twitter:url" content="{{ site.url}}{{ page.url }}">
  <meta name="twitter:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
  {% if site.meta_data.default_social_image or featured_image -%}
  <meta name="twitter:image" content="{% if featured_image  %}{{ featured_image }}{% else %}{{ site.meta_data.default_social_image }}{% endif %}">
  {%- endif %}
  <!-- disallow Twitter from using your site's info for personalization purposes -->
  <meta name="twitter:dnt" content="on">

  <link href="{{ site.url}}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.title }}" />

  <link rel="stylesheet" href="/app.css?v={% version %}"/>
  <script src="/js/alpine.js?v={% version %}" defer></script>
  <script src="/js/lazysizes.js" async=""></script>
</head>
