{% set navPages = collections.all | eleventyNavigation %}
{% set entryUrl = page.url.split("/")[1] %}
{# {{ navPages | dump | safe }} #}

<ul class="bg-secondary text-left">

  {%- for entry in navPages %}
    {% set parentKey = "" %}
    {% for entry in entry.children %}
      {% if entry.url == page.url %}
        {% set parentKey = entry.parentKey %}
      {% endif %}
    {% endfor %}

    <li class="nav-item block{% if not loop.first %} border-t-2 border-primary{% endif %}">

      <a href="{{ entry.url | url }}"
        class=" block p-2 md:px-3 hover:opacity-75

            {% if (entry.url == page.url) or
                  (entry.title == parentKey) or
                  (entry.title | lower in entryUrl)
            %}
              text-menu-link-active  nav-active font-bold
            {% else %}
              text-menu-link font-medium
            {% endif %}
        "
      >
        {# {{ entryUrl }} #}
        {{ entry.title }}
      </a>

      {# {% if (entry.url == page.url) or
            (entry.title == parentKey)
      %} #}
        {% for entry in entry.children %}
          {% if loop.first %}
            <ul class="submenu pb-3 pl-1">
          {% endif %}
            <li class="block">
              <a href="{{ entry.url | url }}"
                class="block px-3 text-sm font-medium rounded-lg mt-1 hover:opacity-90
                      {% if
                        (entry.url == page.url)
                      %}
                        text-menu-link-active
                      {% else %}
                        text-menu-link
                      {% endif %}
                      "
              >
                {{ entry.title }}
              </a>
            </li>
        {% if loop.last %}
          </ul>
        {% endif %}
      {% endfor %}
    {# {% endif %} #}
  </li>
{%- endfor %}
</ul>

{# {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
  listClass: "text-red-200",
  listItemClass: "p-2",
  listItemHasChildrenClass: "relative",
  activeListItemClass: "text-green-200",
  activeKey: eleventyNavigation.key
}) | safe }} #}
