{% set navPages = collections.all | eleventyNavigation %}
{% set entryUrl = page.url.split("/")[1] %}
{# {{ navPages | dump | safe }} #}

<nav
  :aria-expanded="isOpen"
  :hidden="!isOpen"
  class="sm:mr-6 md:mr-8 sm:block"
>

  <img data-src="/static/images/home/avatar.jpg" alt="{{ site.author.name }}"
    class="
      lazyload hidden sm:block rounded-lg mb-8 w-40 max-w-full shadow-lg
  ">

  <ul class="nav w-40 sm:w-auto md:w-40 rounded-lg shadow-lg border border-cool-gray-200 bg-white overflow-hidden">

  {%- for entry in navPages %}
    {% set parentKey = "" %}
    {% for entry in entry.children %}
      {% if entry.url == page.url %}
        {% set parentKey = entry.parentKey %}
      {% endif %}
    {% endfor %}

    <li class="nav-item block{% if not loop.first %} border-t border-gray-100{% endif %}">

      <a href="{{ entry.url | url }}"
        class=" block p-2 md:px-3 font-bold

            {% if (entry.url == page.url) or
                  (entry.title == parentKey) or
                  (entry.title | lower in entryUrl)
            %}
              text-pink-500
            {% else %}
              text-purple-700
            {% endif %}
        "
      >
        {{ entry.title }}
      </a>

      {% if (entry.url == page.url) or
            (entry.title == parentKey)
      %}
        {% for entry in entry.children %}
          {% if loop.first %}
            <ul class="">
          {% endif %}
            <li class="block">
              <a href="{{ entry.url | url }}"
                class="block px-3 py-1 text-sm font-medium rounded-lg mt-1
                      {% if
                        (entry.url == page.url)
                      %}
                        text-pink-800
                      {% else %}
                        text-green-500
                      {% endif %}
                      "
              >
                {{ entry.title }}
              </a>
            </li>
          {% if loop.last %}
            </ul>
          {% endif %}
        {% endfor %}
      {% endif %}
    </li>
  {%- endfor %}
  </ul>
</nav>

{# {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
  listClass: "text-red-200",
  listItemClass: "p-2",
  listItemHasChildrenClass: "relative",
  activeListItemClass: "text-green-200",
  activeKey: eleventyNavigation.key
}) | safe }} #}
