<aside class="sm:mr-6 md:mr-8">

  <a href="/"><img
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="/static/images/home/avatar_small.jpg" alt="{{ site.author.name }}"
    class="lazyload block rounded-lg mb-4 md:mb-8 w-20 md:w-40 max-w-full shadow-lg"></a>

  <nav class="hidden md:block bg-secondary rounded-lg shadow-2xl border-2 border-primary overflow-hidden md:w-40">
  {% include "partials/menu.njk" %}
  </nav>

</aside>
