{%- if navigation.items -%}
  <nav class="nav">
    <ul>
      {% for item in navigation.items -%}
        {%- set currentAttributes = '' -%}
        {%- if page.url == item.url -%}
          {%- set currentAttributes = ' class="current font-bold no-underline"' -%}
        {%- endif -%}
        <li>
          <a href="{{ item.url }}"{{ currentAttributes | safe }}>{{ item.text }}</a>
          {%- if item.items %}
            <ul>
            {%- for item in item.items %}
              <li>
                <a href="{{ item.url }}">{{ item.text }}</a>
              </li>
            {%- endfor %}
          </ul>
          {%- endif %}
        </li>
      {% endfor -%}
    </ul>
    <ul class="text-sm">
      <li>
        <a href="mailto:diederikdijkstra@icloud.com" target="_blank" rel="noopener noreferrer">E-mail</a>
      </li>
      <li>
        <a href="https://twitter.com/dydric" target="_blank" rel="noopener noreferrer">Twitter</a>
      </li>
      <li>
        <a href="https://instagram.com/dydric" target="_blank" rel="noopener noreferrer">Instagram</a>
      </li>
    </ul>
  </nav>
{%- endif -%}
