// scss-lint:disable IdSelector
#nprogress {
	pointer-events: none;

	.bar {
		background: $color-2;
		height: 5px;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 101;
	}

	.peg {
		display: none;
	}
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative;

	#nprogress .bar {
		position: absolute;
	}
}
// scss-lint:enable IdSelector


.status {
	height: 2px;
	left: 0;
	position: fixed;
	top: 0;
	transform: translateY(-2px);
	transition: all 500ms 500ms cubic-bezier(.75, -.5, 0, 1.75);
	width: 100%;
	z-index: 101;

	.done & {
		transform: translateY(0);
	}

	.bar {
		background: $color-2;
		display: inline;
		float: left;
		height: 2px;
		width: 0;
	}
}
